In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as py
import cufflinks as cf
%matplotlib inline
%matplotlib notebook

In [2]:
from plotly.offline import iplot
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

In [3]:
delivers = pd.read_csv('D:\datasets\deliveries.csv')

In [4]:
delivers.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
delivers.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [6]:
delivers.shape

(179078, 21)

In [7]:
delivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [8]:
matches = pd.read_csv('D:\datasets\matches.csv')

In [9]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [10]:
matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [11]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [12]:
matches.shape

(756, 18)

In [13]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [14]:
matches["result"].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [15]:
tie = matches[matches['result'] == 'tie']
tie

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [16]:
no_result =matches[matches['result'] == 'no result']
no_result

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [17]:
matches_result = matches[['team1','team2','winner']]
matches_result.head()

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [18]:
matches_result['lost'] = matches_result.apply(lambda x:   (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis = 1)

In [19]:
matches_result.head(10)

,team1,team2,winner,lost
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils
5,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,Gujarat Lions
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Kolkata Knight Riders
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Royal Challengers Bangalore
8,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,Rising Pune Supergiant
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Sunrisers Hyderabad

In [20]:
wins = matches_result['winner'].value_counts()
wins

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                  10
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [21]:
lost = matches_result['lost'].value_counts()
lost

Royal Challengers Bangalore    95
Kings XI Punjab                94
Delhi Daredevils               94
Kolkata Knight Riders          86
Mumbai Indians                 78
Rajasthan Royals               70
Chennai Super Kings            64
Sunrisers Hyderabad            50
Deccan Chargers                46
Pune Warriors                  33
Gujarat Lions                  17
Rising Pune Supergiants         9
Kochi Tuskers Kerala            8
Delhi Capitals                  6
Rising Pune Supergiant          6
Name: lost, dtype: int64

In [22]:
wins.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Winning Count')

In [23]:
lost.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Losing Count')

# CSK VS DC HEAD TO HEAD

In [28]:
def get_cskvsdc(team1,team2):
    teams =['Chennai Super Kings','Delhi Daredevils']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [29]:
index = [ ]

for row in matches.iterrows():
    flag = get_cskvsdc(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

18

In [30]:
csk_dc = matches[index]

In [31]:
csk_dc.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
78,79,2008,Chennai,2008-05-02,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,normal,0,Delhi Daredevils,0,8,V Sehwag,"MA Chidambaram Stadium, Chepauk",BF Bowden,K Hariharan,NaN

In [32]:
csk_dc['dl_applied']

78     0
86     0
124    0
140    0
184    0
223    0
288    0
317    0
363    0
379    0
403    0
445    0
464    0
482    0
518    0
564    0
665    0
687    0
Name: dl_applied, dtype: int64

In [33]:
csk_dc = csk_dc.drop('dl_applied',axis=1)

# Head to Head Matches

In [34]:
csk_dc['winner'].value_counts().iplot(kind='bar')

In [35]:
team_win= csk_dc[['team1','team2','toss_winner','toss_decision','winner']]
team_win.head()

,team1,team2,toss_winner,toss_decision,winner
78,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Delhi Daredevils
86,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings
124,Delhi Daredevils,Chennai Super Kings,Delhi Daredevils,bat,Delhi Daredevils
140,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,field,Chennai Super Kings
184,Delhi Daredevils,Chennai Super Kings,Delhi Daredevils,bat,Chennai Super Kings

In [36]:
team_decision= csk_dc[['toss_winner','toss_decision','winner']]
team_decision.head()

             toss_winner toss_decision               winner
78   Chennai Super Kings           bat     Delhi Daredevils
86   Chennai Super Kings         field  Chennai Super Kings
124     Delhi Daredevils           bat     Delhi Daredevils
140     Delhi Daredevils         field  Chennai Super Kings
184     Delhi Daredevils           bat  Chennai Super Kings

In [37]:
corr = csk_dc.corr()

In [38]:
sns.heatmap(corr,annot = True)

In [39]:
csk_dc['venue'].value_counts()

MA Chidambaram Stadium, Chepauk                     7
Feroz Shah Kotla                                    6
Sheikh Zayed Stadium                                1
Kingsmead                                           1
New Wanderers Stadium                               1
Maharashtra Cricket Association Stadium             1
Shaheed Veer Narayan Singh International Stadium    1
Name: venue, dtype: int64

In [40]:
venue= csk_dc[['toss_winner','toss_decision','venue','winner']]
venue.head(18)

,toss_winner,toss_decision,venue,winner
78,Chennai Super Kings,bat,"MA Chidambaram Stadium, Chepauk",Delhi Daredevils
86,Chennai Super Kings,field,Feroz Shah Kotla,Chennai Super Kings
124,Delhi Daredevils,bat,Kingsmead,Delhi Daredevils
140,Delhi Daredevils,field,New Wanderers Stadium,Chennai Super Kings
184,Delhi Daredevils,bat,Feroz Shah Kotla,Chennai Super Kings
223,Chennai Super Kings,bat,"MA Chidambaram Stadium, Chepauk",Delhi Daredevils
288,Chennai Super Kings,bat,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings
317,Delhi Daredevils,field,Feroz Shah Kotla,Delhi Daredevils
363,Chennai Super Kings,field,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings
379,Delhi Daredevils,field,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings
403,Chennai Super Kings,bat,Feroz Shah Kotla,Chennai Super Kings
445,Chennai Super Kings,bat,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings
464,Chennai Super Kings,bat,Sheikh Zayed Stadium,Chennai Super Kings
482,Chennai Super Kings,field,Feroz Shah Kotla,Chennai Super Kings
518,Delhi Daredevils,field,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings
564,Chennai Super Kings,bat,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils
665,Delhi Daredevils,field,Maharashtra Cricket Association Stadium,Chennai Super Kings
687,Chennai Super Kings,field,Feroz Shah Kotla,Delhi Daredevils

In [41]:
toss_win_decision= csk_dc[['toss_winner','toss_decision']]
toss_win_decision.head(20)

             toss_winner toss_decision
78   Chennai Super Kings           bat
86   Chennai Super Kings         field
124     Delhi Daredevils           bat
140     Delhi Daredevils         field
184     Delhi Daredevils           bat
223  Chennai Super Kings           bat
288  Chennai Super Kings           bat
317     Delhi Daredevils         field
363  Chennai Super Kings         field
379     Delhi Daredevils         field
403  Chennai Super Kings           bat
445  Chennai Super Kings           bat
464  Chennai Super Kings           bat
482  Chennai Super Kings         field
518     Delhi Daredevils         field
564  Chennai Super Kings           bat
665     Delhi Daredevils         field
687  Chennai Super Kings         field

In [42]:
csk_dc.shape

(18, 17)

In [43]:
csk_dc.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'winner', 'win_by_runs', 'win_by_wickets',
       'player_of_match', 'venue', 'umpire1', 'umpire2', 'umpire3'],
      dtype='object')

In [45]:
csk_dc.isnull().sum()

id                  0
season              0
city                0
date                0
team1               0
team2               0
toss_winner         0
toss_decision       0
result              0
winner              0
win_by_runs         0
win_by_wickets      0
player_of_match     0
venue               0
umpire1             0
umpire2             0
umpire3            16
dtype: int64

In [46]:
csk_dc=csk_dc.drop('umpire3',axis =1)

In [47]:
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [48]:
delivers.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [49]:
delivers['batting_team'].value_counts()

Mumbai Indians                 22619
Kings XI Punjab                20931
Royal Challengers Bangalore    20908
Kolkata Knight Riders          20858
Chennai Super Kings            19762
Delhi Daredevils               18786
Rajasthan Royals               17292
Sunrisers Hyderabad            12908
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Delhi Capitals                  1909
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [50]:
def get_cskvsdc(batting_team,bowling_team):
    teams =['Chennai Super Kings','Delhi Daredevils']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [51]:
index = [ ]

for row in delivers.iterrows():
    flag = get_cskvsdc(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

4283

In [52]:
csk_dcdel = delivers[index]

In [53]:
csk_dcdel.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18372,79,1,Chennai Super Kings,Delhi Daredevils,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18373,79,1,Chennai Super Kings,Delhi Daredevils,1,2,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18374,79,1,Chennai Super Kings,Delhi Daredevils,1,3,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18375,79,1,Chennai Super Kings,Delhi Daredevils,1,4,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18376,79,1,Chennai Super Kings,Delhi Daredevils,1,5,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN

In [54]:
csk_dcdel.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

# Runs scored totally in the match

In [55]:
csk_dcdel.groupby('match_id')['total_runs'].sum()

match_id
79      341
87      375
125     369
141     308
185     375
224     225
289     334
318     221
364     229
380     358
404     252
446     303
465     261
483     359
519     299
565     239
7923    424
7945    301
Name: total_runs, dtype: int64

# Runs Scored by CSK against DC

In [59]:
name = 'Chennai Super Kings'
battingteam = csk_dcdel[csk_dcdel['batting_team'] == name]
battingteam.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18372,79,1,Chennai Super Kings,Delhi Daredevils,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [60]:
battingteam.groupby('match_id')['total_runs'].sum()

match_id
79      169
87      188
125     180
141     163
185     190
224     112
289     176
318     110
364     115
380     222
404     169
446     168
465     177
483     181
519     150
565     119
7923    218
7945    130
Name: total_runs, dtype: int64

# Number of No Balls in match

In [61]:
csk_dcdel.groupby('match_id')['noball_runs'].sum()

match_id
79      4
87      2
125     1
141     1
185     1
224     2
289     1
318     0
364     0
380     0
404     0
446     0
465     0
483     0
519     1
565     0
7923    1
7945    0
Name: noball_runs, dtype: int64

# CSK Wickets in Death Overs

In [68]:
csk_dcdel['batting_team'].unique()

array(['Chennai Super Kings', 'Delhi Daredevils'], dtype=object)

In [69]:
name = 'Delhi Daredevils'
CSK_wicket = csk_dcdel[csk_dcdel['batting_team'] == name]

In [70]:
CSK_wicket.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [73]:
CSK_wicket.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18498,79,2,Delhi Daredevils,Chennai Super Kings,1,1,G Gambhir,V Sehwag,M Ntini,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18499,79,2,Delhi Daredevils,Chennai Super Kings,1,2,V Sehwag,G Gambhir,M Ntini,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18500,79,2,Delhi Daredevils,Chennai Super Kings,1,3,V Sehwag,G Gambhir,M Ntini,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18501,79,2,Delhi Daredevils,Chennai Super Kings,1,4,V Sehwag,G Gambhir,M Ntini,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
18502,79,2,Delhi Daredevils,Chennai Super Kings,1,5,V Sehwag,G Gambhir,M Ntini,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [72]:
CSK_wicket.shape

(2092, 21)

In [74]:
CSK_wicket['over'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20], dtype=int64)

In [78]:
Csk_deathover = CSK_wicket[(CSK_wicket['over']>=16)&(CSK_wicket['over']<=20)]

In [79]:
Csk_deathover.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [83]:
Csk_deathover.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18591,79,2,Delhi Daredevils,Chennai Super Kings,16,1,S Dhawan,AB de Villiers,M Ntini,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18592,79,2,Delhi Daredevils,Chennai Super Kings,16,2,S Dhawan,AB de Villiers,M Ntini,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18593,79,2,Delhi Daredevils,Chennai Super Kings,16,3,AB de Villiers,S Dhawan,M Ntini,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
18594,79,2,Delhi Daredevils,Chennai Super Kings,16,4,AB de Villiers,S Dhawan,M Ntini,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18595,79,2,Delhi Daredevils,Chennai Super Kings,16,5,S Dhawan,AB de Villiers,M Ntini,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [81]:
dismissals = Csk_deathover[ pd.notnull(Csk_deathover["player_dismissed"])]
dismissals = dismissals[["match_id", "over","inning", "player_dismissed", "dismissal_kind", "fielder"]]

In [82]:
dismissals

        match_id  over  inning player_dismissed dismissal_kind         fielder
20339         87    18       1        G Gambhir         caught   CK Kapugedera
20344         87    19       1         S Dhawan         caught   CK Kapugedera
20346         87    20       1     Shoaib Malik         caught        SK Raina
28896        125    20       1        MK Tiwary         caught      A Flintoff
32944        141    16       2        DA Warner        stumped        MS Dhoni
32949        141    17       2         M Manhas         bowled             NaN
32953        141    18       2       KD Karthik         caught  M Muralitharan
32957        141    18       2       PJ Sangwan         bowled             NaN
32963        141    19       2         R Bhatia         caught        L Balaji
43455        185    17       1       KD Karthik            lbw             NaN
43473        185    20       1         R Bhatia         caught        SK Raina
68440        289    16       2  Y Venugopal Rao         bowled             NaN
68452        289    18       2         JR Hopes         caught      MEK Hussey
68465        289    20       2      AB McDonald         caught         WP Saha
89980        380    16       2      Sunny Gupta        stumped        MS Dhoni
89984        380    17       2         UT Yadav         bowled             NaN
89986        380    17       2         VR Aaron        run out        MS Dhoni
95785        404    16       2         M Morkel         bowled             NaN
95790        404    17       2        KM Jadhav         caught        DJ Bravo
95798        404    18       2         UT Yadav         caught        SK Raina
105853       446    17       2        DA Warner         caught         M Vijay
105860       446    18       2        IK Pathan         bowled             NaN
105861       446    18       2          A Nehra         caught        MS Dhoni
110313       465    16       2         S Nadeem         caught        SK Raina
123166       519    16       2        JP Duminy         bowled             NaN
123179       519    18       2  NM Coulter-Nile         bowled             NaN
123186       519    19       2         A Mishra        run out        MS Dhoni
123191       519    20       2      Imran Tahir         caught        SK Raina
134058       565    16       2        JA Morkel         caught       IC Pandey
157584      7923    18       2          RR Pant         caught       RA Jadeja

In [87]:
dismissals.head()

       match_id  over  inning player_dismissed dismissal_kind        fielder
20339        87    18       1        G Gambhir         caught  CK Kapugedera
20344        87    19       1         S Dhawan         caught  CK Kapugedera
20346        87    20       1     Shoaib Malik         caught       SK Raina
28896       125    20       1        MK Tiwary         caught     A Flintoff
32944       141    16       2        DA Warner        stumped       MS Dhoni

In [88]:
wickets_dismissed = dismissals.groupby(['match_id','inning','over'])['dismissal_kind'].sum()

In [89]:
wickets_dismissed

match_id  inning  over
87        1       18             caught
                  19             caught
                  20             caught
125       1       20             caught
141       2       16            stumped
                  17             bowled
                  18       caughtbowled
                  19             caught
185       1       17                lbw
                  20             caught
289       2       16             bowled
                  18             caught
                  20             caught
380       2       16            stumped
                  17      bowledrun out
404       2       16             bowled
                  17             caught
                  18             caught
446       2       17             caught
                  18       bowledcaught
465       2       16             caught
519       2       16             bowled
                  18             bowled
                  19            run out
                  20             caught
565       2       16             caught
7923      2       18             caught
Name: dismissal_kind, dtype: object

In [90]:
wickets_d = pd.DataFrame(wickets_dismissed)

In [91]:
wickets_d.shape

(27, 1)

In [92]:
wickets_d.reset_index(inplace = True)

In [93]:
wickets_d

    match_id  inning  over dismissal_kind
0         87       1    18         caught
1         87       1    19         caught
2         87       1    20         caught
3        125       1    20         caught
4        141       2    16        stumped
5        141       2    17         bowled
6        141       2    18   caughtbowled
7        141       2    19         caught
8        185       1    17            lbw
9        185       1    20         caught
10       289       2    16         bowled
11       289       2    18         caught
12       289       2    20         caught
13       380       2    16        stumped
14       380       2    17  bowledrun out
15       404       2    16         bowled
16       404       2    17         caught
17       404       2    18         caught
18       446       2    17         caught
19       446       2    18   bowledcaught
20       465       2    16         caught
21       519       2    16         bowled
22       519       2    18         bowled
23       519       2    19        run out
24       519       2    20         caught
25       565       2    16         caught
26      7923       2    18         caught

In [94]:
wickets_d.columns

Index(['match_id', 'inning', 'over', 'dismissal_kind'], dtype='object')

In [95]:
wickets_d['dismissal_kind'].value_counts()

caught           15
bowled            5
stumped           2
run out           1
caughtbowled      1
lbw               1
bowledcaught      1
bowledrun out     1
Name: dismissal_kind, dtype: int64

In [97]:
wickets_d.groupby('over')['dismissal_kind'].value_counts()

over  dismissal_kind
16    bowled            3
      caught            2
      stumped           2
17    caught            2
      bowled            1
      bowledrun out     1
      lbw               1
18    caught            4
      bowled            1
      bowledcaught      1
      caughtbowled      1
19    caught            2
      run out           1
20    caught            5
Name: dismissal_kind, dtype: int64

In [98]:
wickets_d.groupby(['match_id','over'])['dismissal_kind'].value_counts()

match_id  over  dismissal_kind
87        18    caught            1
          19    caught            1
          20    caught            1
125       20    caught            1
141       16    stumped           1
          17    bowled            1
          18    caughtbowled      1
          19    caught            1
185       17    lbw               1
          20    caught            1
289       16    bowled            1
          18    caught            1
          20    caught            1
380       16    stumped           1
          17    bowledrun out     1
404       16    bowled            1
          17    caught            1
          18    caught            1
446       17    caught            1
          18    bowledcaught      1
465       16    caught            1
519       16    bowled            1
          18    bowled            1
          19    run out           1
          20    caught            1
565       16    caught            1
7923      18    caught            1
Name: dismissal_kind, dtype: int64

# Number of balls taken by CSK to score 100.

In [99]:
csk_dcdel.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18372,79,1,Chennai Super Kings,Delhi Daredevils,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18373,79,1,Chennai Super Kings,Delhi Daredevils,1,2,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18374,79,1,Chennai Super Kings,Delhi Daredevils,1,3,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18375,79,1,Chennai Super Kings,Delhi Daredevils,1,4,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18376,79,1,Chennai Super Kings,Delhi Daredevils,1,5,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN

In [100]:
csk_dcdel.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [101]:
name = 'Chennai Super Kings'
CSK_runs = csk_dcdel[csk_dcdel['batting_team'] == name]

In [102]:
CSK_runs.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18372,79,1,Chennai Super Kings,Delhi Daredevils,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18373,79,1,Chennai Super Kings,Delhi Daredevils,1,2,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18374,79,1,Chennai Super Kings,Delhi Daredevils,1,3,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18375,79,1,Chennai Super Kings,Delhi Daredevils,1,4,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18376,79,1,Chennai Super Kings,Delhi Daredevils,1,5,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN

In [103]:
CSK_runs['batsman'].unique()

array(['PA Patel', 'SP Fleming', 'S Vidyut', 'MS Dhoni', 'JA Morkel',
       'SK Raina', 'S Badrinath', 'CK Kapugedera', 'MS Gony', 'ML Hayden',
       'A Flintoff', 'Joginder Sharma', 'M Muralitharan', 'M Vijay',
       'JDP Oram', 'SB Jakati', 'L Balaji', 'JM Kemp', 'MEK Hussey',
       'R Ashwin', 'DE Bollinger', 'F du Plessis', 'RA Jadeja',
       'DJ Bravo', 'DR Smith', 'BB McCullum', 'M Manhas', 'MM Sharma',
       'P Negi', 'SR Watson', 'AT Rayudu', 'SW Billings', 'DL Chahar'],
      dtype=object)

In [107]:
CSK_runs.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [124]:
CSK_runs.groupby('match_id')['total_runs'].sum()

match_id
79      169
87      188
125     180
141     163
185     190
224     112
289     176
318     110
364     115
380     222
404     169
446     168
465     177
483     181
519     150
565     119
7923    218
7945    130
Name: total_runs, dtype: int64

In [129]:
csk_dcdel.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18372,79,1,Chennai Super Kings,Delhi Daredevils,1,1,PA Patel,SP Fleming,GD McGrath,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18373,79,1,Chennai Super Kings,Delhi Daredevils,1,2,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18374,79,1,Chennai Super Kings,Delhi Daredevils,1,3,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18375,79,1,Chennai Super Kings,Delhi Daredevils,1,4,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18376,79,1,Chennai Super Kings,Delhi Daredevils,1,5,SP Fleming,PA Patel,GD McGrath,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN

In [141]:
csk_dcdel.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [143]:
k =csk_dcdel[['match_id','batsman_runs','over','ball','extra_runs','noball_runs','legbye_runs','bye_runs','wide_runs','total_runs']]
k

,match_id,batsman_runs,over,ball,extra_runs,noball_runs,legbye_runs,bye_runs,wide_runs,total_runs
18372,79,1,1,1,0,0,0,0,0,1
18373,79,0,1,2,0,0,0,0,0,0
18374,79,0,1,3,0,0,0,0,0,0
18375,79,0,1,4,0,0,0,0,0,0
18376,79,3,1,5,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...
162777,7945,0,20,2,0,0,0,0,0,0
162778,7945,1,20,3,0,0,0,0,0,1
162779,7945,0,20,4,0,0,0,0,0,0
162780,7945,1,20,5,0,0,0,0,0,1
162781,7945,1,20,6,0,0,0,0,0,1