In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as py
import cufflinks as cf
%matplotlib inline
%matplotlib notebook

In [2]:
from plotly.offline import iplot
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

In [3]:
delivers = pd.read_csv('D:\datasets\deliveries.csv')

In [4]:
delivers.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
delivers.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [6]:
delivers.shape

(179078, 21)

In [7]:
delivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [8]:
matches = pd.read_csv('D:\datasets\matches.csv')

In [9]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [10]:
matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [11]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [12]:
matches.shape

(756, 18)

In [13]:
matches["result"].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [14]:
tie = matches[matches['result'] == 'tie']
tie

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [15]:
no_result =matches[matches['result'] == 'no result']
no_result

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [16]:
matches_result = matches[['team1','team2','winner']]
matches_result.head()

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [17]:
matches_result['lost'] = matches_result.apply(lambda x:   (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis = 1)

In [18]:
matches_result.head(10)

,team1,team2,winner,lost
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils
5,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,Gujarat Lions
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Kolkata Knight Riders
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Royal Challengers Bangalore
8,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,Rising Pune Supergiant
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Sunrisers Hyderabad

In [19]:
wins = matches_result['winner'].value_counts()
wins

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                  10
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [20]:
lost = matches_result['lost'].value_counts()
lost

Royal Challengers Bangalore    95
Kings XI Punjab                94
Delhi Daredevils               94
Kolkata Knight Riders          86
Mumbai Indians                 78
Rajasthan Royals               70
Chennai Super Kings            64
Sunrisers Hyderabad            50
Deccan Chargers                46
Pune Warriors                  33
Gujarat Lions                  17
Rising Pune Supergiants         9
Kochi Tuskers Kerala            8
Delhi Capitals                  6
Rising Pune Supergiant          6
Name: lost, dtype: int64

In [21]:
wins.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Winning Count')

In [22]:
lost.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Losing Count')

# MI vs SRH Head to Head matches

In [24]:
def get_mivssrh(team1,team2):
    teams =['Mumbai Indians','Sunrisers Hyderabad']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [25]:
index = [ ]

for row in matches.iterrows():
    flag = get_mivssrh(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

14

In [26]:
mi_srh = matches[index]

In [27]:
mi_srh.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

In [28]:
mi_srh['dl_applied']

9      0
46     0
422    0
443    0
476    0
492    0
540    0
571    0
587    0
612    0
642    0
658    0
714    0
746    0
Name: dl_applied, dtype: int64

In [29]:
mi_srh = mi_srh.drop('dl_applied',axis=1)

# Head to Head Matches

In [30]:
mi_srh['winner'].value_counts().iplot(kind='bar')

In [31]:
team_win= mi_srh[['team1','team2','toss_winner','toss_decision','winner']]
team_win.head()

,team1,team2,toss_winner,toss_decision,winner
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
46,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Sunrisers Hyderabad
422,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Sunrisers Hyderabad
443,Sunrisers Hyderabad,Mumbai Indians,Sunrisers Hyderabad,bat,Mumbai Indians
476,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,Sunrisers Hyderabad

In [32]:
team_decision= mi_srh[['toss_winner','toss_decision','winner']]
team_decision.head()

             toss_winner toss_decision               winner
9         Mumbai Indians         field       Mumbai Indians
46        Mumbai Indians           bat  Sunrisers Hyderabad
422       Mumbai Indians           bat  Sunrisers Hyderabad
443  Sunrisers Hyderabad           bat       Mumbai Indians
476       Mumbai Indians         field  Sunrisers Hyderabad

In [33]:
corr = mi_srh.corr()

In [34]:
sns.heatmap(corr,annot = True)

In [35]:
mi_srh['venue'].value_counts()

Rajiv Gandhi International Stadium, Uppal              6
Wankhede Stadium                                       5
Dubai International Cricket Stadium                    1
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium    1
Rajiv Gandhi Intl. Cricket Stadium                     1
Name: venue, dtype: int64

In [36]:
venue= mi_srh[['toss_winner','toss_decision','venue','winner']]
venue.head(18)

,toss_winner,toss_decision,venue,winner
9,Mumbai Indians,field,Wankhede Stadium,Mumbai Indians
46,Mumbai Indians,bat,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
422,Mumbai Indians,bat,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
443,Sunrisers Hyderabad,bat,Wankhede Stadium,Mumbai Indians
476,Mumbai Indians,field,Dubai International Cricket Stadium,Sunrisers Hyderabad
492,Sunrisers Hyderabad,bat,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians
540,Mumbai Indians,bat,Wankhede Stadium,Mumbai Indians
571,Sunrisers Hyderabad,bat,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians
587,Sunrisers Hyderabad,field,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
612,Mumbai Indians,field,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Sunrisers Hyderabad
642,Sunrisers Hyderabad,field,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
658,Mumbai Indians,field,Wankhede Stadium,Sunrisers Hyderabad
714,Sunrisers Hyderabad,field,Rajiv Gandhi Intl. Cricket Stadium,Mumbai Indians
746,Mumbai Indians,bat,Wankhede Stadium,Mumbai Indians

In [37]:
toss_win_decision= mi_srh[['toss_winner','toss_decision']]
toss_win_decision.head(20)

             toss_winner toss_decision
9         Mumbai Indians         field
46        Mumbai Indians           bat
422       Mumbai Indians           bat
443  Sunrisers Hyderabad           bat
476       Mumbai Indians         field
492  Sunrisers Hyderabad           bat
540       Mumbai Indians           bat
571  Sunrisers Hyderabad           bat
587  Sunrisers Hyderabad         field
612       Mumbai Indians         field
642  Sunrisers Hyderabad         field
658       Mumbai Indians         field
714  Sunrisers Hyderabad         field
746       Mumbai Indians           bat

# Head to Head Win based tossed decision playing 1st or 2nd Inning

In [38]:
team_decision.groupby(['toss_winner','winner'])['toss_decision'].value_counts()

toss_winner          winner               toss_decision
Mumbai Indians       Mumbai Indians       bat              2
                                          field            1
                     Sunrisers Hyderabad  field            3
                                          bat              2
Sunrisers Hyderabad  Mumbai Indians       bat              3
                                          field            1
                     Sunrisers Hyderabad  field            2
Name: toss_decision, dtype: int64

In [39]:
delivers['batting_team'].value_counts()

Mumbai Indians                 22619
Kings XI Punjab                20931
Royal Challengers Bangalore    20908
Kolkata Knight Riders          20858
Chennai Super Kings            19762
Delhi Daredevils               18786
Rajasthan Royals               17292
Sunrisers Hyderabad            12908
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Delhi Capitals                  1909
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [40]:
delivers['batting_team'].value_counts().iplot(kind ='bar',xTitle = 'Team',yTitle = 'Runs',title ='Runs scored by Teams in IPL 2008-19')

In [41]:
def get_mivssrh(batting_team,bowling_team):
    teams =['Mumbai Indians','Sunrisers Hyderabad']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [42]:
index = [ ]

for row in delivers.iterrows():
    flag = get_mivssrh(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

3332

In [43]:
mi_srh_del = delivers[index]

In [44]:
mi_srh_del.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2116,10,1,Sunrisers Hyderabad,Mumbai Indians,1,1,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2117,10,1,Sunrisers Hyderabad,Mumbai Indians,1,2,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2118,10,1,Sunrisers Hyderabad,Mumbai Indians,1,3,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2119,10,1,Sunrisers Hyderabad,Mumbai Indians,1,4,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2120,10,1,Sunrisers Hyderabad,Mumbai Indians,1,5,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2121,10,1,Sunrisers Hyderabad,Mumbai Indians,1,6,DA Warner,S Dhawan,Harbhajan Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2122,10,1,Sunrisers Hyderabad,Mumbai Indians,2,1,DA Warner,S Dhawan,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2123,10,1,Sunrisers Hyderabad,Mumbai Indians,2,2,S Dhawan,DA Warner,SL Malinga,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2124,10,1,Sunrisers Hyderabad,Mumbai Indians,2,3,S Dhawan,DA Warner,SL Malinga,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2125,10,1,Sunrisers Hyderabad,Mumbai Indians,2,4,S Dhawan,DA Warner,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [45]:
mi_srh_del['match_id'].unique()

array([   10,    47,   423,   444,   477,   493,   541,   572,   588,
         613,  7900,  7916, 11310, 11342], dtype=int64)

# Leading Runscorer in MI vs SRH Head to Head Matches

In [46]:
mi_srh_del['batsman'].value_counts()[:40].iplot(kind='bar')

# Stamina Score of Batsman

In [316]:
Batsman_score=mi_srh_del.groupby(['batsman'])["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

              batsman  batsman_runs
0            S Dhawan           444
1           DA Warner           345
2          KA Pollard           322
3           RG Sharma           218
4           AT Rayudu           206
..                ...           ...
66         PJ Sangwan             1
67  Mustafizur Rahman             1
68             Z Khan             1
69      R Vinay Kumar             0
70     Sandeep Sharma             0

[71 rows x 2 columns]

In [317]:
Batsman_score =Batsman_score.drop_duplicates(keep ='first')#Removing Duplicates

In [318]:
Batsman_singles=mi_srh_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==1).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 1 
Batsman_singles.columns = ["batsman", "No. of 1s"]
Batsman_singles

           batsman  No. of 1s
0         S Dhawan        118
1        DA Warner         88
2       KA Pollard         86
3        AT Rayudu         72
4        RG Sharma         71
..             ...        ...
66          Z Khan          1
67          S Kaul          0
68  Sandeep Sharma          0
69       RD Chahar          0
70   R Vinay Kumar          0

[71 rows x 2 columns]

In [319]:
Batsman_doubles=mi_srh_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==2).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 2 
Batsman_doubles.columns = ["batsman", "No. of 2s"]
Batsman_doubles

              batsman  No. of 2s
0            S Dhawan         26
1           DA Warner         20
2           AT Rayudu         13
3            KL Rahul         12
4          KA Pollard         11
..                ...        ...
66          JJ Bumrah          0
67        NLTC Perera          0
68      KC Sangakkara          0
69  Mustafizur Rahman          0
70             Z Khan          0

[71 rows x 2 columns]

In [320]:
Batsman_triples=mi_srh_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==3).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 3 
Batsman_triples.columns = ["batsman", "No. of 3s"]
Batsman_triples

          batsman  No. of 3s
0        S Dhawan          3
1      KA Pollard          2
2       HH Pandya          1
3       RG Sharma          1
4        KL Rahul          1
..            ...        ...
66  KC Sangakkara          0
67     KD Karthik          0
68       AJ Finch          0
69      KV Sharma          0
70         Z Khan          0

[71 rows x 2 columns]

In [321]:
Batsman_fours=mi_srh_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["batsman", "No. of 4s"]
Batsman_fours.iloc[:20,:]

          batsman  No. of 4s
0        S Dhawan         53
1       DA Warner         34
2        PA Patel         27
3       AT Rayudu         21
4       RG Sharma         20
5      KA Pollard         16
6     LMP Simmons         15
7       KH Pandya         14
8       MK Pandey         12
9        AS Yadav         10
10       AJ Finch         10
11      GH Vihari          9
12   MC Henriques          8
13        WP Saha          8
14      Q de Kock          7
15       DR Smith          7
16       KL Rahul          6
17  KS Williamson          6
18       DJ Hooda          5
19   Ishan Kishan          5

In [322]:
Batsman_fours['No. of 4s'] = Batsman_fours['No. of 4s'] +1

In [323]:
Batsman_fours

         batsman  No. of 4s
0       S Dhawan         54
1      DA Warner         35
2       PA Patel         28
3      AT Rayudu         22
4      RG Sharma         21
..           ...        ...
66     IK Pathan          1
67   CJ Anderson          1
68  Basil Thampi          1
69  Ankit Sharma          1
70        Z Khan          1

[71 rows x 2 columns]

In [324]:
Batsman_1s_2s_3s = pd.merge(Batsman_singles,Batsman_doubles,on='batsman')

In [325]:
Batsman_1s_2s_3s = pd.merge(Batsman_triples,Batsman_1s_2s_3s,on='batsman')

In [326]:
Batsman_1s_2s_3s = pd.merge(Batsman_fours,Batsman_1s_2s_3s,on='batsman')

In [327]:
Batsman_1s_2s_3s

         batsman  No. of 4s  No. of 3s  No. of 1s  No. of 2s
0       S Dhawan         54          3        118         26
1      DA Warner         35          1         88         20
2       PA Patel         28          0         38          7
3      AT Rayudu         22          0         72         13
4      RG Sharma         21          1         71          8
..           ...        ...        ...        ...        ...
66     IK Pathan          1          0          1          0
67   CJ Anderson          1          0          1          0
68  Basil Thampi          1          0          3          0
69  Ankit Sharma          1          0          2          0
70        Z Khan          1          0          1          0

[71 rows x 5 columns]

In [328]:
Batsman_1s_2s_3s['No.1s_2s_3s'] = Batsman_1s_2s_3s['No. of 1s'] + Batsman_1s_2s_3s['No. of 2s'] + Batsman_1s_2s_3s['No. of 3s']

In [329]:
Batsman_1s_2s_3s

         batsman  No. of 4s  No. of 3s  No. of 1s  No. of 2s  No.1s_2s_3s
0       S Dhawan         54          3        118         26          147
1      DA Warner         35          1         88         20          109
2       PA Patel         28          0         38          7           45
3      AT Rayudu         22          0         72         13           85
4      RG Sharma         21          1         71          8           80
..           ...        ...        ...        ...        ...          ...
66     IK Pathan          1          0          1          0            1
67   CJ Anderson          1          0          1          0            1
68  Basil Thampi          1          0          3          0            3
69  Ankit Sharma          1          0          2          0            2
70        Z Khan          1          0          1          0            1

[71 rows x 6 columns]

In [330]:
Batsman_1s_2s_3s["Singles_fours_ratio"]=Batsman_1s_2s_3s["No.1s_2s_3s"]/Batsman_1s_2s_3s["No. of 4s"]
Batsman_123s_4s= Batsman_1s_2s_3s[["batsman","Singles_fours_ratio"]]
Batsman_123s_4s=Batsman_123s_4s.sort_values(by="Singles_fours_ratio").reset_index(drop=True)
Batsman_123s_4s

           batsman  Singles_fours_ratio
0    R Vinay Kumar             0.000000
1   Sandeep Sharma             0.000000
2        RD Chahar             0.333333
3        CM Gautam             0.500000
4        DJG Sammy             0.500000
..             ...                  ...
66       KV Sharma             8.000000
67       RS Bopara             8.000000
68       V Shankar             8.000000
69        KL Rahul             8.857143
70       HH Pandya            20.000000

[71 rows x 2 columns]

In [331]:
Batsman_123s_4s.max()

batsman                Z Khan
Singles_fours_ratio        20
dtype: object

In [332]:
Batsman_123s_4s[Batsman_123s_4s["Singles_fours_ratio"]>2]#Taking Only Ratio more than 2 or more

            batsman  Singles_fours_ratio
28         DR Smith             2.125000
29    KC Sangakkara             2.250000
30    KS Williamson             2.285714
31         AJ Finch             2.454545
32       KD Karthik             2.600000
33     Yuvraj Singh             2.666667
34         S Dhawan             2.722222
35        KH Pandya             2.933333
36   MJ McClenaghan             3.000000
37        JJ Bumrah             3.000000
38     Basil Thampi             3.000000
39         CL White             3.000000
40       TG Southee             3.000000
41        DA Warner             3.114286
42       EJG Morgan             3.333333
43         AS Yadav             3.454545
44        MK Pandey             3.461538
45           N Rana             3.500000
46       MJ Guptill             3.500000
47          B Kumar             3.500000
48      LMP Simmons             3.562500
49        YK Pathan             3.666667
50     MC Henriques             3.777778
51        RG Sharma             3.809524
52     SR Tendulkar             3.833333
53        AT Rayudu             3.863636
54          P Kumar             4.000000
55        GH Vihari             4.200000
56    Mohammad Nabi             4.400000
57  Shakib Al Hasan             4.500000
58        J Suchith             5.000000
59        Q de Kock             5.250000
60  Harbhajan Singh             5.333333
61          NV Ojha             5.666667
62       KA Pollard             5.823529
63      Rashid Khan             7.000000
64         DJ Hooda             7.833333
65   A Ashish Reddy             8.000000
66        KV Sharma             8.000000
67        RS Bopara             8.000000
68        V Shankar             8.000000
69         KL Rahul             8.857143
70        HH Pandya            20.000000

In [333]:
Batsman_123s_4s.iloc[:50,:]

              batsman  Singles_fours_ratio
0       R Vinay Kumar             0.000000
1      Sandeep Sharma             0.000000
2           RD Chahar             0.333333
3           CM Gautam             0.500000
4           DJG Sammy             0.500000
5            S Sharma             0.500000
6          B Stanlake             0.500000
7           UBT Chand             0.500000
8             BR Dunk             0.600000
9          J Bairstow             0.750000
10            AP Tare             1.000000
11           PA Reddy             1.000000
12             Z Khan             1.000000
13        CJ Anderson             1.000000
14          IK Pathan             1.000000
15             S Kaul             1.000000
16  Mustafizur Rahman             1.000000
17         PJ Sangwan             1.000000
18            E Lewis             1.200000
19           DW Steyn             1.500000
20        BCJ Cutting             1.500000
21         M Markande             1.500000
22           PA Patel             1.607143
23       Ishan Kishan             1.666667
24            WP Saha             1.777778
25         JC Buttler             1.800000
26       Ankit Sharma             2.000000
27        NLTC Perera             2.000000
28           DR Smith             2.125000
29      KC Sangakkara             2.250000
30      KS Williamson             2.285714
31           AJ Finch             2.454545
32         KD Karthik             2.600000
33       Yuvraj Singh             2.666667
34           S Dhawan             2.722222
35          KH Pandya             2.933333
36     MJ McClenaghan             3.000000
37          JJ Bumrah             3.000000
38       Basil Thampi             3.000000
39           CL White             3.000000
40         TG Southee             3.000000
41          DA Warner             3.114286
42         EJG Morgan             3.333333
43           AS Yadav             3.454545
44          MK Pandey             3.461538
45             N Rana             3.500000
46         MJ Guptill             3.500000
47            B Kumar             3.500000
48        LMP Simmons             3.562500
49          YK Pathan             3.666667

In [334]:
Batsman_Ball_faced=mi_srh_del.groupby(['match_id','batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced['Overs in Crease'] = (Batsman_Ball_faced['ball']/6)
Batsman_Ball_faced

     match_id         batsman  ball  Overs in Crease
0         493        AJ Finch    62        10.333333
1         588       DA Warner    61        10.166667
2       11342       Q de Kock    58         9.666667
3         613        S Dhawan    57         9.500000
4         423        S Dhawan    57         9.500000
..        ...             ...   ...              ...
213       541  MJ McClenaghan     1         0.166667
214       541        DW Steyn     1         0.166667
215     11310          S Kaul     1         0.166667
216     11310     Rashid Khan     1         0.166667
217      7916  Sandeep Sharma     1         0.166667

[218 rows x 4 columns]

In [335]:
Stamina_score = pd.merge(Batsman_Stamina,Batsman_123s_4s,on='batsman')

In [336]:
Stamina_score = pd.merge(Stamina_score,Batsman_score,on='batsman')

In [337]:
Stamina_score

            batsman  Batsman_crease_time  Singles_fours_ratio  batsman_runs
0          AJ Finch                  6.0             2.454545            84
1          AJ Finch                  6.0             2.454545            84
2         RG Sharma                  6.0             3.809524           218
3         RG Sharma                  6.0             3.809524           218
4         RG Sharma                  6.0             3.809524           218
..              ...                  ...                  ...           ...
213      EJG Morgan                  6.0             3.333333            20
214      EJG Morgan                  6.0             3.333333            20
215   KC Sangakkara                  6.0             2.250000            21
216         BR Dunk                  6.0             0.600000            20
217  A Ashish Reddy                  6.0             8.000000            17

[218 rows x 4 columns]

In [338]:
Stamina_score['Batsman_Crease_Stamina'] = Stamina_score['Singles_fours_ratio'] + Stamina_score["Batsman_crease_time"]

In [339]:
Stamina_score

,batsman,Batsman_crease_time,Singles_fours_ratio,batsman_runs,Batsman_Crease_Stamina
0,AJ Finch,6.0,2.454545,84,8.454545
1,AJ Finch,6.0,2.454545,84,8.454545
2,RG Sharma,6.0,3.809524,218,9.809524
3,RG Sharma,6.0,3.809524,218,9.809524
4,RG Sharma,6.0,3.809524,218,9.809524
...,...,...,...,...,...
213,EJG Morgan,6.0,3.333333,20,9.333333
214,EJG Morgan,6.0,3.333333,20,9.333333
215,KC Sangakkara,6.0,2.250000,21,8.250000
216,BR Dunk,6.0,0.600000,20,6.600000
217,A Ashish Reddy,6.0,8.000000,17,14.000000

In [340]:
Stamina_Score = Stamina_score[Stamina_score["batsman_runs"]>=15]#Taking Batsman with more than 15 runs 
Stamina_Score["Batsman_Stamina"]=Stamina_Score["Batsman_Crease_Stamina"]/Stamina_Score["batsman_runs"]
Stamina_Score = Stamina_Score[["batsman","Batsman_Stamina"]]
Stamina_Score=Stamina_Score.sort_values(by="Batsman_Stamina").reset_index(drop=True)
Stamina_Score

            batsman  Batsman_Stamina
0          S Dhawan         0.019645
1          S Dhawan         0.019645
2          S Dhawan         0.019645
3          S Dhawan         0.019645
4          S Dhawan         0.019645
..              ...              ...
169       RS Bopara         0.608696
170       KV Sharma         0.636364
171       KV Sharma         0.636364
172       KV Sharma         0.636364
173  A Ashish Reddy         0.823529

[174 rows x 2 columns]

In [341]:
Stamina_Score['Batsman_Stamina'].max()

0.8235294117647058

In [342]:
Stamina_Score[Stamina_Score["Batsman_Stamina"]>=0.20]#Taking Stamina of the Batsman more than 20%

             batsman  Batsman_Stamina
117          E Lewis         0.200000
118          E Lewis         0.200000
119          E Lewis         0.200000
120    KS Williamson         0.202091
121    KS Williamson         0.202091
122    KS Williamson         0.202091
123    KS Williamson         0.202091
124         CL White         0.209302
125     Ishan Kishan         0.255556
126     Ishan Kishan         0.255556
127     Ishan Kishan         0.255556
128      BCJ Cutting         0.258621
129      BCJ Cutting         0.258621
130       KD Karthik         0.286667
131       KD Karthik         0.286667
132       JC Buttler         0.288889
133       JC Buttler         0.288889
134       JC Buttler         0.288889
135          BR Dunk         0.330000
136          NV Ojha         0.333333
137          NV Ojha         0.333333
138          NV Ojha         0.333333
139          NV Ojha         0.333333
140          NV Ojha         0.333333
141        HH Pandya         0.376812
142        HH Pandya         0.376812
143        HH Pandya         0.376812
144        HH Pandya         0.376812
145        HH Pandya         0.376812
146        HH Pandya         0.376812
147        HH Pandya         0.376812
148    KC Sangakkara         0.392857
149         DW Steyn         0.394737
150         DW Steyn         0.394737
151        V Shankar         0.411765
152        V Shankar         0.411765
153        V Shankar         0.411765
154        V Shankar         0.411765
155  Harbhajan Singh         0.419753
156  Harbhajan Singh         0.419753
157  Harbhajan Singh         0.419753
158  Harbhajan Singh         0.419753
159  Harbhajan Singh         0.419753
160  Harbhajan Singh         0.419753
161       J Bairstow         0.421875
162       EJG Morgan         0.466667
163       EJG Morgan         0.466667
164       MJ Guptill         0.527778
165       MJ Guptill         0.527778
166        JJ Bumrah         0.529412
167        JJ Bumrah         0.529412
168        JJ Bumrah         0.529412
169        RS Bopara         0.608696
170        KV Sharma         0.636364
171        KV Sharma         0.636364
172        KV Sharma         0.636364
173   A Ashish Reddy         0.823529

In [343]:
Stamina_Score['Batsman_Stamina'].max()

0.8235294117647058

In [344]:
Stamina_Score['Batsman_Stamina'].min()

0.019644644644644643

In [345]:
Stamina_Score['Batsman_Stamina_normalize'] = Stamina_Score['Batsman_Stamina'] - Stamina_Score['Batsman_Stamina'].min()

In [346]:
Stamina_Score['Batsman_Stamina_normalize']

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
         ...
169    0.589051
170    0.616719
171    0.616719
172    0.616719
173    0.803885
Name: Batsman_Stamina_normalize, Length: 174, dtype: float64

In [347]:
Stamina_Score['SS'] = Stamina_Score['Batsman_Stamina'].max() - Stamina_Score['Batsman_Stamina'].min()

In [348]:
Stamina_Score['SS']

0      0.803885
1      0.803885
2      0.803885
3      0.803885
4      0.803885
         ...
169    0.803885
170    0.803885
171    0.803885
172    0.803885
173    0.803885
Name: SS, Length: 174, dtype: float64

In [349]:
Stamina_Score

            batsman  Batsman_Stamina  Batsman_Stamina_normalize        SS
0          S Dhawan         0.019645                   0.000000  0.803885
1          S Dhawan         0.019645                   0.000000  0.803885
2          S Dhawan         0.019645                   0.000000  0.803885
3          S Dhawan         0.019645                   0.000000  0.803885
4          S Dhawan         0.019645                   0.000000  0.803885
..              ...              ...                        ...       ...
169       RS Bopara         0.608696                   0.589051  0.803885
170       KV Sharma         0.636364                   0.616719  0.803885
171       KV Sharma         0.636364                   0.616719  0.803885
172       KV Sharma         0.636364                   0.616719  0.803885
173  A Ashish Reddy         0.823529                   0.803885  0.803885

[174 rows x 4 columns]

In [350]:
Stamina_Score['Batsman_Stamina_Score'] =(Stamina_Score['Batsman_Stamina_normalize']/Stamina_Score['SS'])
Stamina_Score = Stamina_Score[['batsman','Batsman_Stamina_Score']]
Stamina_Score = Stamina_Score.sort_values(by='Batsman_Stamina_Score',ascending = False).reset_index(drop =True)
Stamina_Score

            batsman  Batsman_Stamina_Score
0    A Ashish Reddy               1.000000
1         KV Sharma               0.767173
2         KV Sharma               0.767173
3         KV Sharma               0.767173
4         RS Bopara               0.732756
..              ...                    ...
169        S Dhawan               0.000000
170        S Dhawan               0.000000
171        S Dhawan               0.000000
172        S Dhawan               0.000000
173        S Dhawan               0.000000

[174 rows x 2 columns]

In [353]:
Stamina_Score[Stamina_Score['Batsman_Stamina_Score']>=0.25]

            batsman  Batsman_Stamina_Score
0    A Ashish Reddy               1.000000
1         KV Sharma               0.767173
2         KV Sharma               0.767173
3         KV Sharma               0.767173
4         RS Bopara               0.732756
5         JJ Bumrah               0.634130
6         JJ Bumrah               0.634130
7         JJ Bumrah               0.634130
8        MJ Guptill               0.632097
9        MJ Guptill               0.632097
10       EJG Morgan               0.556077
11       EJG Morgan               0.556077
12       J Bairstow               0.500358
13  Harbhajan Singh               0.497719
14  Harbhajan Singh               0.497719
15  Harbhajan Singh               0.497719
16  Harbhajan Singh               0.497719
17  Harbhajan Singh               0.497719
18  Harbhajan Singh               0.497719
19        V Shankar               0.487781
20        V Shankar               0.487781
21        V Shankar               0.487781
22        V Shankar               0.487781
23         DW Steyn               0.466599
24         DW Steyn               0.466599
25    KC Sangakkara               0.464261
26        HH Pandya               0.444301
27        HH Pandya               0.444301
28        HH Pandya               0.444301
29        HH Pandya               0.444301
30        HH Pandya               0.444301
31        HH Pandya               0.444301
32        HH Pandya               0.444301
33          NV Ojha               0.390216
34          NV Ojha               0.390216
35          NV Ojha               0.390216
36          NV Ojha               0.390216
37          NV Ojha               0.390216
38          BR Dunk               0.386069
39       JC Buttler               0.334929
40       JC Buttler               0.334929
41       JC Buttler               0.334929
42       KD Karthik               0.332165
43       KD Karthik               0.332165
44      BCJ Cutting               0.297276
45      BCJ Cutting               0.297276
46     Ishan Kishan               0.293464
47     Ishan Kishan               0.293464
48     Ishan Kishan               0.293464

In [354]:
Stamina_Score[Stamina_Score['Batsman_Stamina_Score']<0.25]

           batsman  Batsman_Stamina_Score
49        CL White               0.235926
50   KS Williamson               0.226955
51   KS Williamson               0.226955
52   KS Williamson               0.226955
53   KS Williamson               0.226955
..             ...                    ...
169       S Dhawan               0.000000
170       S Dhawan               0.000000
171       S Dhawan               0.000000
172       S Dhawan               0.000000
173       S Dhawan               0.000000

[125 rows x 2 columns]

# Smash Rate For the Batsman

In [161]:
Batsman_fours=mi_srh_del.groupby(["match_id",'batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["match_id","batsman", "No. of 4s"]
Batsman_fours

     match_id         batsman  No. of 4s
0         613        S Dhawan         10
1         423        S Dhawan          9
2         572        PA Patel          9
3        7900        S Dhawan          8
4       11342       MK Pandey          8
..        ...             ...        ...
213       541         P Kumar          0
214       541         NV Ojha          0
215       541  MJ McClenaghan          0
216       541       KV Sharma          0
217       572         P Kumar          0

[218 rows x 3 columns]

In [162]:
Batsman_Ball_faced=mi_srh_del.groupby(["match_id",'batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

     match_id         batsman  ball
0         493        AJ Finch    62
1         588       DA Warner    61
2       11342       Q de Kock    58
3         613        S Dhawan    57
4         423        S Dhawan    57
..        ...             ...   ...
213       541  MJ McClenaghan     1
214       541        DW Steyn     1
215     11310          S Kaul     1
216     11310     Rashid Khan     1
217      7916  Sandeep Sharma     1

[218 rows x 3 columns]

In [163]:
smash_rate = pd.merge(Batsman_fours,Batsman_Ball_faced,on=["match_id",'batsman'])

In [164]:
smash_rate

     match_id         batsman  No. of 4s  ball
0         613        S Dhawan         10    57
1         423        S Dhawan          9    57
2         572        PA Patel          9    39
3        7900        S Dhawan          8    28
4       11342       MK Pandey          8    47
..        ...             ...        ...   ...
213       541         P Kumar          0     2
214       541         NV Ojha          0     9
215       541  MJ McClenaghan          0     1
216       541       KV Sharma          0     5
217       572         P Kumar          0     6

[218 rows x 4 columns]

In [165]:
smash_rate["Batsman_Smash_rate"]=smash_rate["No. of 4s"]/smash_rate["ball"]*100
Batsman_smash_rate = smash_rate[["batsman","Batsman_Smash_rate"]]
Batsman_smash_rate =Batsman_smash_rate.sort_values(by="Batsman_Smash_rate").reset_index(drop=True)
Batsman_smash_rate

               batsman  Batsman_Smash_rate
0              P Kumar            0.000000
1           KA Pollard            0.000000
2    Mustafizur Rahman            0.000000
3         Basil Thampi            0.000000
4            HH Pandya            0.000000
..                 ...                 ...
213        BCJ Cutting           36.363636
214         B Stanlake           50.000000
215           S Sharma           50.000000
216            NV Ojha           50.000000
217          RG Sharma           50.000000

[218 rows x 2 columns]

In [166]:
Batsman_smash_rate.max()

batsman               Z Khan
Batsman_Smash_rate        50
dtype: object

In [175]:
Batsman_smash_rate[Batsman_smash_rate['Batsman_Smash_rate']<15]#Batsman Smash Rate less than 15%

               batsman  Batsman_Smash_rate
0              P Kumar            0.000000
1           KA Pollard            0.000000
2    Mustafizur Rahman            0.000000
3         Basil Thampi            0.000000
4            HH Pandya            0.000000
..                 ...                 ...
153          DA Warner           14.285714
154          AT Rayudu           14.285714
155      KC Sangakkara           14.285714
156          AT Rayudu           14.285714
157       SR Tendulkar           14.285714

[158 rows x 2 columns]

In [176]:
Batsman_smash_rate[Batsman_smash_rate['Batsman_Smash_rate'] >=15]#Batsman Smash Rate more than 15 % and Highest is 50%

           batsman  Batsman_Smash_rate
158       PA Patel           15.000000
159      KH Pandya           15.000000
160        WP Saha           15.000000
161       S Dhawan           15.384615
162     KA Pollard           15.384615
163       S Dhawan           15.789474
164     KD Karthik           16.666667
165       S Dhawan           16.666667
166      DJG Sammy           16.666667
167      AT Rayudu           16.666667
168      DA Warner           16.666667
169        E Lewis           16.666667
170         N Rana           16.666667
171      MK Pandey           17.021277
172   MC Henriques           17.142857
173       S Dhawan           17.543860
174       AS Yadav           17.647059
175      AT Rayudu           17.857143
176      KH Pandya           18.181818
177      KH Pandya           18.181818
178      DA Warner           18.750000
179        AP Tare           20.000000
180       AJ Finch           20.000000
181  Mohammad Nabi           20.000000
182      JJ Bumrah           20.000000
183      KH Pandya           20.000000
184      CM Gautam           20.000000
185      KV Sharma           20.000000
186      DA Warner           20.000000
187      DA Warner           20.000000
188      DA Warner           20.588235
189        BR Dunk           22.222222
190       DJ Hooda           22.222222
191       DR Smith           22.222222
192  KS Williamson           22.727273
193       PA Patel           23.076923
194       S Dhawan           23.333333
195  KS Williamson           25.000000
196      UBT Chand           25.000000
197        B Kumar           25.000000
198      RG Sharma           26.315789
199      MK Pandey           27.272727
200       DW Steyn           27.272727
201     JC Buttler           27.272727
202       S Dhawan           28.571429
203      DA Warner           28.571429
204      RD Chahar           28.571429
205       PA Patel           29.166667
206     J Bairstow           30.000000
207      GH Vihari           30.000000
208        WP Saha           31.250000
209       PA Patel           33.333333
210      RG Sharma           33.333333
211     M Markande           33.333333
212   Ishan Kishan           33.333333
213    BCJ Cutting           36.363636
214     B Stanlake           50.000000
215       S Sharma           50.000000
216        NV Ojha           50.000000
217      RG Sharma           50.000000

# Boundary Leaker

In [177]:
four = []
six = []
for i in mi_srh_del['batsman_runs']:
    if i == 4 or i == 5:
        four.append(1)
        six.append(0)
    elif i == 6 or i == 7:
        four.append(0)
        six.append(1)
    else:
        four.append(0)
        six.append(0)
      
    
mi_srh_del['four'] = four
mi_srh_del['six'] = six

In [178]:
mi_srh_del

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
2116,10,1,Sunrisers Hyderabad,Mumbai Indians,1,1,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
2117,10,1,Sunrisers Hyderabad,Mumbai Indians,1,2,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
2118,10,1,Sunrisers Hyderabad,Mumbai Indians,1,3,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
2119,10,1,Sunrisers Hyderabad,Mumbai Indians,1,4,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
2120,10,1,Sunrisers Hyderabad,Mumbai Indians,1,5,S Dhawan,DA Warner,Harbhajan Singh,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176930,11342,3,Sunrisers Hyderabad,Mumbai Indians,1,2,MJ Guptill,Mohammad Nabi,JJ Bumrah,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
176931,11342,3,Sunrisers Hyderabad,Mumbai Indians,1,3,Mohammad Nabi,MJ Guptill,JJ Bumrah,0,...,0,0,6,0,6,NaN,NaN,NaN,0,1
176932,11342,5,Mumbai Indians,Sunrisers Hyderabad,1,1,HH Pandya,KA Pollard,Rashid Khan,0,...,0,0,6,0,6,NaN,NaN,NaN,0,1
176933,11342,5,Mumbai Indians,Sunrisers Hyderabad,1,2,HH Pandya,KA Pollard,Rashid Khan,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
176934,11342,5,Mumbai Indians,Sunrisers Hyderabad,1,3,KA Pollard,HH Pandya,Rashid Khan,0,...,0,0,2,0,2,NaN,NaN,NaN,0,0

In [231]:
bowler_boundary= mi_srh_del[mi_srh_del["four"]!=0][["match_id","ball","bowler"]] # here taking boundary off the bowler/boundary conceived I am not considering include in over
bowler_boundary = bowler_boundary.groupby(["match_id","bowler"])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
bowler_boundary.columns = ['match_id','bowler','Boundary_Ball']

In [232]:
bowler_boundary

     match_id           bowler  Boundary_Ball
0          10          A Nehra              7
1         541         DW Steyn              7
2         444       MG Johnson              7
3         423      NLTC Perera              6
4         613   MJ McClenaghan              6
..        ...              ...            ...
141        47          B Kumar              1
142       444       KA Pollard              1
143      7916        KH Pandya              1
144       444  Harbhajan Singh              1
145       572        HH Pandya              1

[146 rows x 3 columns]

In [233]:
bowler_over= mi_srh_del[mi_srh_del["extra_runs"]==0][["match_id","ball","bowler"]] # here extra balls I am not considering include in over
bowler_over= bowler_over.groupby(["match_id","bowler"])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
bowler_over["No_of_Overs"]=(bowler_over["ball"]/6)
bowler_over

     match_id        bowler  ball  No_of_Overs
0       11342   Rashid Khan    26     4.333333
1       11342     JJ Bumrah    26     4.333333
2          10       A Nehra    24     4.000000
3         493       PP Ojha    24     4.000000
4         588  Bipul Sharma    24     4.000000
..        ...           ...   ...          ...
157        47  MC Henriques     6     1.000000
158        47     HH Pandya     6     1.000000
159       423     RG Sharma     6     1.000000
160       613     HH Pandya     6     1.000000
161       613     KH Pandya     6     1.000000

[162 rows x 4 columns]

In [234]:
bowler_boundary['Boundary_Ball'] = bowler_boundary['Boundary_Ball'] + 1
bowler_boundary

     match_id           bowler  Boundary_Ball
0          10          A Nehra              8
1         541         DW Steyn              8
2         444       MG Johnson              8
3         423      NLTC Perera              7
4         613   MJ McClenaghan              7
..        ...              ...            ...
141        47          B Kumar              2
142       444       KA Pollard              2
143      7916        KH Pandya              2
144       444  Harbhajan Singh              2
145       572        HH Pandya              2

[146 rows x 3 columns]

In [235]:
Bowler_leaker = pd.merge(bowler_over,bowler_boundary,on=['match_id',"bowler"])

In [236]:
Bowler_leaker

     match_id        bowler  ball  No_of_Overs  Boundary_Ball
0       11342   Rashid Khan    26     4.333333              2
1       11342     JJ Bumrah    26     4.333333              6
2          10       A Nehra    24     4.000000              8
3         493       PP Ojha    24     4.000000              4
4         588       B Kumar    24     4.000000              2
..        ...           ...   ...          ...            ...
141        10     KH Pandya     6     1.000000              2
142       477   CJ Anderson     6     1.000000              2
143        47  MC Henriques     6     1.000000              4
144        47     HH Pandya     6     1.000000              3
145       613     HH Pandya     6     1.000000              2

[146 rows x 5 columns]

In [237]:
Bowler_leaker["Boundary_leaker"] = Bowler_leaker["ball"]/Bowler_leaker["Boundary_Ball"]
Boundary_leaker= Bowler_leaker[["bowler","Boundary_leaker"]]
Boundary_leaker=Bowler_leaker.sort_values(by="Boundary_leaker").reset_index(drop=True)
Boundary_leaker

,match_id,bowler,ball,No_of_Overs,Boundary_Ball,Boundary_leaker
0,47,MC Henriques,6,1.000000,4,1.500000
1,423,DR Smith,6,1.000000,4,1.500000
2,47,HH Pandya,6,1.000000,3,2.000000
3,7900,PJ Sangwan,11,1.833333,5,2.200000
4,7916,MJ McClenaghan,17,2.833333,6,2.833333
...,...,...,...,...,...,...
141,47,S Kaul,24,4.000000,2,12.000000
142,47,Mohammad Nabi,24,4.000000,2,12.000000
143,423,A Mishra,24,4.000000,2,12.000000
144,11342,Mohammad Nabi,24,4.000000,2,12.000000
145,11342,Rashid Khan,26,4.333333,2,13.000000

In [244]:
Boundary_leaker[Boundary_leaker['Boundary_leaker']<=4.5]#Boundary leaker after minimum 5 balls

,match_id,bowler,ball,No_of_Overs,Boundary_Ball,Boundary_leaker
0,47,MC Henriques,6,1.000000,4,1.500000
1,423,DR Smith,6,1.000000,4,1.500000
2,47,HH Pandya,6,1.000000,3,2.000000
3,7900,PJ Sangwan,11,1.833333,5,2.200000
4,7916,MJ McClenaghan,17,2.833333,6,2.833333
5,613,HH Pandya,6,1.000000,2,3.000000
6,11342,BB Sran,12,2.000000,4,3.000000
7,477,DJG Sammy,12,2.000000,4,3.000000
8,541,DW Steyn,24,4.000000,8,3.000000
9,493,CJ Anderson,12,2.000000,4,3.000000
10,572,HH Pandya,6,1.000000,2,3.000000
11,444,KA Pollard,6,1.000000,2,3.000000
12,10,KH Pandya,6,1.000000,2,3.000000
13,477,CJ Anderson,6,1.000000,2,3.000000
14,10,A Nehra,24,4.000000,8,3.000000
15,11310,YK Pathan,6,1.000000,2,3.000000
16,444,MG Johnson,24,4.000000,8,3.000000
17,613,MJ McClenaghan,23,3.833333,7,3.285714
18,423,NLTC Perera,24,4.000000,7,3.428571
19,10,MJ McClenaghan,24,4.000000,7,3.428571
20,572,DW Steyn,18,3.000000,5,3.600000
21,7916,Mohammad Nabi,18,3.000000,5,3.600000
22,613,B Kumar,18,3.000000,5,3.600000
23,572,P Kumar,11,1.833333,3,3.666667
24,11342,SL Malinga,23,3.833333,6,3.833333
25,444,DS Kulkarni,23,3.833333,6,3.833333
26,572,KV Sharma,16,2.666667,4,4.000000
27,613,KA Pollard,12,2.000000,3,4.000000
28,493,IK Pathan,12,2.000000,3,4.000000
29,10,Mustafizur Rahman,16,2.666667,4,4.000000
30,423,DS Kulkarni,12,2.000000,3,4.000000
31,541,Harbhajan Singh,24,4.000000,6,4.000000
32,10,BCJ Cutting,12,2.000000,3,4.000000
33,7900,B Stanlake,24,4.000000,6,4.000000
34,493,KA Pollard,12,2.000000,3,4.000000
35,11342,K Ahmed,24,4.000000,6,4.000000
36,613,JJ Bumrah,24,4.000000,6,4.000000
37,11342,Basil Thampi,21,3.500000,5,4.200000
38,477,Z Khan,21,3.500000,5,4.200000
39,47,Mohammed Siraj,17,2.833333,4,4.250000
40,572,R Vinay Kumar,17,2.833333,4,4.250000
41,11342,JJ Bumrah,26,4.333333,6,4.333333
42,10,SL Malinga,22,3.666667,5,4.400000
43,423,MG Johnson,18,3.000000,4,4.500000
44,493,MC Henriques,18,3.000000,4,4.500000
45,7916,HH Pandya,18,3.000000,4,4.500000
46,477,IK Pathan,9,1.500000,2,4.500000
47,423,SL Malinga,18,3.000000,4,4.500000
48,588,HH Pandya,18,3.000000,4,4.500000

In [247]:
Boundary_leaker[Boundary_leaker['Boundary_leaker']>6]#Boundary leaker after maximium 6 balls

,match_id,bowler,ball,No_of_Overs,Boundary_Ball,Boundary_leaker
96,588,MJ McClenaghan,21,3.500000,3,7.000000
97,613,TG Southee,23,3.833333,3,7.666667
98,493,SL Malinga,23,3.833333,3,7.666667
99,588,TG Southee,23,3.833333,3,7.666667
100,477,SL Malinga,23,3.833333,3,7.666667
101,541,KV Sharma,24,4.000000,3,8.000000
102,541,MJ McClenaghan,24,4.000000,3,8.000000
103,541,P Kumar,24,4.000000,3,8.000000
104,493,JJ Bumrah,24,4.000000,3,8.000000
105,477,KA Pollard,24,4.000000,3,8.000000
106,47,Harbhajan Singh,24,4.000000,3,8.000000
107,477,B Kumar,24,4.000000,3,8.000000
108,477,A Mishra,24,4.000000,3,8.000000
109,444,PP Ojha,24,4.000000,3,8.000000
110,11342,RD Chahar,24,4.000000,3,8.000000
111,11310,Rashid Khan,24,4.000000,3,8.000000
112,7900,Shakib Al Hasan,24,4.000000,3,8.000000
113,7900,Sandeep Sharma,24,4.000000,3,8.000000
114,444,SL Malinga,24,4.000000,3,8.000000
115,541,TA Boult,24,4.000000,3,8.000000
116,10,JJ Bumrah,24,4.000000,3,8.000000
117,47,MJ McClenaghan,24,4.000000,3,8.000000
118,493,B Kumar,24,4.000000,3,8.000000
119,423,KV Sharma,24,4.000000,3,8.000000
120,11310,S Sharma,18,3.000000,2,9.000000
121,613,A Nehra,18,3.000000,2,9.000000
122,444,Harbhajan Singh,18,3.000000,2,9.000000
123,613,Mustafizur Rahman,18,3.000000,2,9.000000
124,572,J Suchith,18,3.000000,2,9.000000
125,444,A Mishra,18,3.000000,2,9.000000
126,7916,Sandeep Sharma,18,3.000000,2,9.000000
127,11310,A Joseph,20,3.333333,2,10.000000
128,7916,Mustafizur Rahman,22,3.666667,2,11.000000
129,47,B Kumar,23,3.833333,2,11.500000
130,572,MJ McClenaghan,23,3.833333,2,11.500000
131,613,MC Henriques,23,3.833333,2,11.500000
132,47,Rashid Khan,24,4.000000,2,12.000000
133,588,B Kumar,24,4.000000,2,12.000000
134,572,SL Malinga,24,4.000000,2,12.000000
135,588,MC Henriques,24,4.000000,2,12.000000
136,11310,S Kaul,24,4.000000,2,12.000000
137,541,J Suchith,24,4.000000,2,12.000000
138,11342,KH Pandya,24,4.000000,2,12.000000
139,423,PP Ojha,24,4.000000,2,12.000000
140,7916,Rashid Khan,24,4.000000,2,12.000000
141,47,S Kaul,24,4.000000,2,12.000000
142,47,Mohammad Nabi,24,4.000000,2,12.000000
143,423,A Mishra,24,4.000000,2,12.000000
144,11342,Mohammad Nabi,24,4.000000,2,12.000000
145,11342,Rashid Khan,26,4.333333,2,13.000000

In [248]:
Boundary_leaker["BL"] = 1/Boundary_leaker['Boundary_leaker']

In [249]:
Boundary_leaker

,match_id,bowler,ball,No_of_Overs,Boundary_Ball,Boundary_leaker,BL
0,47,MC Henriques,6,1.000000,4,1.500000,0.666667
1,423,DR Smith,6,1.000000,4,1.500000,0.666667
2,47,HH Pandya,6,1.000000,3,2.000000,0.500000
3,7900,PJ Sangwan,11,1.833333,5,2.200000,0.454545
4,7916,MJ McClenaghan,17,2.833333,6,2.833333,0.352941
...,...,...,...,...,...,...,...
141,47,S Kaul,24,4.000000,2,12.000000,0.083333
142,47,Mohammad Nabi,24,4.000000,2,12.000000,0.083333
143,423,A Mishra,24,4.000000,2,12.000000,0.083333
144,11342,Mohammad Nabi,24,4.000000,2,12.000000,0.083333
145,11342,Rashid Khan,26,4.333333,2,13.000000,0.076923

In [250]:
Boundary_leaker[Boundary_leaker['Boundary_leaker']<=4.5]#Boundary leaker after minimum 5 balls

,match_id,bowler,ball,No_of_Overs,Boundary_Ball,Boundary_leaker,BL
0,47,MC Henriques,6,1.000000,4,1.500000,0.666667
1,423,DR Smith,6,1.000000,4,1.500000,0.666667
2,47,HH Pandya,6,1.000000,3,2.000000,0.500000
3,7900,PJ Sangwan,11,1.833333,5,2.200000,0.454545
4,7916,MJ McClenaghan,17,2.833333,6,2.833333,0.352941
5,613,HH Pandya,6,1.000000,2,3.000000,0.333333
6,11342,BB Sran,12,2.000000,4,3.000000,0.333333
7,477,DJG Sammy,12,2.000000,4,3.000000,0.333333
8,541,DW Steyn,24,4.000000,8,3.000000,0.333333
9,493,CJ Anderson,12,2.000000,4,3.000000,0.333333
10,572,HH Pandya,6,1.000000,2,3.000000,0.333333
11,444,KA Pollard,6,1.000000,2,3.000000,0.333333
12,10,KH Pandya,6,1.000000,2,3.000000,0.333333
13,477,CJ Anderson,6,1.000000,2,3.000000,0.333333
14,10,A Nehra,24,4.000000,8,3.000000,0.333333
15,11310,YK Pathan,6,1.000000,2,3.000000,0.333333
16,444,MG Johnson,24,4.000000,8,3.000000,0.333333
17,613,MJ McClenaghan,23,3.833333,7,3.285714,0.304348
18,423,NLTC Perera,24,4.000000,7,3.428571,0.291667
19,10,MJ McClenaghan,24,4.000000,7,3.428571,0.291667
20,572,DW Steyn,18,3.000000,5,3.600000,0.277778
21,7916,Mohammad Nabi,18,3.000000,5,3.600000,0.277778
22,613,B Kumar,18,3.000000,5,3.600000,0.277778
23,572,P Kumar,11,1.833333,3,3.666667,0.272727
24,11342,SL Malinga,23,3.833333,6,3.833333,0.260870
25,444,DS Kulkarni,23,3.833333,6,3.833333,0.260870
26,572,KV Sharma,16,2.666667,4,4.000000,0.250000
27,613,KA Pollard,12,2.000000,3,4.000000,0.250000
28,493,IK Pathan,12,2.000000,3,4.000000,0.250000
29,10,Mustafizur Rahman,16,2.666667,4,4.000000,0.250000
30,423,DS Kulkarni,12,2.000000,3,4.000000,0.250000
31,541,Harbhajan Singh,24,4.000000,6,4.000000,0.250000
32,10,BCJ Cutting,12,2.000000,3,4.000000,0.250000
33,7900,B Stanlake,24,4.000000,6,4.000000,0.250000
34,493,KA Pollard,12,2.000000,3,4.000000,0.250000
35,11342,K Ahmed,24,4.000000,6,4.000000,0.250000
36,613,JJ Bumrah,24,4.000000,6,4.000000,0.250000
37,11342,Basil Thampi,21,3.500000,5,4.200000,0.238095
38,477,Z Khan,21,3.500000,5,4.200000,0.238095
39,47,Mohammed Siraj,17,2.833333,4,4.250000,0.235294
40,572,R Vinay Kumar,17,2.833333,4,4.250000,0.235294
41,11342,JJ Bumrah,26,4.333333,6,4.333333,0.230769
42,10,SL Malinga,22,3.666667,5,4.400000,0.227273
43,423,MG Johnson,18,3.000000,4,4.500000,0.222222
44,493,MC Henriques,18,3.000000,4,4.500000,0.222222
45,7916,HH Pandya,18,3.000000,4,4.500000,0.222222
46,477,IK Pathan,9,1.500000,2,4.500000,0.222222
47,423,SL Malinga,18,3.000000,4,4.500000,0.222222
48,588,HH Pandya,18,3.000000,4,4.500000,0.222222

In [251]:
Boundary_leaker[Boundary_leaker['Boundary_leaker']>6]#Boundary leaker after maximium 6 balls

,match_id,bowler,ball,No_of_Overs,Boundary_Ball,Boundary_leaker,BL
96,588,MJ McClenaghan,21,3.500000,3,7.000000,0.142857
97,613,TG Southee,23,3.833333,3,7.666667,0.130435
98,493,SL Malinga,23,3.833333,3,7.666667,0.130435
99,588,TG Southee,23,3.833333,3,7.666667,0.130435
100,477,SL Malinga,23,3.833333,3,7.666667,0.130435
101,541,KV Sharma,24,4.000000,3,8.000000,0.125000
102,541,MJ McClenaghan,24,4.000000,3,8.000000,0.125000
103,541,P Kumar,24,4.000000,3,8.000000,0.125000
104,493,JJ Bumrah,24,4.000000,3,8.000000,0.125000
105,477,KA Pollard,24,4.000000,3,8.000000,0.125000
106,47,Harbhajan Singh,24,4.000000,3,8.000000,0.125000
107,477,B Kumar,24,4.000000,3,8.000000,0.125000
108,477,A Mishra,24,4.000000,3,8.000000,0.125000
109,444,PP Ojha,24,4.000000,3,8.000000,0.125000
110,11342,RD Chahar,24,4.000000,3,8.000000,0.125000
111,11310,Rashid Khan,24,4.000000,3,8.000000,0.125000
112,7900,Shakib Al Hasan,24,4.000000,3,8.000000,0.125000
113,7900,Sandeep Sharma,24,4.000000,3,8.000000,0.125000
114,444,SL Malinga,24,4.000000,3,8.000000,0.125000
115,541,TA Boult,24,4.000000,3,8.000000,0.125000
116,10,JJ Bumrah,24,4.000000,3,8.000000,0.125000
117,47,MJ McClenaghan,24,4.000000,3,8.000000,0.125000
118,493,B Kumar,24,4.000000,3,8.000000,0.125000
119,423,KV Sharma,24,4.000000,3,8.000000,0.125000
120,11310,S Sharma,18,3.000000,2,9.000000,0.111111
121,613,A Nehra,18,3.000000,2,9.000000,0.111111
122,444,Harbhajan Singh,18,3.000000,2,9.000000,0.111111
123,613,Mustafizur Rahman,18,3.000000,2,9.000000,0.111111
124,572,J Suchith,18,3.000000,2,9.000000,0.111111
125,444,A Mishra,18,3.000000,2,9.000000,0.111111
126,7916,Sandeep Sharma,18,3.000000,2,9.000000,0.111111
127,11310,A Joseph,20,3.333333,2,10.000000,0.100000
128,7916,Mustafizur Rahman,22,3.666667,2,11.000000,0.090909
129,47,B Kumar,23,3.833333,2,11.500000,0.086957
130,572,MJ McClenaghan,23,3.833333,2,11.500000,0.086957
131,613,MC Henriques,23,3.833333,2,11.500000,0.086957
132,47,Rashid Khan,24,4.000000,2,12.000000,0.083333
133,588,B Kumar,24,4.000000,2,12.000000,0.083333
134,572,SL Malinga,24,4.000000,2,12.000000,0.083333
135,588,MC Henriques,24,4.000000,2,12.000000,0.083333
136,11310,S Kaul,24,4.000000,2,12.000000,0.083333
137,541,J Suchith,24,4.000000,2,12.000000,0.083333
138,11342,KH Pandya,24,4.000000,2,12.000000,0.083333
139,423,PP Ojha,24,4.000000,2,12.000000,0.083333
140,7916,Rashid Khan,24,4.000000,2,12.000000,0.083333
141,47,S Kaul,24,4.000000,2,12.000000,0.083333
142,47,Mohammad Nabi,24,4.000000,2,12.000000,0.083333
143,423,A Mishra,24,4.000000,2,12.000000,0.083333
144,11342,Mohammad Nabi,24,4.000000,2,12.000000,0.083333
145,11342,Rashid Khan,26,4.333333,2,13.000000,0.076923

# Total Wickets Losed in the match

In [356]:
total_wicket = mi_srh_del[ pd.notnull(mi_srh_del["player_dismissed"])]
total_wicket = total_wicket[["match_id", "batting_team","over","inning", "bowler","player_dismissed", "dismissal_kind", "fielder"]]

In [357]:
total_wicket

,match_id,batting_team,over,inning,bowler,player_dismissed,dismissal_kind,fielder
2178,10,Sunrisers Hyderabad,11,1,Harbhajan Singh,DA Warner,caught,PA Patel
2197,10,Sunrisers Hyderabad,14,1,Harbhajan Singh,DJ Hooda,caught,KA Pollard
2207,10,Sunrisers Hyderabad,15,1,MJ McClenaghan,S Dhawan,bowled,NaN
2212,10,Sunrisers Hyderabad,16,1,HH Pandya,Yuvraj Singh,bowled,NaN
2227,10,Sunrisers Hyderabad,18,1,JJ Bumrah,BCJ Cutting,bowled,NaN
...,...,...,...,...,...,...,...,...
176839,11342,Sunrisers Hyderabad,6,2,JJ Bumrah,MJ Guptill,lbw,NaN
176851,11342,Sunrisers Hyderabad,8,2,KH Pandya,KS Williamson,lbw,NaN
176889,11342,Sunrisers Hyderabad,14,2,KH Pandya,V Shankar,caught,KA Pollard
176896,11342,Sunrisers Hyderabad,15,2,HH Pandya,Ankit Sharma,caught,Q de Kock
176927,11342,Sunrisers Hyderabad,20,2,HH Pandya,Mohammad Nabi,caught,AS Yadav

In [358]:
total_wicket['dismissal_kind'].value_counts()

caught               113
bowled                32
lbw                   12
run out                6
caught and bowled      3
stumped                2
hit wicket             1
retired hurt           1
Name: dismissal_kind, dtype: int64

In [359]:
wicket = total_wicket[['match_id',"over",'batting_team','inning','dismissal_kind']]

In [360]:
wicket

        match_id  over         batting_team  inning dismissal_kind
2178          10    11  Sunrisers Hyderabad       1         caught
2197          10    14  Sunrisers Hyderabad       1         caught
2207          10    15  Sunrisers Hyderabad       1         bowled
2212          10    16  Sunrisers Hyderabad       1         bowled
2227          10    18  Sunrisers Hyderabad       1         bowled
...          ...   ...                  ...     ...            ...
176839     11342     6  Sunrisers Hyderabad       2            lbw
176851     11342     8  Sunrisers Hyderabad       2            lbw
176889     11342    14  Sunrisers Hyderabad       2         caught
176896     11342    15  Sunrisers Hyderabad       2         caught
176927     11342    20  Sunrisers Hyderabad       2         caught

[170 rows x 5 columns]

In [361]:
match_wickets = wicket.groupby(['match_id','over','batting_team'])['dismissal_kind'].value_counts()
match_wickets

match_id  over  batting_team         dismissal_kind
10        4     Mumbai Indians       bowled            1
          5     Mumbai Indians       lbw               1
          10    Mumbai Indians       caught            1
          11    Sunrisers Hyderabad  caught            1
          14    Mumbai Indians       caught            1
                                                      ..
11342     14    Sunrisers Hyderabad  caught            1
          15    Sunrisers Hyderabad  caught            1
          16    Mumbai Indians       caught            1
          20    Mumbai Indians       caught            1
                Sunrisers Hyderabad  caught            1
Name: dismissal_kind, Length: 163, dtype: int64