In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as py
import cufflinks as cf
%matplotlib inline
%matplotlib notebook

In [2]:
from plotly.offline import iplot
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

In [3]:
delivers = pd.read_csv('D:\datasets\deliveries.csv')

In [4]:
delivers.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
delivers.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [6]:
delivers.shape

(179078, 21)

In [6]:
delivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [7]:
matches = pd.read_csv('D:\datasets\matches.csv')

In [8]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [9]:
matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [10]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [11]:
matches["result"].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [12]:
tie = matches[matches['result'] == 'tie']
tie

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [13]:
no_result =matches[matches['result'] == 'no result']
no_result

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [14]:
matches_result = matches[['team1','team2','winner']]
matches_result.head()

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [15]:
matches_result['lost'] = matches_result.apply(lambda x:   (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis = 1)

In [16]:
matches_result.head(10)

,team1,team2,winner,lost
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils
5,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,Gujarat Lions
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Kolkata Knight Riders
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Royal Challengers Bangalore
8,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,Rising Pune Supergiant
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Sunrisers Hyderabad

In [17]:
wins = matches_result['winner'].value_counts()
wins

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                  10
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [18]:
lost = matches_result['lost'].value_counts()
lost

Royal Challengers Bangalore    95
Delhi Daredevils               94
Kings XI Punjab                94
Kolkata Knight Riders          86
Mumbai Indians                 78
Rajasthan Royals               70
Chennai Super Kings            64
Sunrisers Hyderabad            50
Deccan Chargers                46
Pune Warriors                  33
Gujarat Lions                  17
Rising Pune Supergiants         9
Kochi Tuskers Kerala            8
Delhi Capitals                  6
Rising Pune Supergiant          6
Name: lost, dtype: int64

In [19]:
wins.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Winning Count')

In [20]:
lost.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Losing Count')

# RCB VS SRH HEAD TO HEAD ANALYSIS

In [21]:
def get_rcbvssrh(team1,team2):
    teams =['Royal Challengers Bangalore','Sunrisers Hyderabad']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [22]:
index = [ ]

for row in matches.iterrows():
    flag = get_rcbvssrh(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

14

In [23]:
rcb_srh = matches[index]

In [24]:
rcb_srh.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [25]:
rcb_srh['dl_applied']

0      0
387    0
431    0
480    0
502    0
524    0
567    1
579    0
602    0
635    0
674    0
686    0
706    0
749    0
Name: dl_applied, dtype: int64

# Head to Head Win count

In [26]:
rcb_srh['winner'].value_counts().iplot(kind='bar')

In [27]:
team_win= rcb_srh[['team1','team2','toss_winner','toss_decision','winner']]
team_win.head()

,team1,team2,toss_winner,toss_decision,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad
387,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,Sunrisers Hyderabad
431,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,Royal Challengers Bangalore
480,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore
502,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,Sunrisers Hyderabad

In [28]:
team_decision= rcb_srh[['toss_winner','toss_decision','winner']]
team_decision.head()

                     toss_winner toss_decision                       winner
0    Royal Challengers Bangalore         field          Sunrisers Hyderabad
387  Royal Challengers Bangalore           bat          Sunrisers Hyderabad
431          Sunrisers Hyderabad           bat  Royal Challengers Bangalore
480  Royal Challengers Bangalore         field  Royal Challengers Bangalore
502  Royal Challengers Bangalore           bat          Sunrisers Hyderabad

In [29]:
corr = rcb_srh.corr()

In [30]:
sns.heatmap(corr,annot = True)

In [31]:
rcb_srh['venue'].value_counts()

Rajiv Gandhi International Stadium, Uppal    6
M Chinnaswamy Stadium                        6
M. Chinnaswamy Stadium                       1
Rajiv Gandhi Intl. Cricket Stadium           1
Name: venue, dtype: int64

In [32]:
venue= rcb_srh[['toss_winner','toss_decision','venue','winner']]
venue.head(12)

,toss_winner,toss_decision,venue,winner
0,Royal Challengers Bangalore,field,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
387,Royal Challengers Bangalore,bat,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
431,Sunrisers Hyderabad,bat,M Chinnaswamy Stadium,Royal Challengers Bangalore
480,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Royal Challengers Bangalore
502,Royal Challengers Bangalore,bat,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
524,Sunrisers Hyderabad,field,M Chinnaswamy Stadium,Sunrisers Hyderabad
567,Sunrisers Hyderabad,bat,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore
579,Sunrisers Hyderabad,field,M Chinnaswamy Stadium,Royal Challengers Bangalore
602,Royal Challengers Bangalore,field,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
635,Sunrisers Hyderabad,bat,M Chinnaswamy Stadium,Sunrisers Hyderabad
674,Royal Challengers Bangalore,field,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
686,Sunrisers Hyderabad,field,M Chinnaswamy Stadium,Royal Challengers Bangalore

In [33]:
toss_win_decision= rcb_srh[['toss_winner','toss_decision']]
toss_win_decision.head(20)

                     toss_winner toss_decision
0    Royal Challengers Bangalore         field
387  Royal Challengers Bangalore           bat
431          Sunrisers Hyderabad           bat
480  Royal Challengers Bangalore         field
502  Royal Challengers Bangalore           bat
524          Sunrisers Hyderabad         field
567          Sunrisers Hyderabad           bat
579          Sunrisers Hyderabad         field
602  Royal Challengers Bangalore         field
635          Sunrisers Hyderabad           bat
674  Royal Challengers Bangalore         field
686          Sunrisers Hyderabad         field
706  Royal Challengers Bangalore         field
749  Royal Challengers Bangalore         field

In [34]:
rcb_srh.shape

(14, 18)

In [35]:
rcb_srh.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [36]:
rcb_srh.isnull().sum()

id                  0
season              0
city                0
date                0
team1               0
team2               0
toss_winner         0
toss_decision       0
result              0
dl_applied          0
winner              0
win_by_runs         0
win_by_wickets      0
player_of_match     0
venue               0
umpire1             0
umpire2             0
umpire3            10
dtype: int64

In [37]:
rcb_srh = rcb_srh.drop('umpire3',axis =1)

# Head to Head Win based tossed decision playing 1st or 2nd Inning

In [38]:
team_decision.groupby(['toss_winner','winner'])['toss_decision'].value_counts()

toss_winner                  winner                       toss_decision
Royal Challengers Bangalore  Royal Challengers Bangalore  field            2
                             Sunrisers Hyderabad          field            4
                                                          bat              2
Sunrisers Hyderabad          Royal Challengers Bangalore  bat              2
                                                          field            2
                             Sunrisers Hyderabad          bat              1
                                                          field            1
Name: toss_decision, dtype: int64

In [39]:
delivers['batting_team'].value_counts()

Mumbai Indians                 22619
Kings XI Punjab                20931
Royal Challengers Bangalore    20908
Kolkata Knight Riders          20858
Chennai Super Kings            19762
Delhi Daredevils               18786
Rajasthan Royals               17292
Sunrisers Hyderabad            12908
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Delhi Capitals                  1909
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [40]:
def get_rcbvssrh(batting_team,bowling_team):
    teams =['Royal Challengers Bangalore','Sunrisers Hyderabad']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [41]:
index = [ ]

for row in delivers.iterrows():
    flag = get_rcbvssrh(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

3311

In [42]:
rcb_srh_del = delivers[index]

In [43]:
rcb_srh_del.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [44]:
rcb_srh_del['batsman'].value_counts()

V Kohli           370
DA Warner         339
AB de Villiers    243
S Dhawan          238
KS Williamson     174
                 ...
BB Samantray        2
JD Unadkat          1
S Kaul              1
Sandeep Sharma      1
TG Southee          1
Name: batsman, Length: 80, dtype: int64

# Sandeep Sharma Economy rate and Boundaries off

In [45]:
four = []
six = []
for i in rcb_srh_del['batsman_runs']:
    if i == 4 or i == 5:
        four.append(1)
        six.append(0)
    elif i == 6 or i == 7:
        four.append(0)
        six.append(1)
    else:
        four.append(0)
        six.append(0)
      
    
rcb_srh_del['four'] = four
rcb_srh_del['six'] = six

In [46]:
rcb_srh_del

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,2,2,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177634,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,6,C de Grandhomme,UT Yadav,K Ahmed,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
177635,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,7,UT Yadav,C de Grandhomme,K Ahmed,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
177636,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,8,UT Yadav,C de Grandhomme,K Ahmed,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
177637,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,1,UT Yadav,C de Grandhomme,Mohammad Nabi,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0
177638,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,UT Yadav,C de Grandhomme,Mohammad Nabi,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0

In [47]:
rcb_srh_del['bowler'].unique()

array(['TS Mills', 'A Choudhary', 'YS Chahal', 'S Aravind', 'SR Watson',
       'TM Head', 'STR Binny', 'A Nehra', 'B Kumar', 'BCJ Cutting',
       'Rashid Khan', 'DJ Hooda', 'MC Henriques', 'Bipul Sharma',
       'DW Steyn', 'GH Vihari', 'I Sharma', 'Ankit Sharma', 'NLTC Perera',
       'A Mishra', 'A Ashish Reddy', 'JD Unadkat', 'M Kartik',
       'R Vinay Kumar', 'M Muralitharan', 'TM Dilshan', 'RP Singh',
       'CL White', 'MA Starc', 'AB Dinda', 'VR Aaron', 'HV Patel',
       'KV Sharma', 'IK Pathan', 'DJG Sammy', 'Parvez Rasool',
       'Y Venugopal Rao', 'AN Ahmed', 'Yuvraj Singh', 'TA Boult',
       'P Kumar', 'RS Bopara', 'SA Abbott', 'D Wiese',
       'Mustafizur Rahman', 'AF Milne', 'KW Richardson', 'T Shamsi',
       'BB Sran', 'CH Gayle', 'Iqbal Abdulla', 'CJ Jordan', 'M Ali',
       'UT Yadav', 'TG Southee', 'Mohammed Siraj', 'C de Grandhomme',
       'Sandeep Sharma', 'Shakib Al Hasan', 'S Kaul', 'Basil Thampi',
       'P R Barman', 'Mohammad Nabi', 'S Sharma', 'V Shankar', 'N Saini',
       'K Khejroliya', 'Washington Sundar', 'K Ahmed'], dtype=object)

In [48]:
name = 'S Sharma'
Sharma = rcb_srh_del[rcb_srh_del['bowler'] == name]
Sharma.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
167339,11147,2,Royal Challengers Bangalore,Sunrisers Hyderabad,5,1,V Kohli,M Ali,S Sharma,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0

In [49]:
Sharma['match_id'].unique()

array([11147], dtype=int64)

In [51]:
Sharma_boundary= Sharma[Sharma["four"]!=0][["match_id","ball","bowler"]] # here taking boundary off the bowler/boundary conceived I am not considering include in over
Sharma_boundary = Sharma_boundary.groupby(["match_id","bowler"])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)

In [52]:
Sharma_boundary

   match_id    bowler  ball
0     11147  S Sharma     1

In [53]:
Sharma_wicket = Sharma[Sharma["dismissal_kind"] != "run out"]
Sharma_wicket= Sharma_wicket[["match_id","bowler","player_dismissed"]]
Sharma_wicket = Sharma_wicket.dropna()
Sharma_wicket= Sharma_wicket.groupby(["match_id","bowler"])["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
Sharma_wicket.columns=["match_id","bowler","Wickets"]
Sharma_wicket

   match_id    bowler  Wickets
0     11147  S Sharma        3

In [54]:
Sharma_over= Sharma[Sharma["extra_runs"]==0][["match_id","ball","bowler"]] # here extra balls I am not considering include in over
Sharma_over= Sharma_over.groupby(["match_id","bowler"])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Sharma_over["No_of_Overs"]=(Sharma_over["ball"]/6)
Sharma_over

   match_id    bowler  ball  No_of_Overs
0     11147  S Sharma    23     3.833333

In [55]:
Sharma_dotball= Sharma.groupby(["match_id","bowler"])["total_runs"].agg(lambda x: (x==0).sum()).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Sharma_dotball.columns=["match_id","bowler","No_of_balls"]
Sharma_dotball

   match_id    bowler  No_of_balls
0     11147  S Sharma           13

In [56]:
Sharma_extraball= Sharma.groupby(["match_id","bowler"])["extra_runs"].agg(lambda x: (x>0).sum()).reset_index().sort_values(by="extra_runs",ascending=False).reset_index(drop=True)
Sharma_extraball.columns=["match_id","bowler","No_of_balls"]
Sharma_extraball

   match_id    bowler  No_of_balls
0     11147  S Sharma            0

In [57]:
Sharma_Runs= Sharma.groupby(["match_id","bowler"])["total_runs"].sum().reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Sharma_Runs.columns=["match_id","bowler","Total_runs_given"]
Sharma_Runs

   match_id    bowler  Total_runs_given
0     11147  S Sharma                19

In [61]:
Sharma_economy= pd.merge(Sharma_Runs,Sharma_over,on=["match_id","bowler"])

In [62]:
Sharma_economy=Sharma_economy[Sharma_economy["No_of_Overs"]<4] # Sandeep Sharma  has played 1 match and taking only when he bowled 4 overs
Sharma_economy["Economy_rate"]=Sharma_economy["Total_runs_given"]/Sharma_economy["No_of_Overs"]
Sharma_economy=Sharma_economy.sort_values(by="Economy_rate").reset_index(drop=True)
Sharma_economy

   match_id    bowler  Total_runs_given  ball  No_of_Overs  Economy_rate
0     11147  S Sharma                19    23     3.833333      4.956522

# Batsman Strike Rate more than 130 and atleast 2 boundaries

In [63]:
Batsman_score = rcb_srh_del.groupby(["batsman"])['batsman_runs'].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

            batsman  batsman_runs
0         DA Warner           563
1           V Kohli           509
2    AB de Villiers           392
3     KS Williamson           268
4          S Dhawan           264
..              ...           ...
75       JD Unadkat             1
76       TG Southee             1
77   Sandeep Sharma             0
78  KB Arun Karthik             0
79        S Aravind             0

[80 rows x 2 columns]

In [64]:
Batsman_Ball_faced=rcb_srh_del.groupby(['batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

           batsman  ball
0          V Kohli   370
1        DA Warner   339
2   AB de Villiers   243
3         S Dhawan   238
4    KS Williamson   174
..             ...   ...
75        M Kartik     2
76          S Kaul     1
77      TG Southee     1
78  Sandeep Sharma     1
79      JD Unadkat     1

[80 rows x 2 columns]

In [66]:
Batsman_fours=rcb_srh_del.groupby(["match_id",'batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["match_id","batsman", "No. of 4s"]
Batsman_fours

     match_id         batsman  No. of 4s
0       11147      J Bairstow         12
1        7944  AB de Villiers         12
2         432         V Kohli         11
3         603       DA Warner          9
4         636       DA Warner          8
..        ...             ...        ...
204       525        VR Aaron          0
205       525   Mandeep Singh          0
206       525   KS Williamson          0
207       525        HV Patel          0
208     11345       YK Pathan          0

[209 rows x 3 columns]

In [67]:
Batsman_score_fours = pd.merge(Batsman_score,Batsman_fours,on='batsman')
Batsman_score_fours

             batsman  batsman_runs  match_id  No. of 4s
0          DA Warner           563       603          9
1          DA Warner           563       636          8
2          DA Warner           563       525          6
3          DA Warner           563     11147          5
4          DA Warner           563       568          5
..               ...           ...       ...        ...
204       JD Unadkat             1       388          0
205       TG Southee             1      7944          0
206   Sandeep Sharma             0      7932          0
207  KB Arun Karthik             0       388          0
208        S Aravind             0         1          0

[209 rows x 4 columns]

In [68]:
Batsman_strike_rate= pd.merge(Batsman_score,Batsman_Ball_faced,on="batsman",how='outer')
# here I am merging two data frames batsman run and batsman ball to get strike rate
Batsman_strike_rate= Batsman_strike_rate[Batsman_strike_rate["batsman_runs"]>=50]
# here I am taking only batsmen habing more than 500 runs under their belts
Batsman_strike_rate["strike_rate"]= (Batsman_strike_rate["batsman_runs"]/Batsman_strike_rate["ball"])*100
# formula for strike rate
Batsman_strike_rate= Batsman_strike_rate[["batsman","strike_rate"]]
# removing other coloumns from here only keeping batsman and strike rate
Batsman_strike_rate=Batsman_strike_rate.sort_values(by="strike_rate",ascending=False).reset_index(drop=True)
Batsman_strike_rate.iloc[:20,:]

            batsman  strike_rate
0           SN Khan   322.222222
1       BCJ Cutting   229.166667
2        J Bairstow   201.754386
3         DA Warner   166.076696
4             M Ali   165.306122
5         KM Jadhav   164.102564
6    AB de Villiers   161.316872
7     KS Williamson   154.022989
8         S Hetmyer   147.457627
9          KL Rahul   147.368421
10         CH Gayle   146.496815
11         CL White   145.098039
12     Yuvraj Singh   142.105263
13        SR Watson   142.105263
14     MC Henriques   139.869281
15  C de Grandhomme   138.554217
16  Gurkeerat Singh   138.000000
17   A Ashish Reddy   137.837838
18          V Kohli   137.567568
19        MK Pandey   133.333333

# Batsman Boundary runs ratio

In [69]:
Batsman_fours=rcb_srh_del.groupby(["match_id",'batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["match_id","batsman", "No. of 4s"]
Batsman_fours

     match_id         batsman  No. of 4s
0       11147      J Bairstow         12
1        7944  AB de Villiers         12
2         432         V Kohli         11
3         603       DA Warner          9
4         636       DA Warner          8
..        ...             ...        ...
204       525        VR Aaron          0
205       525   Mandeep Singh          0
206       525   KS Williamson          0
207       525        HV Patel          0
208     11345       YK Pathan          0

[209 rows x 3 columns]

In [77]:
Batsman_score = rcb_srh_del.groupby(["batsman"])['batsman_runs'].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

            batsman  batsman_runs
0         DA Warner           563
1           V Kohli           509
2    AB de Villiers           392
3     KS Williamson           268
4          S Dhawan           264
..              ...           ...
75       JD Unadkat             1
76       TG Southee             1
77   Sandeep Sharma             0
78  KB Arun Karthik             0
79        S Aravind             0

[80 rows x 2 columns]

In [70]:
Batsman_singles=rcb_srh_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==1).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 1 
Batsman_singles.columns = ["batsman", "No. of 1s"]
Batsman_singles

           batsman  No. of 1s
0          V Kohli        130
1        DA Warner        124
2   AB de Villiers        100
3         S Dhawan         99
4    KS Williamson         90
..             ...        ...
75   Iqbal Abdulla          0
76       S Aravind          0
77        AN Ahmed          0
78  Sandeep Sharma          0
79       IK Pathan          0

[80 rows x 2 columns]

In [71]:
Batsman_doubles=rcb_srh_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==2).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 2 
Batsman_doubles.columns = ["batsman", "No. of 2s"]
Batsman_doubles

           batsman  No. of 2s
0        DA Warner         33
1          V Kohli         25
2   AB de Villiers         13
3     MC Henriques         11
4         CH Gayle          9
..             ...        ...
75      P R Barman          0
76        M Kartik          0
77  Mohammed Siraj          0
78   Mohammad Nabi          0
79      MJ Guptill          0

[80 rows x 2 columns]

In [72]:
Batsman_triples=rcb_srh_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==3).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 3 
Batsman_triples.columns = ["batsman", "No. of 3s"]
Batsman_triples

            batsman  No. of 3s
0     KS Williamson          2
1      MC Henriques          1
2          S Dhawan          1
3           V Kohli          1
4         DA Warner          1
..              ...        ...
75  KB Arun Karthik          0
76       JD Unadkat          0
77       J Bairstow          0
78    Iqbal Abdulla          0
79     Yuvraj Singh          0

[80 rows x 2 columns]

In [73]:
Batsman_1s_2s_3s = pd.merge(Batsman_singles,Batsman_doubles,on='batsman')

In [74]:
Batsman_1s_2s_3s = pd.merge(Batsman_triples,Batsman_1s_2s_3s,on='batsman')

In [75]:
Batsman_1s_2s_3s = pd.merge(Batsman_fours,Batsman_1s_2s_3s,on='batsman')

In [76]:
Batsman_1s_2s_3s

     match_id         batsman  No. of 4s  No. of 3s  No. of 1s  No. of 2s
0       11147      J Bairstow         12          0         19          3
1        7944  AB de Villiers         12          0        100         13
2         580  AB de Villiers          7          0        100         13
3         481  AB de Villiers          6          0        100         13
4         525  AB de Villiers          5          0        100         13
..        ...             ...        ...        ...        ...        ...
204         1       STR Binny          0          0          8          0
205       636       STR Binny          0          0          8          0
206         1       S Aravind          0          0          0          0
207       636       CJ Jordan          0          0          1          1
208       525        VR Aaron          0          0          0          0

[209 rows x 6 columns]

In [78]:
Batsman_1s_2s_3s['No.1s_2s_3s'] = Batsman_1s_2s_3s['No. of 1s'] + Batsman_1s_2s_3s['No. of 2s'] + Batsman_1s_2s_3s['No. of 3s']

In [79]:
Batsman_1s_2s_3s

,match_id,batsman,No. of 4s,No. of 3s,No. of 1s,No. of 2s,No.1s_2s_3s
0,11147,J Bairstow,12,0,19,3,22
1,7944,AB de Villiers,12,0,100,13,113
2,580,AB de Villiers,7,0,100,13,113
3,481,AB de Villiers,6,0,100,13,113
4,525,AB de Villiers,5,0,100,13,113
...,...,...,...,...,...,...,...
204,1,STR Binny,0,0,8,0,8
205,636,STR Binny,0,0,8,0,8
206,1,S Aravind,0,0,0,0,0
207,636,CJ Jordan,0,0,1,1,2
208,525,VR Aaron,0,0,0,0,0

In [80]:
Batsman_1s_2s_3s['No.4s_123s'] = Batsman_1s_2s_3s['No.1s_2s_3s'] - Batsman_1s_2s_3s['No. of 4s']

In [81]:
Batsman_1s_2s_3s['No.4s_123s']

0       10
1      101
2      106
3      107
4      108
      ...
204      8
205      8
206      0
207      2
208      0
Name: No.4s_123s, Length: 209, dtype: int64

In [82]:
Batsman_1s_2s_3s = pd.merge(Batsman_score,Batsman_1s_2s_3s,on='batsman')

In [83]:
Batsman_1s_2s_3s

,batsman,batsman_runs,match_id,No. of 4s,No. of 3s,No. of 1s,No. of 2s,No.1s_2s_3s,No.4s_123s
0,DA Warner,563,603,9,1,124,33,158,149
1,DA Warner,563,636,8,1,124,33,158,150
2,DA Warner,563,525,6,1,124,33,158,152
3,DA Warner,563,11147,5,1,124,33,158,153
4,DA Warner,563,568,5,1,124,33,158,153
...,...,...,...,...,...,...,...,...,...
204,JD Unadkat,1,388,0,0,1,0,1,1
205,TG Southee,1,7944,0,0,1,0,1,1
206,Sandeep Sharma,0,7932,0,0,0,0,0,0
207,KB Arun Karthik,0,388,0,0,0,0,0,0
208,S Aravind,0,1,0,0,0,0,0,0

In [85]:
Batsman_1s_2s_3s["Batsman_Boundaries_ratio"]=Batsman_1s_2s_3s["No.4s_123s"]/Batsman_1s_2s_3s["batsman_runs"]
Batsman_4s= Batsman_1s_2s_3s[["batsman","Batsman_Boundaries_ratio"]]
Batsman_4s=Batsman_4s.sort_values(by="Batsman_Boundaries_ratio").reset_index(drop=True)
Batsman_4s

             batsman  Batsman_Boundaries_ratio
0      Mohammad Nabi                     -0.25
1           AN Ahmed                     -0.25
2          IK Pathan                     -0.25
3      Iqbal Abdulla                     -0.25
4           VR Aaron                      0.00
..               ...                       ...
204      Rashid Khan                      1.00
205       TG Southee                      1.00
206   Sandeep Sharma                       NaN
207  KB Arun Karthik                       NaN
208        S Aravind                       NaN

[209 rows x 2 columns]

In [98]:
Batsman_4s[Batsman_4s['Batsman_Boundaries_ratio']>=0.25].iloc[:50,:]

            batsman  Batsman_Boundaries_ratio
39       MA Agarwal                  0.250000
40          A Hales                  0.255814
41   AB de Villiers                  0.257653
42            M Ali                  0.259259
43            M Ali                  0.259259
44      Sachin Baby                  0.260870
45        DA Warner                  0.264654
46        DA Warner                  0.266430
47        DA Warner                  0.269982
48         CL White                  0.270270
49   AB de Villiers                  0.270408
50            M Ali                  0.271605
51        DA Warner                  0.271758
52        DA Warner                  0.271758
53   AB de Villiers                  0.272959
54        DA Warner                  0.273535
55        DA Warner                  0.273535
56        DA Warner                  0.275311
57   AB de Villiers                  0.275510
58        DA Warner                  0.277087
59        V Shankar                  0.277778
60        V Shankar                  0.277778
61   AB de Villiers                  0.280612
62        KM Jadhav                  0.281250
63   AB de Villiers                  0.283163
64          V Kohli                  0.284872
65        S Hetmyer                  0.287356
66   AB de Villiers                  0.288265
67   AB de Villiers                  0.288265
68   AB de Villiers                  0.288265
69   AB de Villiers                  0.288265
70   AB de Villiers                  0.288265
71   AB de Villiers                  0.288265
72         PA Patel                  0.290323
73          V Kohli                  0.292731
74          V Kohli                  0.294695
75        SR Watson                  0.296296
76          V Kohli                  0.296660
77          V Kohli                  0.296660
78         CL White                  0.297297
79  Shakib Al Hasan                  0.297297
80          V Kohli                  0.298625
81          V Kohli                  0.298625
82        MK Pandey                  0.300000
83          V Kohli                  0.300589
84          V Kohli                  0.302554
85          V Kohli                  0.302554
86      Sachin Baby                  0.304348
87          V Kohli                  0.304519
88      NLTC Perera                  0.306122

In [86]:
Batsman_4s.iloc[:50,:]

           batsman  Batsman_Boundaries_ratio
0    Mohammad Nabi                 -0.250000
1         AN Ahmed                 -0.250000
2        IK Pathan                 -0.250000
3    Iqbal Abdulla                 -0.250000
4         VR Aaron                  0.000000
5           S Dube                  0.000000
6     Bipul Sharma                  0.000000
7         TS Mills                  0.000000
8      A Choudhary                  0.000000
9          SN Khan                  0.017241
10         SN Khan                  0.051724
11     BCJ Cutting                  0.054545
12          S Rana                  0.083333
13      J Bairstow                  0.086957
14      MJ Guptill                  0.100000
15         WP Saha                  0.100000
16     BCJ Cutting                  0.109091
17       KV Sharma                  0.111111
18        UT Yadav                  0.125000
19   R Vinay Kumar                  0.142857
20       SA Abbott                  0.142857
21        CH Gayle                  0.143478
22        CH Gayle                  0.143478
23        CH Gayle                  0.147826
24        CH Gayle                  0.147826
25        CH Gayle                  0.152174
26        CH Gayle                  0.152174
27        CH Gayle                  0.156522
28        CH Gayle                  0.160870
29        CH Gayle                  0.160870
30      MA Agarwal                  0.166667
31        UT Yadav                  0.166667
32    Yuvraj Singh                  0.200000
33    Yuvraj Singh                  0.222222
34       KV Sharma                  0.222222
35         A Hales                  0.232558
36         WP Saha                  0.233333
37    Yuvraj Singh                  0.237037
38    Yuvraj Singh                  0.244444
39      MA Agarwal                  0.250000
40         A Hales                  0.255814
41  AB de Villiers                  0.257653
42           M Ali                  0.259259
43           M Ali                  0.259259
44     Sachin Baby                  0.260870
45       DA Warner                  0.264654
46       DA Warner                  0.266430
47       DA Warner                  0.269982
48        CL White                  0.270270
49  AB de Villiers                  0.270408

# PowerPlay Wickets losed

In [87]:
rcb_srh_Powerplay= rcb_srh_del[(rcb_srh_del['over']<=6)]
rcb_srh_Powerplay

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,2,2,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177551,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,2,S Hetmyer,Gurkeerat Singh,K Ahmed,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
177552,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,3,Gurkeerat Singh,S Hetmyer,K Ahmed,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
177553,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,4,Gurkeerat Singh,S Hetmyer,K Ahmed,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
177554,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,5,S Hetmyer,Gurkeerat Singh,K Ahmed,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
177555,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,6,Gurkeerat Singh,S Hetmyer,K Ahmed,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0

In [88]:
Powerplay_dismissals = rcb_srh_Powerplay[ pd.notnull(rcb_srh_Powerplay["player_dismissed"])]
Powerplay_dismissals = Powerplay_dismissals[["match_id", "over","inning", "player_dismissed","bowler","dismissal_kind", "fielder"]]

In [89]:
Powerplay_dismissals

,match_id,over,inning,player_dismissed,bowler,dismissal_kind,fielder
11,1,2,1,DA Warner,A Choudhary,caught,Mandeep Singh
160,1,6,2,Mandeep Singh,Rashid Khan,bowled,NaN
91663,388,2,1,CH Gayle,GH Vihari,caught,PA Patel
91679,388,4,1,TM Dilshan,I Sharma,bowled,NaN
91785,388,2,2,PA Patel,MC Henriques,caught,KB Arun Karthik
91801,388,4,2,CL White,MC Henriques,caught,M Muralitharan
102280,432,3,1,PA Reddy,RP Singh,caught,R Vinay Kumar
102423,432,6,2,MA Agarwal,NLTC Perera,caught,KC Sangakkara
113875,481,3,1,AJ Finch,MA Starc,caught,PA Patel
113882,481,4,1,KL Rahul,AB Dinda,caught,CH Gayle
113993,481,2,2,PA Patel,B Kumar,bowled,NaN
113999,481,2,2,V Kohli,B Kumar,caught,NV Ojha
119173,503,1,1,PA Patel,B Kumar,lbw,NaN
119199,503,6,1,CH Gayle,KV Sharma,caught,Parvez Rasool
124476,525,6,1,CH Gayle,P Kumar,caught,A Ashish Reddy
134458,568,3,1,S Dhawan,D Wiese,caught,AB Dinda
134530,568,3,2,CH Gayle,MC Henriques,caught,S Dhawan
134531,568,3,2,AB de Villiers,MC Henriques,caught,DW Steyn
134540,568,5,2,Mandeep Singh,P Kumar,caught,EJG Morgan
134547,568,6,2,KD Karthik,B Kumar,run out,B Kumar
137023,580,2,1,CH Gayle,B Kumar,bowled,NaN
137159,580,4,2,S Dhawan,Parvez Rasool,bowled,NaN
142502,603,4,1,S Dhawan,KW Richardson,caught and bowled,NaN
142637,603,6,2,V Kohli,Mustafizur Rahman,caught,A Ashish Reddy
159492,7932,3,1,A Hales,TG Southee,bowled,NaN
159513,7932,6,1,S Dhawan,Mohammed Siraj,caught,TG Southee
159620,7932,3,2,PA Patel,Shakib Al Hasan,lbw,NaN
162296,7944,1,1,PA Patel,Sandeep Sharma,caught,S Kaul
162319,7944,5,1,V Kohli,Rashid Khan,bowled,NaN
162443,7944,6,2,S Dhawan,YS Chahal,caught,YS Chahal
167326,11147,2,2,PA Patel,Mohammad Nabi,caught,MK Pandey
167333,11147,4,2,S Hetmyer,Mohammad Nabi,stumped,J Bairstow
167336,11147,4,2,AB de Villiers,Mohammad Nabi,bowled,NaN
177419,11345,5,1,WP Saha,N Saini,caught,UT Yadav
177519,11345,1,2,PA Patel,B Kumar,caught,MK Pandey
177527,11345,2,2,V Kohli,K Ahmed,caught,WP Saha
177533,11345,3,2,AB de Villiers,B Kumar,caught,MJ Guptill

In [90]:
PowerPlay_Wickets =Powerplay_dismissals.groupby(["match_id",'bowler',"over","inning"])['dismissal_kind'].value_counts()
PowerPlay_Wickets

match_id  bowler             over  inning  dismissal_kind
1         A Choudhary        2     1       caught               1
          Rashid Khan        6     2       bowled               1
388       GH Vihari          2     1       caught               1
          I Sharma           4     1       bowled               1
          MC Henriques       2     2       caught               1
                             4     2       caught               1
432       NLTC Perera        6     2       caught               1
          RP Singh           3     1       caught               1
481       AB Dinda           4     1       caught               1
          B Kumar            2     2       bowled               1
                                           caught               1
          MA Starc           3     1       caught               1
503       B Kumar            1     1       lbw                  1
          KV Sharma          6     1       caught               1
525       P Kumar            6     1       caught               1
568       B Kumar            6     2       run out              1
          D Wiese            3     1       caught               1
          MC Henriques       3     2       caught               2
          P Kumar            5     2       caught               1
580       B Kumar            2     1       bowled               1
          Parvez Rasool      4     2       bowled               1
603       KW Richardson      4     1       caught and bowled    1
          Mustafizur Rahman  6     2       caught               1
7932      Mohammed Siraj     6     1       caught               1
          Shakib Al Hasan    3     2       lbw                  1
          TG Southee         3     1       bowled               1
7944      Rashid Khan        5     1       bowled               1
          Sandeep Sharma     1     1       caught               1
          YS Chahal          6     2       caught               1
11147     Mohammad Nabi      2     2       caught               1
                             4     2       bowled               1
                                           stumped              1
11345     B Kumar            1     2       caught               1
                             3     2       caught               1
          K Ahmed            2     2       caught               1
          N Saini            5     1       caught               1
Name: dismissal_kind, dtype: int64