In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as py
import cufflinks as cf
%matplotlib inline
%matplotlib notebook

In [2]:
from plotly.offline import iplot
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

In [3]:
delivers = pd.read_csv('D:\datasets\deliveries.csv')

In [4]:
delivers.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
delivers.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [6]:
delivers.shape

(179078, 21)

In [7]:
delivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [8]:
matches = pd.read_csv('D:\datasets\matches.csv')

In [9]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [10]:
matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [11]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [12]:
matches.shape

(756, 18)

In [13]:
matches["result"].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [14]:
tie = matches[matches['result'] == 'tie']
tie

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [15]:
no_result =matches[matches['result'] == 'no result']
no_result

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [16]:
matches_result = matches[['team1','team2','winner']]
matches_result.head()

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [17]:
matches_result['lost'] = matches_result.apply(lambda x:   (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis = 1)

In [18]:
matches_result.head(10)

,team1,team2,winner,lost
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils
5,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,Gujarat Lions
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Kolkata Knight Riders
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Royal Challengers Bangalore
8,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,Rising Pune Supergiant
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Sunrisers Hyderabad

In [19]:
wins = matches_result['winner'].value_counts()
wins

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                  10
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [20]:
lost = matches_result['lost'].value_counts()
lost

Royal Challengers Bangalore    95
Kings XI Punjab                94
Delhi Daredevils               94
Kolkata Knight Riders          86
Mumbai Indians                 78
Rajasthan Royals               70
Chennai Super Kings            64
Sunrisers Hyderabad            50
Deccan Chargers                46
Pune Warriors                  33
Gujarat Lions                  17
Rising Pune Supergiants         9
Kochi Tuskers Kerala            8
Delhi Capitals                  6
Rising Pune Supergiant          6
Name: lost, dtype: int64

In [21]:
wins.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Winning Count')

In [22]:
lost.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Losing Count')

# KXIP VS DC HEAD TO HEAD ANALYSIS

In [23]:
def get_kxipvsdc(team1,team2):
    teams =['Kings XI Punjab','Delhi Daredevils']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [24]:
index = [ ]

for row in matches.iterrows():
    flag = get_kxipvsdc(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

22

In [25]:
kxip_dd = matches[index]

In [26]:
kxip_dd.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
14,15,2017,Delhi,2017-04-15,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Delhi Daredevils,51,0,CJ Anderson,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN
34,35,2017,Chandigarh,2017-04-30,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,10,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",YC Barde,CK Nandan,NaN
72,73,2008,Chandigarh,2008-04-27,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Kings XI Punjab,0,4,SM Katich,"Punjab Cricket Association Stadium, Mohali",RE Koertzen,I Shivram,NaN
99,100,2008,Delhi,2008-05-17,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,1,Kings XI Punjab,6,0,DPMD Jayawardene,Feroz Shah Kotla,AV Jayaprakash,RE Koertzen,NaN
119,120,2009,Cape Town,2009-04-19,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,1,Delhi Daredevils,0,10,DL Vettori,Newlands,MR Benson,SD Ranade,NaN

In [27]:
kxip_dd.shape

(22, 18)

In [28]:
def get_kxipvsdc(team1,team2):
    teams =['Kings XI Punjab','Delhi Capitals']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [29]:
index = [ ]

for row in matches.iterrows():
    flag = get_kxipvsdc(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

2

In [30]:
kxip_dc = matches[index]

In [31]:
kxip_d = pd.concat([kxip_dc,kxip_dd])

In [32]:
kxip_dc.shape

(2, 18)

In [33]:
kxip_d

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
708,11149,2019,Mohali,01/04/19,Kings XI Punjab,Delhi Capitals,Delhi Capitals,field,normal,0,Kings XI Punjab,14,0,S Curran,IS Bindra Stadium,Anil Chaudhary,Chris Gaffaney,Vineet Kulkarni
732,11328,2019,Delhi,20/04/19,Kings XI Punjab,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,5,SS Iyer,Feroz Shah Kotla Ground,Ulhas Gandhe,C Shamshuddin,Bruce Oxenford
14,15,2017,Delhi,2017-04-15,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Delhi Daredevils,51,0,CJ Anderson,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN
34,35,2017,Chandigarh,2017-04-30,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,10,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",YC Barde,CK Nandan,NaN
72,73,2008,Chandigarh,2008-04-27,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Kings XI Punjab,0,4,SM Katich,"Punjab Cricket Association Stadium, Mohali",RE Koertzen,I Shivram,NaN
99,100,2008,Delhi,2008-05-17,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,1,Kings XI Punjab,6,0,DPMD Jayawardene,Feroz Shah Kotla,AV Jayaprakash,RE Koertzen,NaN
119,120,2009,Cape Town,2009-04-19,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,1,Delhi Daredevils,0,10,DL Vettori,Newlands,MR Benson,SD Ranade,NaN
160,161,2009,Bloemfontein,2009-05-15,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,B Lee,OUTsurance Oval,HDPK Dharmasena,IL Howell,NaN
176,177,2010,Chandigarh,2010-03-13,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,5,G Gambhir,"Punjab Cricket Association Stadium, Mohali",BR Doctrove,S Ravi,NaN
217,218,2010,Delhi,2010-04-11,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Kings XI Punjab,0,7,PP Chawla,Feroz Shah Kotla,BF Bowden,AM Saheba,NaN
258,259,2011,Delhi,2011-04-23,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Delhi Daredevils,29,0,DA Warner,Feroz Shah Kotla,S Asnani,RE Koertzen,NaN
292,293,2011,Dharamsala,2011-05-15,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Kings XI Punjab,29,0,PP Chawla,Himachal Pradesh Cricket Association Stadium,Asad Rauf,SL Shastri,NaN
368,369,2012,Delhi,2012-05-15,Kings XI Punjab,Delhi Daredevils,Kings XI Punjab,bat,normal,0,Delhi Daredevils,0,5,UT Yadav,Feroz Shah Kotla,HDPK Dharmasena,BNJ Oxenford,NaN
373,374,2012,Dharamsala,2012-05-19,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,6,UT Yadav,Himachal Pradesh Cricket Association Stadium,BF Bowden,VA Kulkarni,NaN
411,412,2013,Dharamsala,2013-05-16,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Kings XI Punjab,7,0,DA Miller,Himachal Pradesh Cricket Association Stadium,HDPK Dharmasena,S Ravi,NaN
442,443,2013,Delhi,2013-04-23,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Harmeet Singh,Feroz Shah Kotla,VA Kulkarni,K Srinath,NaN
501,502,2014,Delhi,2014-05-19,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,4,AR Patel,Feroz Shah Kotla,HDPK Dharmasena,PG Pathak,NaN
511,512,2014,Chandigarh,2014-05-25,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,7,M Vohra,"Punjab Cricket Association Stadium, Mohali",HDPK Dharmasena,VA Kulkarni,NaN
527,528,2015,Pune,2015-04-15,Kings XI Punjab,Delhi Daredevils,Kings XI Punjab,bat,normal,0,Delhi Daredevils,0,5,MA Agarwal,Maharashtra Cricket Association Stadium,CB Gaffaney,K Srinath,NaN
547,548,2015,Delhi,2015-05-01,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,9,NM Coulter-Nile,Feroz Shah Kotla,RK Illingworth,S Ravi,NaN
582,583,2016,Delhi,2016-04-15,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,8,A Mishra,Feroz Shah Kotla,S Ravi,C Shamshuddin,NaN
611,612,2016,Chandigarh,2016-05-07,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Kings XI Punjab,9,0,MP Stoinis,"Punjab Cricket Association IS Bindra Stadium, ...",HDPK Dharmasena,CK Nandan,NaN
637,7895,2018,Mohali,08/04/18,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,KL Rahul,"Punjab Cricket Association IS Bindra Stadium, ...",Rod Tucker,K Ananthapadmanabhan,Nitin Menon
657,7915,2018,Delhi,23/04/18,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Kings XI Punjab,4,0,AS Rajpoot,Feroz Shah Kotla,O Nandan,A Nanda Kishore,Chris Gaffaney

In [34]:
kxip_d.shape

(24, 18)

In [35]:
kxip_d['team2'].unique()

array(['Delhi Capitals', 'Kings XI Punjab', 'Delhi Daredevils'],
      dtype=object)

In [36]:
kxip_d['dl_applied']

708    0
732    0
14     0
34     0
72     0
99     1
119    1
160    0
176    0
217    0
258    0
292    0
368    0
373    0
411    0
442    0
501    0
511    0
527    0
547    0
582    0
611    0
637    0
657    0
Name: dl_applied, dtype: int64

# Changing Delhi Daredevils and Delhi Capitals as DC

In [37]:
oldname = ['Kings XI Punjab', 'Delhi Daredevils','Delhi Capitals']
newname = ['KXIP','DC','DC']
kxip_d = kxip_d.replace(oldname,newname)

In [38]:
kxip_d['team2'].unique()

array(['DC', 'KXIP'], dtype=object)

# Head to Head Match Count

In [39]:
kxip_d['winner'].value_counts().iplot(kind='bar')

In [40]:
team_win= kxip_d[['team1','team2','toss_winner','toss_decision','winner']]
team_win.head()

    team1 team2 toss_winner toss_decision winner
708  KXIP    DC          DC         field   KXIP
732  KXIP    DC          DC         field     DC
14     DC  KXIP          DC           bat     DC
34     DC  KXIP        KXIP         field   KXIP
72     DC  KXIP          DC           bat   KXIP

In [41]:
team_decision= kxip_d[['toss_winner','toss_decision','winner']]
team_decision.head()

    toss_winner toss_decision winner
708          DC         field   KXIP
732          DC         field     DC
14           DC           bat     DC
34         KXIP         field   KXIP
72           DC           bat   KXIP

In [42]:
corr = kxip_d.corr()

In [43]:
sns.heatmap(corr,annot = True)

In [44]:
kxip_d['venue'].value_counts()

Feroz Shah Kotla                                        10
Punjab Cricket Association IS Bindra Stadium, Mohali     3
Punjab Cricket Association Stadium, Mohali               3
Himachal Pradesh Cricket Association Stadium             3
OUTsurance Oval                                          1
Newlands                                                 1
Maharashtra Cricket Association Stadium                  1
Feroz Shah Kotla Ground                                  1
IS Bindra Stadium                                        1
Name: venue, dtype: int64

In [45]:
venue= kxip_d[['toss_winner','toss_decision','venue','winner']]
venue.head(18)

,toss_winner,toss_decision,venue,winner
708,DC,field,IS Bindra Stadium,KXIP
732,DC,field,Feroz Shah Kotla Ground,DC
14,DC,bat,Feroz Shah Kotla,DC
34,KXIP,field,"Punjab Cricket Association IS Bindra Stadium, ...",KXIP
72,DC,bat,"Punjab Cricket Association Stadium, Mohali",KXIP
99,DC,bat,Feroz Shah Kotla,KXIP
119,DC,field,Newlands,DC
160,KXIP,field,OUTsurance Oval,KXIP
176,DC,field,"Punjab Cricket Association Stadium, Mohali",DC
217,DC,bat,Feroz Shah Kotla,KXIP
258,KXIP,field,Feroz Shah Kotla,DC
292,DC,field,Himachal Pradesh Cricket Association Stadium,KXIP
368,KXIP,bat,Feroz Shah Kotla,DC
373,DC,field,Himachal Pradesh Cricket Association Stadium,DC
411,DC,field,Himachal Pradesh Cricket Association Stadium,KXIP
442,KXIP,field,Feroz Shah Kotla,KXIP
501,KXIP,field,Feroz Shah Kotla,KXIP
511,KXIP,field,"Punjab Cricket Association Stadium, Mohali",KXIP

In [46]:
toss_win_decision= kxip_d[['toss_winner','toss_decision']]
toss_win_decision.head(20)

    toss_winner toss_decision
708          DC         field
732          DC         field
14           DC           bat
34         KXIP         field
72           DC           bat
99           DC           bat
119          DC         field
160        KXIP         field
176          DC         field
217          DC           bat
258        KXIP         field
292          DC         field
368        KXIP           bat
373          DC         field
411          DC         field
442        KXIP         field
501        KXIP         field
511        KXIP         field
527        KXIP           bat
547          DC         field

# Head to Head Win based tossed decision playing 1st or 2nd Inning

In [47]:
team_decision.groupby(['toss_winner','winner'])['toss_decision'].value_counts()

toss_winner  winner  toss_decision
DC           DC      field            6
                     bat              1
             KXIP    field            5
                     bat              3
KXIP         DC      bat              2
                     field            1
             KXIP    field            6
Name: toss_decision, dtype: int64

In [48]:
delivers['batting_team'].value_counts()

Mumbai Indians                 22619
Kings XI Punjab                20931
Royal Challengers Bangalore    20908
Kolkata Knight Riders          20858
Chennai Super Kings            19762
Delhi Daredevils               18786
Rajasthan Royals               17292
Sunrisers Hyderabad            12908
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Delhi Capitals                  1909
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [49]:
delivers['batting_team'].value_counts().iplot(kind ='bar',xTitle = 'Team',yTitle = 'Runs',title ='Runs scored by Teams in IPL 2008-19')

In [126]:
def get_kxipvsdd(batting_team,bowling_team):
    teams =['Kings XI Punjab','Delhi Daredevils']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [127]:
index = [ ]

for row in delivers.iterrows():
    flag = get_kxipvsdd(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

4919

In [128]:
kxip_dd_del = delivers[index]

In [129]:
kxip_dd_del.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
3318,15,1,Delhi Daredevils,Kings XI Punjab,1,1,SV Samson,SW Billings,Sandeep Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3319,15,1,Delhi Daredevils,Kings XI Punjab,1,2,SV Samson,SW Billings,Sandeep Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3320,15,1,Delhi Daredevils,Kings XI Punjab,1,3,SV Samson,SW Billings,Sandeep Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3321,15,1,Delhi Daredevils,Kings XI Punjab,1,4,SV Samson,SW Billings,Sandeep Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3322,15,1,Delhi Daredevils,Kings XI Punjab,1,5,SV Samson,SW Billings,Sandeep Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3323,15,1,Delhi Daredevils,Kings XI Punjab,1,6,SV Samson,SW Billings,Sandeep Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3324,15,1,Delhi Daredevils,Kings XI Punjab,2,1,SW Billings,SV Samson,MM Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3325,15,1,Delhi Daredevils,Kings XI Punjab,2,2,SW Billings,SV Samson,MM Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3326,15,1,Delhi Daredevils,Kings XI Punjab,2,3,SW Billings,SV Samson,MM Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3327,15,1,Delhi Daredevils,Kings XI Punjab,2,4,SW Billings,SV Samson,MM Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [130]:
kxip_dd_del['match_id'].unique()

array([  15,   35,   73,  100,  120,  161,  177,  218,  259,  293,  369,
        374,  412,  443,  502,  512,  528,  548,  583,  612, 7895, 7915],
      dtype=int64)

In [161]:
def get_kxipvsdc(batting_team,bowling_team):
    teams =['Kings XI Punjab','Delhi Capitals']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [162]:
index = [ ]

for row in delivers.iterrows():
    flag = get_kxipvsdc(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

493

In [163]:
kxip_dc_del = delivers[index]

In [57]:
kxip_dc_del.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167689,11149,1,Kings XI Punjab,Delhi Capitals,1,1,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167690,11149,1,Kings XI Punjab,Delhi Capitals,1,2,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167691,11149,1,Kings XI Punjab,Delhi Capitals,1,3,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
167692,11149,1,Kings XI Punjab,Delhi Capitals,1,4,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167693,11149,1,Kings XI Punjab,Delhi Capitals,1,5,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167694,11149,1,Kings XI Punjab,Delhi Capitals,1,6,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
167695,11149,1,Kings XI Punjab,Delhi Capitals,2,1,KL Rahul,S Curran,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167696,11149,1,Kings XI Punjab,Delhi Capitals,2,2,KL Rahul,S Curran,CH Morris,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
167697,11149,1,Kings XI Punjab,Delhi Capitals,2,3,KL Rahul,S Curran,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167698,11149,1,Kings XI Punjab,Delhi Capitals,2,4,KL Rahul,S Curran,CH Morris,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [164]:
kxip_dc_del['match_id'].unique()

array([11149, 11328], dtype=int64)

In [165]:
kxip_dc_del = pd.concat([kxip_dc_del,kxip_dd_del])

In [166]:
kxip_dc_del.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167689,11149,1,Kings XI Punjab,Delhi Capitals,1,1,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167690,11149,1,Kings XI Punjab,Delhi Capitals,1,2,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167691,11149,1,Kings XI Punjab,Delhi Capitals,1,3,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
167692,11149,1,Kings XI Punjab,Delhi Capitals,1,4,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167693,11149,1,Kings XI Punjab,Delhi Capitals,1,5,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [167]:
kxip_dc_del['batting_team'].unique()

array(['Kings XI Punjab', 'Delhi Capitals', 'Delhi Daredevils'],
      dtype=object)

In [168]:
oldname = ['Kings XI Punjab', 'Delhi Daredevils','Delhi Capitals']
newname = ['KXIP', 'DC', 'DC']
kxip_dc_del = kxip_dc_del.replace(oldname, newname )

In [169]:
kxip_dc_del['batting_team'].unique()

array(['KXIP', 'DC'], dtype=object)

# Leading Runscorer in DC vs KXIP Head to Head Matches

In [80]:
kxip_dc_del['batsman'].value_counts()[:40].iplot(kind='bar')

# KL Rahul Strike Rate in Powerplay

In [64]:
name = 'KL Rahul'
batsman = kxip_dc_del[kxip_dc_del['batsman'] == name]
batsman.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167689,11149,1,KXIP,DC,1,1,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [65]:
batsman.shape

(51, 21)

In [66]:
batsman.groupby(['match_id'])['total_runs'].sum()

match_id
7895     51
7915     23
11149    15
11328    12
Name: total_runs, dtype: int64

In [67]:
batsman['total_runs'].sum()

101

In [68]:
KL_rahul_POWERPLAY  = batsman[batsman['over']<=6]

In [70]:
KL_rahul_POWERPLAY.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167689,11149,1,KXIP,DC,1,1,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167690,11149,1,KXIP,DC,1,2,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167691,11149,1,KXIP,DC,1,3,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
167692,11149,1,KXIP,DC,1,4,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167693,11149,1,KXIP,DC,1,5,KL Rahul,S Curran,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [92]:
KL_rahul_POWERPLAY['match_id'].unique()

array([11149, 11328,  7895,  7915], dtype=int64)

In [93]:
KL_rahul_POWERPLAY['over'].unique()

array([1, 2, 3, 5, 4], dtype=int64)

In [96]:
dismissals = KL_rahul_POWERPLAY[ pd.notnull(KL_rahul_POWERPLAY["player_dismissed"])]
dismissals = dismissals[["match_id", "over","inning", "player_dismissed","bowler", "dismissal_kind", "fielder"]]

In [97]:
dismissals

,match_id,over,inning,player_dismissed,bowler,dismissal_kind,fielder
167699,11149,2,1,KL Rahul,CH Morris,lbw,NaN
173507,11328,2,1,KL Rahul,S Lamichhane,stumped,RR Pant
150858,7895,5,2,KL Rahul,TA Boult,caught,Mohammed Shami
155428,7915,5,1,KL Rahul,L Plunkett,caught,Avesh Khan

In [106]:
KL_rahul_POWERPLAY.groupby(['match_id'])['total_runs'].sum()

match_id
7895     51
7915     23
11149    15
11328    12
Name: total_runs, dtype: int64

In [107]:
Batsman_score=KL_rahul_POWERPLAY.groupby('batsman')["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

    batsman  batsman_runs
0  KL Rahul           101

In [108]:
Batsman_Ball_faced=KL_rahul_POWERPLAY.groupby(['batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

    batsman  ball
0  KL Rahul    51

In [109]:
Batsman_strike_rate= pd.merge(Batsman_score,Batsman_Ball_faced,on="batsman",how='outer')
# Merging two data frames batsman run and batsman ball to get strike rate
Batsman_strike_rate= Batsman_strike_rate[Batsman_strike_rate["batsman_runs"]>=50]
# More than 50 runs because KL Rahul have only scored 101 runs in total against DC
Batsman_strike_rate["strike_rate"]= (Batsman_strike_rate["batsman_runs"]/Batsman_strike_rate["ball"])*100
# formula for strike rate
Batsman_strike_rate= Batsman_strike_rate[["batsman","strike_rate"]]
# Removing other coloumns from here only keeping batsman and strike rate
batsman_strike_rate=Batsman_strike_rate.sort_values(by="strike_rate",ascending=False).reset_index(drop=True)
batsman_strike_rate

    batsman  strike_rate
0  KL Rahul   198.039216

In [81]:
kxip_dc_del['batsman'].unique()

array(['KL Rahul', 'MA Agarwal', 'S Curran', 'SN Khan', 'DA Miller',
       'Mandeep Singh', 'H Viljoen', 'R Ashwin', 'M Ashwin',
       'Mohammed Shami', 'P Shaw', 'SS Iyer', 'S Dhawan', 'RR Pant',
       'C Ingram', 'CH Morris', 'H Vihari', 'HV Patel', 'Avesh Khan',
       'K Rabada', 'S Lamichhane', 'CH Gayle', 'H Brar', 'AR Patel',
       'S Rutherford', 'SV Samson', 'SW Billings', 'KK Nair',
       'CJ Anderson', 'PJ Cummins', 'M Vohra', 'HM Amla', 'WP Saha',
       'EJG Morgan', 'GJ Maxwell', 'MM Sharma', 'KC Cariappa',
       'Sandeep Sharma', 'A Mishra', 'S Nadeem', 'MJ Guptill',
       'G Gambhir', 'V Sehwag', 'Shoaib Malik', 'MK Tiwary', 'KD Karthik',
       'R Bhatia', 'MF Maharoof', 'VY Mahesh', 'K Goel', 'SM Katich',
       'KC Sangakkara', 'DPMD Jayawardene', 'Yuvraj Singh',
       'TM Srivastava', 'IK Pathan', 'B Lee', 'TM Dilshan', 'SE Marsh',
       'JR Hopes', 'LA Pomersbach', 'RS Bopara', 'AB de Villiers',
       'M Manhas', 'DL Vettori', 'PJ Sangwan', 'A Nehra', 'S Sohal',
       'MS Bisla', 'M Kaif', 'PP Chawla', 'RR Powar', 'S Sreesanth',
       'YA Abdulla', 'DA Warner', 'PD Collingwood', 'AB Barath',
       'Y Nagar', 'Y Venugopal Rao', 'AJ Finch', 'NV Ojha',
       'AC Gilchrist', 'PC Valthaty', 'DJ Hussey', 'AM Nayar',
       'Sunny Singh', 'RJ Harris', 'S Sriram', 'TR Birt', 'M Morkel',
       'VR Aaron', 'N Saini', 'Azhar Mahmood', 'Gurkeerat Singh',
       'P Kumar', 'P Awana', 'LRPL Taylor', 'SD Chitnis', 'UBT Chand',
       'R Sathish', 'BJ Rohrer', 'CM Gautam', 'RE van der Merwe',
       'MC Juneja', 'KM Jadhav', 'J Botha', 'AB Agarkar', 'M Vijay',
       'KP Pietersen', 'JP Duminy', 'WD Parnell', 'GJ Bailey', 'R Dhawan',
       'JDS Neesham', 'Imran Tahir', 'JD Unadkat', 'AD Mathews',
       'NLTC Perera', 'SN Thakur', 'Anureet Singh', 'SS Tiwary',
       'MG Johnson', 'P Sahu', 'Q de Kock', 'P Negi', 'MP Stoinis',
       'CR Brathwaite', 'C Munro', 'V Shankar', 'R Tewatia',
       'DT Christian', 'AJ Tye', 'BB Sran', 'L Plunkett'], dtype=object)

# CHRIS GAYLE Batting Status innnings against DC

In [89]:
name = 'CH Gayle'
Gayle = kxip_dc_del[kxip_dc_del['batsman'] == name]
Gayle.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
173499,11328,1,KXIP,DC,1,2,CH Gayle,KL Rahul,I Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
173512,11328,1,KXIP,DC,3,3,CH Gayle,MA Agarwal,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
173513,11328,1,KXIP,DC,3,4,CH Gayle,MA Agarwal,I Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
173514,11328,1,KXIP,DC,3,5,CH Gayle,MA Agarwal,I Sharma,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
173515,11328,1,KXIP,DC,3,6,CH Gayle,MA Agarwal,I Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [84]:
Gayle.shape

(37, 21)

In [90]:
Gayle['match_id'].unique()

array([11328], dtype=int64)

In [91]:
Gayle['over'].unique()

array([ 1,  3,  4,  6,  7,  8,  9, 10, 11, 12, 13], dtype=int64)

In [85]:
Gayle.groupby(['match_id'])['total_runs'].sum()

match_id
11328    69
Name: total_runs, dtype: int64

In [98]:
Gayle_dismissals = Gayle[ pd.notnull(Gayle["player_dismissed"])]
Gayle_dismissals = Gayle_dismissals[["match_id", "over","inning", "player_dismissed","bowler","dismissal_kind", "fielder"]]

In [99]:
Gayle_dismissals

,match_id,over,inning,player_dismissed,bowler,dismissal_kind,fielder
173571,11328,13,1,CH Gayle,S Lamichhane,caught,AR Patel

In [111]:
Batsman_score=Gayle.groupby('batsman')["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

    batsman  batsman_runs
0  CH Gayle            69

In [112]:
Batsman_Ball_faced=Gayle.groupby(['batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

    batsman  ball
0  CH Gayle    37

In [113]:
Batsman_strike_rate= pd.merge(Batsman_score,Batsman_Ball_faced,on="batsman",how='outer')
# Merging two data frames batsman run and batsman ball to get strike rate
Batsman_strike_rate= Batsman_strike_rate[Batsman_strike_rate["batsman_runs"]>=50]
# more than 50 runs because Chris Gayle have only scored 69 runs in total against DC
Batsman_strike_rate["strike_rate"]= (Batsman_strike_rate["batsman_runs"]/Batsman_strike_rate["ball"])*100
# formula for strike rate
Batsman_strike_rate= Batsman_strike_rate[["batsman","strike_rate"]]
# Removing other coloumns from here only keeping batsman and strike rate
batsman_strike_rate=Batsman_strike_rate.sort_values(by="strike_rate",ascending=False).reset_index(drop=True)
batsman_strike_rate

    batsman  strike_rate
0  CH Gayle   186.486486

# Chris Gayle against Delhi Daredevils (before joining KXIP)

In [140]:
name = 'CH Gayle'
Gayle_dd = delivers[(delivers['batsman'] == name)&(delivers['bowling_team'] == 'Delhi Daredevils')]
Gayle_dd.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
960,5,1,Royal Challengers Bangalore,Delhi Daredevils,1,1,CH Gayle,SR Watson,Z Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
969,5,1,Royal Challengers Bangalore,Delhi Daredevils,2,4,CH Gayle,SR Watson,CH Morris,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
970,5,1,Royal Challengers Bangalore,Delhi Daredevils,2,5,CH Gayle,SR Watson,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
971,5,1,Royal Challengers Bangalore,Delhi Daredevils,2,6,CH Gayle,SR Watson,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
974,5,1,Royal Challengers Bangalore,Delhi Daredevils,3,3,CH Gayle,SR Watson,PJ Cummins,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [141]:
Gayle_dd['match_id'].unique()

array([  5,  55, 200, 213, 263, 372, 401, 438, 495, 543, 571, 587, 632],
      dtype=int64)

In [142]:
Gayle_dd.shape

(264, 21)

In [143]:
Gayle_dd['over'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20], dtype=int64)

In [144]:
Gayle_dd.groupby(['match_id'])['total_runs'].sum()

match_id
5        7
55      49
200     32
213     41
263     28
372    129
401     16
438      4
495     22
543     64
571      1
587      0
632      1
Name: total_runs, dtype: int64

In [146]:
Gayle_dd_dismissals = Gayle_dd[ pd.notnull(Gayle_dd["player_dismissed"])]
Gayle_dd_dismissals = Gayle_dd_dismissals[["match_id", "over","inning", "player_dismissed","bowler","dismissal_kind", "fielder"]]

In [147]:
Gayle_dd_dismissals

,match_id,over,inning,player_dismissed,bowler,dismissal_kind,fielder
980,5,4,1,CH Gayle,CH Morris,caught,SV Samson
12828,55,14,1,CH Gayle,S Nadeem,caught,Z Khan
47204,200,9,2,CH Gayle,R Bhatia,caught,A Mishra
50261,213,11,1,CH Gayle,R Bhatia,bowled,NaN
62251,263,8,2,CH Gayle,JR Hopes,caught,Y Venugopal Rao
94972,401,4,2,CH Gayle,M Morkel,caught,UT Yadav
103723,438,2,1,CH Gayle,IK Pathan,bowled,NaN
117226,495,6,1,CH Gayle,R Shukla,bowled,NaN
138681,587,1,1,CH Gayle,Z Khan,caught,JP Duminy
149379,632,2,2,CH Gayle,CH Morris,bowled,NaN

In [151]:
Batsman_score=Gayle_dd.groupby(['match_id','batsman'])["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

    match_id   batsman  batsman_runs
0        372  CH Gayle           128
1        543  CH Gayle            62
2         55  CH Gayle            48
3        213  CH Gayle            40
4        200  CH Gayle            30
5        263  CH Gayle            26
6        495  CH Gayle            22
7        401  CH Gayle            15
8          5  CH Gayle             6
9        438  CH Gayle             4
10       571  CH Gayle             1
11       632  CH Gayle             1
12       587  CH Gayle             0

In [152]:
Batsman_Ball_faced=Gayle_dd.groupby(['match_id','batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

    match_id   batsman  ball
0        372  CH Gayle    62
1        543  CH Gayle    42
2         55  CH Gayle    39
3        495  CH Gayle    23
4        200  CH Gayle    22
5        213  CH Gayle    22
6        263  CH Gayle    14
7        401  CH Gayle    12
8          5  CH Gayle     9
9        438  CH Gayle     7
10       571  CH Gayle     5
11       632  CH Gayle     4
12       587  CH Gayle     3

In [171]:
Batsman_strike_rate= pd.merge(Batsman_score,Batsman_Ball_faced,on="batsman",how='outer')
# Merging two data frames batsman run and batsman ball to get strike rate
Batsman_strike_rate= Batsman_strike_rate[Batsman_strike_rate["batsman_runs"]>=50]
#  more than 50 runs because Chris Gayle have maximum 128 and 0 runs in total against Delhi Daredevils
Batsman_strike_rate["strike_rate"]= (Batsman_strike_rate["batsman_runs"]/Batsman_strike_rate["ball"])*100
# formula for strike rate
Batsman_strike_rate= Batsman_strike_rate[["batsman","strike_rate"]]
# Removing other coloumns from here only keeping batsman and strike rate
batsman_strike_rate_d=Batsman_strike_rate.sort_values(by="strike_rate",ascending=False).reset_index(drop=True)
batsman_strike_rate_d

     batsman  strike_rate
0   CH Gayle  4266.666667
1   CH Gayle  3200.000000
2   CH Gayle  2560.000000
3   CH Gayle  2066.666667
4   CH Gayle  1828.571429
5   CH Gayle  1550.000000
6   CH Gayle  1422.222222
7   CH Gayle  1240.000000
8   CH Gayle  1066.666667
9   CH Gayle   914.285714
10  CH Gayle   885.714286
11  CH Gayle   688.888889
12  CH Gayle   581.818182
13  CH Gayle   581.818182
14  CH Gayle   556.521739
15  CH Gayle   516.666667
16  CH Gayle   442.857143
17  CH Gayle   328.205128
18  CH Gayle   304.761905
19  CH Gayle   281.818182
20  CH Gayle   281.818182
21  CH Gayle   269.565217
22  CH Gayle   206.451613
23  CH Gayle   158.974359
24  CH Gayle   147.619048
25  CH Gayle   100.000000

In [172]:
batsman_strike_rate_d.shape

(26, 2)

# KXIP Bowler wickets taken between 31st to 120 ball(5-20 overs) current team Expect Mohammed Shami

In [174]:
name = 'KXIP'
KXIP = kxip_dc_del[kxip_dc_del['bowling_team'] == name]
KXIP.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167813,11149,2,DC,KXIP,1,1,P Shaw,S Dhawan,R Ashwin,0,...,0,0,0,0,0,0,0,P Shaw,caught,KL Rahul
167814,11149,2,DC,KXIP,1,2,SS Iyer,S Dhawan,R Ashwin,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
167815,11149,2,DC,KXIP,1,3,S Dhawan,SS Iyer,R Ashwin,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167816,11149,2,DC,KXIP,1,4,S Dhawan,SS Iyer,R Ashwin,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
167817,11149,2,DC,KXIP,1,5,S Dhawan,SS Iyer,R Ashwin,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [175]:
KXIP['bowler'].unique()

array(['R Ashwin', 'S Curran', 'Mohammed Shami', 'H Viljoen',
       'M Ur Rahman', 'M Ashwin', 'H Brar', 'Sandeep Sharma', 'MM Sharma',
       'AR Patel', 'VR Aaron', 'KC Cariappa', 'GJ Maxwell', 'T Natarajan',
       'B Lee', 'IK Pathan', 'S Sreesanth', 'VRV Singh', 'PP Chawla',
       'Yuvraj Singh', 'RR Powar', 'JR Hopes', 'YA Abdulla', 'VS Malik',
       'WA Mota', 'L Ablish', 'J Theron', 'P Kumar', 'RJ Harris',
       'SJ Srivastava', 'AM Nayar', 'PC Valthaty', 'DJ Hussey',
       'Azhar Mahmood', 'P Awana', 'Harmeet Singh', 'BA Bhatt',
       'BE Hendricks', 'R Dhawan', 'Shivam Sharma', 'MG Johnson',
       'Karanveer Singh', 'Anureet Singh', 'SN Thakur', 'NLTC Perera',
       'P Sahu', 'MP Stoinis', 'AJ Tye', 'AS Rajpoot', 'BB Sran'],
      dtype=object)

In [120]:
Bowler_wicket = KXIP[KXIP["dismissal_kind"] != "run out"]
Bowler_wicket= Bowler_wicket[["bowler","player_dismissed"]]
Bowler_wicket = Bowler_wicket.dropna()
Bowler_wicket= Bowler_wicket.groupby("bowler")["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
Bowler_wicket.columns=["bowler","Wickets"]
Bowler_wicket.iloc[:20,:]

            bowler  Wickets
0   Sandeep Sharma       14
1         AR Patel        9
2        PP Chawla        9
3        IK Pathan        8
4          P Awana        7
5          P Kumar        6
6      S Sreesanth        4
7      M Ur Rahman        4
8        MM Sharma        4
9            B Lee        4
10        VR Aaron        4
11        S Curran        4
12    BE Hendricks        3
13  Mohammed Shami        3
14      MP Stoinis        3
15       H Viljoen        3
16   Harmeet Singh        3
17       RJ Harris        3
18        R Ashwin        3
19       VRV Singh        3

In [180]:
KXIP_bowler = KXIP[(KXIP['over']>=5)&(KXIP['over']<=20)&(KXIP['bowler']!='Mohammed Shami')]
KXIP_bowler

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167840,11149,2,DC,KXIP,5,1,SS Iyer,S Dhawan,H Viljoen,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
167841,11149,2,DC,KXIP,5,2,SS Iyer,S Dhawan,H Viljoen,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
167842,11149,2,DC,KXIP,5,3,SS Iyer,S Dhawan,H Viljoen,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167843,11149,2,DC,KXIP,5,4,SS Iyer,S Dhawan,H Viljoen,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167844,11149,2,DC,KXIP,5,5,SS Iyer,S Dhawan,H Viljoen,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155648,7915,2,DC,KXIP,20,2,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
155649,7915,2,DC,KXIP,20,3,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
155650,7915,2,DC,KXIP,20,4,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
155651,7915,2,DC,KXIP,20,5,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
155652,7915,2,DC,KXIP,20,6,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,0,0,0,SS Iyer,caught,AJ Finch

## Total wickets taken by KXIP bowlers in between 5-20 overs

In [182]:
KXIP_Bowler_wicket = KXIP_bowler[KXIP_bowler["dismissal_kind"] != "run out"]
KXIP_Bowler_wicket= KXIP_Bowler_wicket[["bowler","player_dismissed"]]
KXIP_Bowler_wicket = KXIP_Bowler_wicket.dropna()
KXIP_Bowler_wicket= KXIP_Bowler_wicket.groupby(["bowler"])["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
KXIP_Bowler_wicket.columns=["bowler","Wickets"]
KXIP_Bowler_wicket.iloc[:20,:]

            bowler  Wickets
0        PP Chawla        9
1         AR Patel        9
2   Sandeep Sharma        7
3        IK Pathan        6
4          P Awana        5
5         VR Aaron        4
6         S Curran        4
7        MM Sharma        4
8      M Ur Rahman        3
9        VRV Singh        3
10      MP Stoinis        3
11    BE Hendricks        3
12       RJ Harris        3
13       H Viljoen        3
14   Harmeet Singh        3
15         P Kumar        3
16          AJ Tye        2
17        R Ashwin        2
18     S Sreesanth        2
19   SJ Srivastava        2

In [191]:
Bowler_over= KXIP_bowler[KXIP_bowler["extra_runs"]==0][["ball","bowler"]] # here extra balls I am not considering include in over
Bowler_over= Bowler_over.groupby("bowler")["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Bowler_over["No_of_Overs"]=(Bowler_over["ball"]/6)
Bowler_over.iloc[:50,:]

             bowler  ball  No_of_Overs
0         PP Chawla   229    38.166667
1          AR Patel   173    28.833333
2    Sandeep Sharma    87    14.500000
3           P Awana    76    12.666667
4          R Ashwin    72    12.000000
5           P Kumar    71    11.833333
6          R Dhawan    66    11.000000
7       M Ur Rahman    66    11.000000
8      Yuvraj Singh    60    10.000000
9         MM Sharma    60    10.000000
10    Azhar Mahmood    55     9.166667
11      S Sreesanth    53     8.833333
12        IK Pathan    50     8.333333
13       MG Johnson    48     8.000000
14    SJ Srivastava    47     7.833333
15         RR Powar    47     7.833333
16       GJ Maxwell    42     7.000000
17    Harmeet Singh    41     6.833333
18           AJ Tye    40     6.666667
19        VRV Singh    36     6.000000
20        RJ Harris    35     5.833333
21         VR Aaron    35     5.833333
22      KC Cariappa    35     5.833333
23        H Viljoen    35     5.833333
24      PC Valthaty    29     4.833333
25         M Ashwin    29     4.833333
26        DJ Hussey    29     4.833333
27       MP Stoinis    28     4.666667
28    Shivam Sharma    24     4.000000
29    Anureet Singh    24     4.000000
30         S Curran    24     4.000000
31  Karanveer Singh    24     4.000000
32       YA Abdulla    23     3.833333
33            B Lee    22     3.666667
34          BB Sran    18     3.000000
35           P Sahu    14     2.333333
36         BA Bhatt    12     2.000000
37       AS Rajpoot    12     2.000000
38      NLTC Perera    12     2.000000
39         AM Nayar    12     2.000000
40           H Brar    12     2.000000
41     BE Hendricks    11     1.833333
42         J Theron    11     1.833333
43        SN Thakur    11     1.833333
44         L Ablish     6     1.000000
45         JR Hopes     5     0.833333
46          WA Mota     5     0.833333

# Total wickets taken between 5-20 overs wise by KXIP Bowler

In [183]:
KXIP_Bowler_wicket_over = KXIP_bowler[KXIP_bowler["dismissal_kind"] != "run out"]
KXIP_Bowler_wicket_over= KXIP_Bowler_wicket_over[["over","bowler","player_dismissed"]]
KXIP_Bowler_wicket_over = KXIP_Bowler_wicket_over.dropna()
KXIP_Bowler_wicket_over= KXIP_Bowler_wicket_over.groupby(["over","bowler"])["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
KXIP_Bowler_wicket_over.columns=["over","bowler","Wickets"]
KXIP_Bowler_wicket_over.iloc[:20,:]

    over          bowler  Wickets
0      6         P Awana        4
1     18  Sandeep Sharma        4
2     20       IK Pathan        3
3     20        S Curran        2
4     19    BE Hendricks        2
5     18        S Curran        2
6     19   Anureet Singh        2
7     18        AR Patel        2
8     14   Harmeet Singh        2
9     18         P Kumar        2
10    13        AR Patel        2
11    14       PP Chawla        2
12    11        JR Hopes        2
13     7        AR Patel        2
14    20       PP Chawla        2
15    16  Sandeep Sharma        1
16    16         WA Mota        1
17    16        VR Aaron        1
18    17           B Lee        1
19    17   Azhar Mahmood        1

# Shreyas Iyer contribution to DC

In [189]:
kxip_dc_del['batsman'].unique()

array(['KL Rahul', 'MA Agarwal', 'S Curran', 'SN Khan', 'DA Miller',
       'Mandeep Singh', 'H Viljoen', 'R Ashwin', 'M Ashwin',
       'Mohammed Shami', 'P Shaw', 'SS Iyer', 'S Dhawan', 'RR Pant',
       'C Ingram', 'CH Morris', 'H Vihari', 'HV Patel', 'Avesh Khan',
       'K Rabada', 'S Lamichhane', 'CH Gayle', 'H Brar', 'AR Patel',
       'S Rutherford', 'SV Samson', 'SW Billings', 'KK Nair',
       'CJ Anderson', 'PJ Cummins', 'M Vohra', 'HM Amla', 'WP Saha',
       'EJG Morgan', 'GJ Maxwell', 'MM Sharma', 'KC Cariappa',
       'Sandeep Sharma', 'A Mishra', 'S Nadeem', 'MJ Guptill',
       'G Gambhir', 'V Sehwag', 'Shoaib Malik', 'MK Tiwary', 'KD Karthik',
       'R Bhatia', 'MF Maharoof', 'VY Mahesh', 'K Goel', 'SM Katich',
       'KC Sangakkara', 'DPMD Jayawardene', 'Yuvraj Singh',
       'TM Srivastava', 'IK Pathan', 'B Lee', 'TM Dilshan', 'SE Marsh',
       'JR Hopes', 'LA Pomersbach', 'RS Bopara', 'AB de Villiers',
       'M Manhas', 'DL Vettori', 'PJ Sangwan', 'A Nehra', 'S Sohal',
       'MS Bisla', 'M Kaif', 'PP Chawla', 'RR Powar', 'S Sreesanth',
       'YA Abdulla', 'DA Warner', 'PD Collingwood', 'AB Barath',
       'Y Nagar', 'Y Venugopal Rao', 'AJ Finch', 'NV Ojha',
       'AC Gilchrist', 'PC Valthaty', 'DJ Hussey', 'AM Nayar',
       'Sunny Singh', 'RJ Harris', 'S Sriram', 'TR Birt', 'M Morkel',
       'VR Aaron', 'N Saini', 'Azhar Mahmood', 'Gurkeerat Singh',
       'P Kumar', 'P Awana', 'LRPL Taylor', 'SD Chitnis', 'UBT Chand',
       'R Sathish', 'BJ Rohrer', 'CM Gautam', 'RE van der Merwe',
       'MC Juneja', 'KM Jadhav', 'J Botha', 'AB Agarkar', 'M Vijay',
       'KP Pietersen', 'JP Duminy', 'WD Parnell', 'GJ Bailey', 'R Dhawan',
       'JDS Neesham', 'Imran Tahir', 'JD Unadkat', 'AD Mathews',
       'NLTC Perera', 'SN Thakur', 'Anureet Singh', 'SS Tiwary',
       'MG Johnson', 'P Sahu', 'Q de Kock', 'P Negi', 'MP Stoinis',
       'CR Brathwaite', 'C Munro', 'V Shankar', 'R Tewatia',
       'DT Christian', 'AJ Tye', 'BB Sran', 'L Plunkett'], dtype=object)

In [192]:
name = 'SS Iyer'
Shreyas = kxip_dc_del[kxip_dc_del['batsman'] == name]
Shreyas.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167814,11149,2,DC,KXIP,1,2,SS Iyer,S Dhawan,R Ashwin,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [193]:
Shreyas['match_id'].unique()

array([11149, 11328,    15,    35,   528,   548,   583,  7895,  7915],
      dtype=int64)

In [195]:
Shreyas['over'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20], dtype=int64)

In [194]:
Shreyas.groupby(['match_id'])['total_runs'].sum()

match_id
15       25
35        6
528       8
548      56
583       3
7895     15
7915     59
11149    32
11328    64
Name: total_runs, dtype: int64

In [197]:
Shreyas_dismissals = Shreyas[ pd.notnull(Shreyas["player_dismissed"])]
Shreyas_dismissals = Shreyas_dismissals[["match_id", "over","inning", "player_dismissed","bowler","dismissal_kind", "fielder"]]

In [198]:
Shreyas_dismissals

,match_id,over,inning,player_dismissed,bowler,dismissal_kind,fielder
167860,11149,8,2,SS Iyer,H Viljoen,bowled,NaN
3392,15,12,1,SS Iyer,MM Sharma,caught,EJG Morgan
8135,35,5,1,SS Iyer,Sandeep Sharma,caught and bowled,NaN
125307,528,3,2,SS Iyer,Sandeep Sharma,caught,Anureet Singh
130041,548,13,2,SS Iyer,SN Thakur,caught,AR Patel
137879,583,3,2,SS Iyer,Sandeep Sharma,caught,WP Saha
150748,7895,7,1,SS Iyer,AR Patel,caught,KL Rahul
155600,7915,12,2,DT Christian,R Ashwin,run out,KK Nair
155652,7915,20,2,SS Iyer,M Ur Rahman,caught,AJ Finch

In [199]:
Batsman_score=Shreyas.groupby(['match_id','batsman'])["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

   match_id  batsman  batsman_runs
0     11328  SS Iyer            61
1      7915  SS Iyer            58
2       548  SS Iyer            54
3     11149  SS Iyer            30
4        15  SS Iyer            22
5      7895  SS Iyer            13
6        35  SS Iyer             6
7       528  SS Iyer             6
8       583  SS Iyer             3

In [200]:
Batsman_Ball_faced=Shreyas.groupby(['match_id','batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

   match_id  batsman  ball
0     11328  SS Iyer    50
1      7915  SS Iyer    46
2       548  SS Iyer    41
3     11149  SS Iyer    24
4        15  SS Iyer    18
5      7895  SS Iyer    13
6        35  SS Iyer     7
7       528  SS Iyer     7
8       583  SS Iyer     5

In [202]:
name = 'DC'
battingteam = kxip_dc_del[kxip_dc_del['batting_team'] == name]
battingteam.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167813,11149,2,DC,KXIP,1,1,P Shaw,S Dhawan,R Ashwin,0,...,0,0,0,0,0,0,0,P Shaw,caught,KL Rahul

In [203]:
battingteam.shape

(2716, 21)

In [218]:
battingteam['batsman'].unique()

array(['P Shaw', 'SS Iyer', 'S Dhawan', 'RR Pant', 'C Ingram',
       'CH Morris', 'H Vihari', 'HV Patel', 'Avesh Khan', 'K Rabada',
       'S Lamichhane', 'AR Patel', 'S Rutherford', 'SV Samson',
       'SW Billings', 'KK Nair', 'CJ Anderson', 'PJ Cummins', 'A Mishra',
       'Mohammed Shami', 'S Nadeem', 'G Gambhir', 'V Sehwag',
       'Shoaib Malik', 'MK Tiwary', 'KD Karthik', 'R Bhatia',
       'MF Maharoof', 'VY Mahesh', 'TM Dilshan', 'AB de Villiers',
       'M Manhas', 'DL Vettori', 'PJ Sangwan', 'A Nehra', 'DA Warner',
       'PD Collingwood', 'Y Nagar', 'Y Venugopal Rao', 'AJ Finch',
       'NV Ojha', 'S Sriram', 'IK Pathan', 'JR Hopes', 'TR Birt',
       'M Morkel', 'VR Aaron', 'DPMD Jayawardene', 'LRPL Taylor',
       'UBT Chand', 'BJ Rohrer', 'CM Gautam', 'RE van der Merwe',
       'MC Juneja', 'KM Jadhav', 'J Botha', 'AB Agarkar', 'M Vijay',
       'KP Pietersen', 'JP Duminy', 'MA Agarwal', 'WD Parnell',
       'JDS Neesham', 'Imran Tahir', 'JD Unadkat', 'Yuvraj Singh',
       'AD Mathews', 'SS Tiwary', 'Q de Kock', 'P Negi', 'CR Brathwaite',
       'C Munro', 'V Shankar', 'R Tewatia', 'DT Christian', 'GJ Maxwell',
       'L Plunkett'], dtype=object)

In [204]:
battingteam["match_id"].unique()

array([11149, 11328,    15,    35,    73,   100,   120,   161,   177,
         218,   259,   293,   369,   374,   412,   443,   502,   512,
         528,   548,   583,   612,  7895,  7915], dtype=int64)

In [205]:
Shreyas['match_id'].unique()

array([11149, 11328,    15,    35,   528,   548,   583,  7895,  7915],
      dtype=int64)

In [222]:
Iyer_matches = kxip_dc_del[(kxip_dc_del['batting_team'] == 'DC' )&(kxip_dc_del['batsman'] == 'SS Iyer')]
Iyer_matches.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167814,11149,2,DC,KXIP,1,2,SS Iyer,S Dhawan,R Ashwin,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
167819,11149,2,DC,KXIP,1,7,SS Iyer,S Dhawan,R Ashwin,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167823,11149,2,DC,KXIP,2,4,SS Iyer,S Dhawan,S Curran,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
167824,11149,2,DC,KXIP,2,5,SS Iyer,S Dhawan,S Curran,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
167830,11149,2,DC,KXIP,3,5,SS Iyer,S Dhawan,R Ashwin,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN

In [221]:
Iyer_matches["match_id"].unique()

array([11149, 11328,    15,    35,   528,   548,   583,  7895,  7915],
      dtype=int64)

# DC final Total against KXIP

In [225]:
Iyer = Iyer_matches.groupby('match_id')['total_runs'].sum()
Iyer

match_id
15       25
35        6
528       8
548      56
583       3
7895     15
7915     59
11149    32
11328    64
Name: total_runs, dtype: int64

In [226]:
DC_score = battingteam.groupby('match_id')['total_runs'].sum()
DC_score

match_id
15       188
35        67
73       158
100      118
120       58
161      120
177      146
218      111
259      231
293      141
369      140
374      145
412      164
443      120
502      164
512      115
528      169
548      119
583      113
612      172
7895     172
7915     148
11149    163
11328    177
Name: total_runs, dtype: int64

# Shreyas Iyer Contribution for DC

In [255]:
a =battingteam[battingteam['match_id'].isin(['11149', '11328',    '15',    '35',   '528',   '548',   '583',  '7895',  '7915'])]
a

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
167813,11149,2,DC,KXIP,1,1,P Shaw,S Dhawan,R Ashwin,0,...,0,0,0,0,0,0,0,P Shaw,caught,KL Rahul
167814,11149,2,DC,KXIP,1,2,SS Iyer,S Dhawan,R Ashwin,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
167815,11149,2,DC,KXIP,1,3,S Dhawan,SS Iyer,R Ashwin,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
167816,11149,2,DC,KXIP,1,4,S Dhawan,SS Iyer,R Ashwin,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
167817,11149,2,DC,KXIP,1,5,S Dhawan,SS Iyer,R Ashwin,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155648,7915,2,DC,KXIP,20,2,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
155649,7915,2,DC,KXIP,20,3,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
155650,7915,2,DC,KXIP,20,4,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
155651,7915,2,DC,KXIP,20,5,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
155652,7915,2,DC,KXIP,20,6,SS Iyer,A Mishra,M Ur Rahman,0,...,0,0,0,0,0,0,0,SS Iyer,caught,AJ Finch

In [256]:
score = a.groupby('match_id')['total_runs'].sum()
score

match_id
15       188
35        67
528      169
548      119
583      113
7895     172
7915     148
11149    163
11328    177
Name: total_runs, dtype: int64

In [257]:
Iyer

match_id
15       25
35        6
528       8
548      56
583       3
7895     15
7915     59
11149    32
11328    64
Name: total_runs, dtype: int64

In [260]:
Shreyas_score=Shreyas.groupby(['match_id'])["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Shreyas_score

   match_id  batsman_runs
0     11328            61
1      7915            58
2       548            54
3     11149            30
4        15            22
5      7895            13
6        35             6
7       528             6
8       583             3

In [261]:
team_score = a.groupby(['match_id'])["total_runs"].agg(sum).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
team_score

   match_id  total_runs
0        15         188
1     11328         177
2      7895         172
3       528         169
4     11149         163
5      7915         148
6       548         119
7       583         113
8        35          67

# Player Contribution

In [262]:
Shreyas_contribution= pd.merge(Batsman_score,team_score,on="match_id",how='outer')
# Merging two data frames batsman score and team score to get player contribution
Shreyas_contribution= Shreyas_contribution[Shreyas_contribution["batsman_runs"]>=0]
#  more than 0 runs because if Shreyas Iyer Duck out it would be 0% contribution for team.He have scored maximum 61 and minimum 3 runs for team in total against KXIP
Shreyas_contribution["Contribution %"]= (Shreyas_contribution["batsman_runs"]/Shreyas_contribution["total_runs"])*100
# formula for Contribution %
Shreyas_contribution = Shreyas_contribution[["batsman_runs","Contribution %"]]
# Removing other coloumns from here only keeping batsman and strike rate
Shreyas_contribution=Shreyas_contribution.sort_values(by="Contribution %",ascending=False).reset_index(drop=True)
Shreyas_contribution

   batsman_runs  Contribution %
0            54       45.378151
1            58       39.189189
2            61       34.463277
3            30       18.404908
4            22       11.702128
5             6        8.955224
6            13        7.558140
7             6        3.550296
8             3        2.654867