In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as py
import cufflinks as cf
%matplotlib inline
%matplotlib notebook

In [3]:
from plotly.offline import iplot
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

In [4]:
delivers = pd.read_csv('D:\datasets\deliveries.csv')

In [5]:
delivers.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [6]:
delivers.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [7]:
delivers.shape

(179078, 21)

In [8]:
delivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [9]:
matches = pd.read_csv('D:\datasets\matches.csv')

In [10]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [11]:
matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [12]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [13]:
matches.shape

(756, 18)

In [14]:
matches["result"].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [15]:
tie = matches[matches['result'] == 'tie']
tie

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [16]:
no_result =matches[matches['result'] == 'no result']
no_result

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [17]:
matches_result = matches[['team1','team2','winner']]
matches_result.head()

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [18]:
matches_result['lost'] = matches_result.apply(lambda x:   (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis = 1)

In [19]:
matches_result.head(10)

,team1,team2,winner,lost
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils
5,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,Gujarat Lions
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Kolkata Knight Riders
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Royal Challengers Bangalore
8,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,Rising Pune Supergiant
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Sunrisers Hyderabad

In [20]:
wins = matches_result['winner'].value_counts()
wins

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                  10
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [21]:
lost = matches_result['lost'].value_counts()
lost

Royal Challengers Bangalore    95
Kings XI Punjab                94
Delhi Daredevils               94
Kolkata Knight Riders          86
Mumbai Indians                 78
Rajasthan Royals               70
Chennai Super Kings            64
Sunrisers Hyderabad            50
Deccan Chargers                46
Pune Warriors                  33
Gujarat Lions                  17
Rising Pune Supergiants         9
Kochi Tuskers Kerala            8
Delhi Capitals                  6
Rising Pune Supergiant          6
Name: lost, dtype: int64

In [22]:
wins.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Winning Count')

In [23]:
lost.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Losing Count')

# KXIP vs RR Head to Head matches

In [24]:
def get_kxipvsrr(team1,team2):
    teams =['Kings XI Punjab','Rajasthan Royals']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [25]:
index = [ ]

for row in matches.iterrows():
    flag = get_kxipvsrr(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

19

In [26]:
kxip_rr = matches[index]

In [27]:
kxip_rr.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
64,65,2008,Jaipur,2008-04-21,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,normal,0,Rajasthan Royals,0,6,SR Watson,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN

In [28]:
kxip_rr['dl_applied']

64     0
96     0
129    0
144    0
192    0
211    0
255    0
310    0
353    0
397    0
435    0
463    0
508    0
519    0
535    0
673    0
675    0
699    0
727    0
Name: dl_applied, dtype: int64

In [29]:
kxip_rr = kxip_rr.drop('dl_applied',axis=1)

# Head to Head Matches

In [30]:
kxip_rr['winner'].value_counts().iplot(kind='bar')

In [31]:
team_win= kxip_rr[['team1','team2','toss_winner','toss_decision','winner']]
team_win.head()

,team1,team2,toss_winner,toss_decision,winner
64,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,Rajasthan Royals
96,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Kings XI Punjab
129,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,Kings XI Punjab
144,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,Rajasthan Royals
192,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,Rajasthan Royals

In [32]:
team_decision= kxip_rr[['toss_winner','toss_decision','winner']]
team_decision.head()

          toss_winner toss_decision            winner
64    Kings XI Punjab           bat  Rajasthan Royals
96   Rajasthan Royals         field   Kings XI Punjab
129   Kings XI Punjab           bat   Kings XI Punjab
144   Kings XI Punjab         field  Rajasthan Royals
192   Kings XI Punjab         field  Rajasthan Royals

In [33]:
corr = kxip_rr.corr()

In [34]:
sns.heatmap(corr,annot = True)

In [35]:
kxip_rr['venue'].value_counts()

Punjab Cricket Association Stadium, Mohali    6
Sawai Mansingh Stadium                        6
Kingsmead                                     1
IS Bindra Stadium                             1
Holkar Cricket Stadium                        1
Maharashtra Cricket Association Stadium       1
Sharjah Cricket Stadium                       1
Sardar Patel Stadium, Motera                  1
Newlands                                      1
Name: venue, dtype: int64

In [36]:
venue= kxip_rr[['toss_winner','toss_decision','venue','winner']]
venue.head(18)

,toss_winner,toss_decision,venue,winner
64,Kings XI Punjab,bat,Sawai Mansingh Stadium,Rajasthan Royals
96,Rajasthan Royals,field,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab
129,Kings XI Punjab,bat,Newlands,Kings XI Punjab
144,Kings XI Punjab,field,Kingsmead,Rajasthan Royals
192,Kings XI Punjab,field,"Punjab Cricket Association Stadium, Mohali",Rajasthan Royals
211,Kings XI Punjab,bat,Sawai Mansingh Stadium,Rajasthan Royals
255,Rajasthan Royals,field,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab
310,Kings XI Punjab,field,Sawai Mansingh Stadium,Rajasthan Royals
353,Rajasthan Royals,bat,"Punjab Cricket Association Stadium, Mohali",Rajasthan Royals
397,Rajasthan Royals,field,Sawai Mansingh Stadium,Rajasthan Royals
435,Rajasthan Royals,field,"Punjab Cricket Association Stadium, Mohali",Rajasthan Royals
463,Kings XI Punjab,field,Sharjah Cricket Stadium,Kings XI Punjab
508,Rajasthan Royals,field,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab
519,Kings XI Punjab,field,Maharashtra Cricket Association Stadium,Rajasthan Royals
535,Kings XI Punjab,field,"Sardar Patel Stadium, Motera",Kings XI Punjab
673,Kings XI Punjab,field,Holkar Cricket Stadium,Kings XI Punjab
675,Rajasthan Royals,bat,Sawai Mansingh Stadium,Rajasthan Royals
699,Rajasthan Royals,field,Sawai Mansingh Stadium,Kings XI Punjab

In [37]:
toss_win_decision= kxip_rr[['toss_winner','toss_decision']]
toss_win_decision.head(20)

          toss_winner toss_decision
64    Kings XI Punjab           bat
96   Rajasthan Royals         field
129   Kings XI Punjab           bat
144   Kings XI Punjab         field
192   Kings XI Punjab         field
211   Kings XI Punjab           bat
255  Rajasthan Royals         field
310   Kings XI Punjab         field
353  Rajasthan Royals           bat
397  Rajasthan Royals         field
435  Rajasthan Royals         field
463   Kings XI Punjab         field
508  Rajasthan Royals         field
519   Kings XI Punjab         field
535   Kings XI Punjab         field
673   Kings XI Punjab         field
675  Rajasthan Royals           bat
699  Rajasthan Royals         field
727  Rajasthan Royals         field

# Head to Head Win based tossed decision playing 1st or 2nd Inning

In [38]:
team_decision.groupby(['toss_winner','winner'])['toss_decision'].value_counts()

toss_winner       winner            toss_decision
Kings XI Punjab   Kings XI Punjab   field            3
                                    bat              1
                  Rajasthan Royals  field            4
                                    bat              2
Rajasthan Royals  Kings XI Punjab   field            5
                  Rajasthan Royals  bat              2
                                    field            2
Name: toss_decision, dtype: int64

In [39]:
delivers['batting_team'].value_counts()

Mumbai Indians                 22619
Kings XI Punjab                20931
Royal Challengers Bangalore    20908
Kolkata Knight Riders          20858
Chennai Super Kings            19762
Delhi Daredevils               18786
Rajasthan Royals               17292
Sunrisers Hyderabad            12908
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Delhi Capitals                  1909
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [40]:
delivers['batting_team'].value_counts().iplot(kind ='bar',xTitle = 'Team',yTitle = 'Runs',title ='Runs scored by Teams in IPL 2008-19')

In [41]:
def get_kxipvsrr(batting_team,bowling_team):
    teams =['Kings XI Punjab','Rajasthan Royals']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [42]:
index = [ ]

for row in delivers.iterrows():
    flag = get_kxipvsrr(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

4663

In [43]:
kxip_rr_del = delivers[index]

In [44]:
kxip_rr_del.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
15040,65,1,Kings XI Punjab,Rajasthan Royals,1,1,K Goel,JR Hopes,MM Patel,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15041,65,1,Kings XI Punjab,Rajasthan Royals,1,2,K Goel,JR Hopes,MM Patel,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15042,65,1,Kings XI Punjab,Rajasthan Royals,1,3,K Goel,JR Hopes,MM Patel,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15043,65,1,Kings XI Punjab,Rajasthan Royals,1,4,K Goel,JR Hopes,MM Patel,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15044,65,1,Kings XI Punjab,Rajasthan Royals,1,5,K Goel,JR Hopes,MM Patel,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
15045,65,1,Kings XI Punjab,Rajasthan Royals,1,6,JR Hopes,K Goel,MM Patel,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15046,65,1,Kings XI Punjab,Rajasthan Royals,2,1,K Goel,JR Hopes,SR Watson,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
15047,65,1,Kings XI Punjab,Rajasthan Royals,2,2,K Goel,JR Hopes,SR Watson,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15048,65,1,Kings XI Punjab,Rajasthan Royals,2,3,K Goel,JR Hopes,SR Watson,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15049,65,1,Kings XI Punjab,Rajasthan Royals,2,4,K Goel,JR Hopes,SR Watson,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [45]:
kxip_rr_del['match_id'].unique()

array([   65,    97,   130,   145,   193,   212,   256,   311,   354,
         398,   436,   464,   509,   520,   536,  7931,  7933, 11140,
       11323], dtype=int64)

# Leading Runscorer in KXIP vs RR Head to Head Matches

In [46]:
kxip_rr_del['batsman'].value_counts()[:40].iplot(kind='bar')

# Boundary Ratio of Batsman

In [47]:
Batsman_fours=kxip_rr_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["batsman", "No. of 4s"]
Batsman_fours

          batsman  No. of 4s
0        SE Marsh         42
1       AM Rahane         39
2       SR Watson         34
3      JC Buttler         28
4         MJ Lumb         23
..            ...        ...
107     MK Tiwary          0
108  Pankaj Singh          0
109       MS Gony          0
110       N Saini          0
111      A Turner          0

[112 rows x 2 columns]

In [48]:
Batsman_score=kxip_rr_del.groupby('batsman')["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

           batsman  batsman_runs
0         SE Marsh           421
1        AM Rahane           373
2        SR Watson           316
3        SV Samson           276
4         KL Rahul           244
..             ...           ...
107          B Lee             0
108  Anureet Singh             0
109  SJ Srivastava             0
110        P Awana             0
111    LRPL Taylor             0

[112 rows x 2 columns]

In [59]:
Batsman_boundary_ratio = pd.merge(Batsman_score,Batsman_fours,on ='batsman')

In [60]:
Batsman_boundary_ratio

           batsman  batsman_runs  No. of 4s
0         SE Marsh           421         42
1        AM Rahane           373         39
2        SR Watson           316         34
3        SV Samson           276         19
4         KL Rahul           244         23
..             ...           ...        ...
107          B Lee             0          0
108  Anureet Singh             0          0
109  SJ Srivastava             0          0
110        P Awana             0          0
111    LRPL Taylor             0          0

[112 rows x 3 columns]

In [61]:
Batsman_boundary_ratio['Boundary_Ratio'] =(Batsman_boundary_ratio['No. of 4s']/Batsman_boundary_ratio['batsman_runs'])
Batsman_boundary_ratio = Batsman_boundary_ratio[['batsman','Boundary_Ratio']]
Batsman_boundary_ratio = Batsman_boundary_ratio.sort_values(by='Boundary_Ratio',ascending = False).reset_index(drop =True)
Batsman_boundary_ratio

            batsman  Boundary_Ratio
0       S Sreesanth            0.25
1    AD Mascarenhas            0.25
2       Sunny Singh            0.20
3       DS Kulkarni            0.20
4         SM Katich            0.20
..              ...             ...
107           B Lee             NaN
108   Anureet Singh             NaN
109   SJ Srivastava             NaN
110         P Awana             NaN
111     LRPL Taylor             NaN

[112 rows x 2 columns]

In [179]:
Batsman_boundary_ratio.iloc[:50,:]

            batsman  Boundary_Ratio
0       S Sreesanth        0.250000
1    AD Mascarenhas        0.250000
2       Sunny Singh        0.200000
3       DS Kulkarni        0.200000
4         SM Katich        0.200000
5   Karanveer Singh        0.200000
6           MJ Lumb        0.185484
7        DS Lehmann        0.176471
8       Niraj Patel        0.175439
9          R Dravid        0.168421
10       D Salunkhe        0.166667
11          WP Saha        0.163636
12         GC Smith        0.151899
13    KC Sangakkara        0.147287
14         MS Bisla        0.145455
15        RJ Quiney        0.142857
16       KD Karthik        0.142857
17          OA Shah        0.142857
18           M Kaif        0.142857
19          J Botha        0.142857
20         V Sehwag        0.142857
21        SPD Smith        0.134831
22         JR Hopes        0.134328
23     AC Gilchrist        0.134021
24        R Sathish        0.133333
25          SN Khan        0.127660
26    LA Carseldine        0.125000
27          S Gopal        0.120000
28       JC Buttler        0.117647
29        RA Jadeja        0.113208
30           K Goel        0.111111
31        PP Chawla        0.111111
32         AC Voges        0.111111
33          AS Raut        0.111111
34         M Lomror        0.111111
35         FY Fazal        0.111111
36          AD Nath        0.111111
37        DJ Hussey        0.111111
38        SR Watson        0.107595
39          M Vohra        0.107143
40    Azhar Mahmood        0.106383
41     Bipul Sharma        0.105263
42        AM Rahane        0.104558
43    Mandeep Singh        0.104167
44         CH Gayle        0.103704
45         SK Warne        0.102564
46      PC Valthaty        0.101695
47        DH Yagnik        0.100000
48         SE Marsh        0.099762
49          NV Ojha        0.096000

# Overall Player Performance

## Batsman Performance

In [62]:
Batsman_score=kxip_rr_del.groupby('batsman')["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

           batsman  batsman_runs
0         SE Marsh           421
1        AM Rahane           373
2        SR Watson           316
3        SV Samson           276
4         KL Rahul           244
..             ...           ...
107          B Lee             0
108  Anureet Singh             0
109  SJ Srivastava             0
110        P Awana             0
111    LRPL Taylor             0

[112 rows x 2 columns]

In [63]:
Batsman_Ball_faced=kxip_rr_del.groupby(['batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

           batsman  ball
0        AM Rahane   329
1         SE Marsh   297
2        SR Watson   220
3        SV Samson   215
4         KL Rahul   177
..             ...   ...
107        P Awana     1
108         AJ Tye     1
109  LA Pomersbach     1
110    M Ur Rahman     1
111        P Dogra     1

[112 rows x 2 columns]

In [64]:
Batsman_runs_ratio = pd.merge(Batsman_score,Batsman_Ball_faced,on ='batsman')

In [65]:
Batsman_runs_ratio

           batsman  batsman_runs  ball
0         SE Marsh           421   297
1        AM Rahane           373   329
2        SR Watson           316   220
3        SV Samson           276   215
4         KL Rahul           244   177
..             ...           ...   ...
107          B Lee             0     2
108  Anureet Singh             0     3
109  SJ Srivastava             0     1
110        P Awana             0     1
111    LRPL Taylor             0     5

[112 rows x 3 columns]

In [66]:
Batsman_runs_ratio['Run_Ratio'] =(Batsman_runs_ratio['batsman_runs']/Batsman_runs_ratio['ball'])
Batsman_runs_ratio = Batsman_runs_ratio[['batsman','Run_Ratio']]
Batsman_runs_ratio = Batsman_runs_ratio.sort_values(by='Run_Ratio',ascending = False).reset_index(drop =True)
Batsman_runs_ratio

           batsman  Run_Ratio
0         R Ashwin   2.833333
1        KK Cooper   2.600000
2     Kamran Akmal   2.166667
3         DJ Hooda   2.041667
4       D Salunkhe   2.000000
..             ...        ...
107          B Lee   0.000000
108  Anureet Singh   0.000000
109  SJ Srivastava   0.000000
110        P Awana   0.000000
111    LRPL Taylor   0.000000

[112 rows x 2 columns]

In [67]:
Batsman_fours=kxip_rr_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["batsman", "No. of 4s"]
Batsman_fours

          batsman  No. of 4s
0        SE Marsh         42
1       AM Rahane         39
2       SR Watson         34
3      JC Buttler         28
4         MJ Lumb         23
..            ...        ...
107     MK Tiwary          0
108  Pankaj Singh          0
109       MS Gony          0
110       N Saini          0
111      A Turner          0

[112 rows x 2 columns]

In [86]:
Batsman_singles=kxip_rr_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==1).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 1 
Batsman_singles.columns = ["batsman", "No. of 1s"]
Batsman_singles

           batsman  No. of 1s
0        AM Rahane        133
1        SV Samson        114
2         SE Marsh        104
3         KL Rahul         72
4        SR Watson         72
..             ...        ...
107    S Sreesanth          0
108     D Salunkhe          0
109        D Short          0
110  SJ Srivastava          0
111          B Lee          0

[112 rows x 2 columns]

In [87]:
Batsman_doubles=kxip_rr_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==2).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 2 
Batsman_doubles.columns = ["batsman", "No. of 2s"]
Batsman_doubles

           batsman  No. of 2s
0        AM Rahane         21
1        DA Miller         20
2         SE Marsh         19
3         KL Rahul         19
4        SV Samson         13
..             ...        ...
107       J Theron          0
108  Harmeet Singh          0
109       FY Fazal          0
110    M Ur Rahman          0
111       A Turner          0

[112 rows x 2 columns]

In [88]:
Batsman_triples=kxip_rr_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==3).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 3 
Batsman_triples.columns = ["batsman", "No. of 3s"]
Batsman_triples

             batsman  No. of 3s
0           SE Marsh          3
1          RS Bopara          2
2         JC Buttler          2
3          AM Rahane          2
4          SR Watson          2
..               ...        ...
107          J Botha          0
108         J Archer          0
109    Harmeet Singh          0
110  Gurkeerat Singh          0
111     Yuvraj Singh          0

[112 rows x 2 columns]

In [89]:
Batsman_1s_2s_3s = pd.merge(Batsman_singles,Batsman_doubles,on='batsman')

In [90]:
Batsman_1s_2s_3s = pd.merge(Batsman_1s_2s_3s,Batsman_triples,on='batsman')

In [91]:
Batsman_1s_2s_3s

           batsman  No. of 1s  No. of 2s  No. of 3s
0        AM Rahane        133         21          2
1        SV Samson        114         13          2
2         SE Marsh        104         19          3
3         KL Rahul         72         19          0
4        SR Watson         72          9          2
..             ...        ...        ...        ...
107    S Sreesanth          0          0          0
108     D Salunkhe          0          1          0
109        D Short          0          1          0
110  SJ Srivastava          0          0          0
111          B Lee          0          0          0

[112 rows x 4 columns]

In [92]:
Batsman_1s_2s_3s['No.of 1s2s3s'] = Batsman_1s_2s_3s['No. of 1s'] + Batsman_1s_2s_3s['No. of 2s'] + Batsman_1s_2s_3s['No. of 3s']
Batsman_1s_2s_3s

           batsman  No. of 1s  No. of 2s  No. of 3s  No.of 1s2s3s
0        AM Rahane        133         21          2           156
1        SV Samson        114         13          2           129
2         SE Marsh        104         19          3           126
3         KL Rahul         72         19          0            91
4        SR Watson         72          9          2            83
..             ...        ...        ...        ...           ...
107    S Sreesanth          0          0          0             0
108     D Salunkhe          0          1          0             1
109        D Short          0          1          0             1
110  SJ Srivastava          0          0          0             0
111          B Lee          0          0          0             0

[112 rows x 5 columns]

In [95]:
Batsman_4s_1s_2s_3s = pd.merge(Batsman_1s_2s_3s,Batsman_fours,on='batsman')

In [96]:
Batsman_4s_1s_2s_3s

,batsman,No. of 1s,No. of 2s,No. of 3s,No.of 1s2s3s,ball,No. of 4s
0,AM Rahane,133,21,2,156,329,39
1,SV Samson,114,13,2,129,215,19
2,SE Marsh,104,19,3,126,297,42
3,KL Rahul,72,19,0,91,177,23
4,SR Watson,72,9,2,83,220,34
...,...,...,...,...,...,...,...
107,S Sreesanth,0,0,0,0,10,1
108,D Salunkhe,0,1,0,1,3,1
109,D Short,0,1,0,1,2,0
110,SJ Srivastava,0,0,0,0,1,0
111,B Lee,0,0,0,0,2,0

In [97]:
Batsman_4s_1s_2s_3s['batsman_run'] = Batsman_4s_1s_2s_3s['No.of 1s2s3s'] - Batsman_4s_1s_2s_3s['No. of 4s']
Batsman_4s_1s_2s_3s

,batsman,No. of 1s,No. of 2s,No. of 3s,No.of 1s2s3s,ball,No. of 4s,batsman_run
0,AM Rahane,133,21,2,156,329,39,117
1,SV Samson,114,13,2,129,215,19,110
2,SE Marsh,104,19,3,126,297,42,84
3,KL Rahul,72,19,0,91,177,23,68
4,SR Watson,72,9,2,83,220,34,49
...,...,...,...,...,...,...,...,...
107,S Sreesanth,0,0,0,0,10,1,-1
108,D Salunkhe,0,1,0,1,3,1,0
109,D Short,0,1,0,1,2,0,1
110,SJ Srivastava,0,0,0,0,1,0,0
111,B Lee,0,0,0,0,2,0,0

In [98]:
Batsman_4s_1s_2s_3s

,batsman,No. of 1s,No. of 2s,No. of 3s,No.of 1s2s3s,ball,No. of 4s,batsman_run
0,AM Rahane,133,21,2,156,329,39,117
1,SV Samson,114,13,2,129,215,19,110
2,SE Marsh,104,19,3,126,297,42,84
3,KL Rahul,72,19,0,91,177,23,68
4,SR Watson,72,9,2,83,220,34,49
...,...,...,...,...,...,...,...,...
107,S Sreesanth,0,0,0,0,10,1,-1
108,D Salunkhe,0,1,0,1,3,1,0
109,D Short,0,1,0,1,2,0,1
110,SJ Srivastava,0,0,0,0,1,0,0
111,B Lee,0,0,0,0,2,0,0

In [99]:
Batsman_4s_1s_2s_3s['Runs_Ratio'] =(Batsman_4s_1s_2s_3s['batsman_run']/Batsman_4s_1s_2s_3s['ball'])
Batsman_4s_1s_2s_3s = Batsman_4s_1s_2s_3s[['batsman','Runs_Ratio']]
Batsman_4s_1s_2s_3s = Batsman_4s_1s_2s_3s.sort_values(by='Runs_Ratio',ascending = False).reset_index(drop =True)
Batsman_4s_1s_2s_3s

            batsman  Runs_Ratio
0           P Dogra        1.00
1       M Ur Rahman        1.00
2     LA Pomersbach        1.00
3            AJ Tye        1.00
4     Harmeet Singh        1.00
..              ...         ...
107    Kamran Akmal        0.00
108       SM Katich        0.00
109         MJ Lumb       -0.08
110     S Sreesanth       -0.10
111  AD Mascarenhas       -0.50

[112 rows x 2 columns]

In [100]:
Batsman_runs_ratio

           batsman  Run_Ratio
0         R Ashwin   2.833333
1        KK Cooper   2.600000
2     Kamran Akmal   2.166667
3         DJ Hooda   2.041667
4       D Salunkhe   2.000000
..             ...        ...
107          B Lee   0.000000
108  Anureet Singh   0.000000
109  SJ Srivastava   0.000000
110        P Awana   0.000000
111    LRPL Taylor   0.000000

[112 rows x 2 columns]

In [101]:
Batsman_performance = pd.merge(Batsman_runs_ratio,Batsman_4s_1s_2s_3s,on='batsman')

In [102]:
Batsman_performance

           batsman  Run_Ratio  Runs_Ratio
0         R Ashwin   2.833333    0.000000
1        KK Cooper   2.600000    0.200000
2     Kamran Akmal   2.166667    0.000000
3         DJ Hooda   2.041667    0.291667
4       D Salunkhe   2.000000    0.000000
..             ...        ...         ...
107          B Lee   0.000000    0.000000
108  Anureet Singh   0.000000    0.000000
109  SJ Srivastava   0.000000    0.000000
110        P Awana   0.000000    0.000000
111    LRPL Taylor   0.000000    0.000000

[112 rows x 3 columns]

In [104]:
Batsman_performance['Performance_Ratio'] = Batsman_performance['Run_Ratio'] + Batsman_performance['Runs_Ratio']

In [105]:
Batsman_performance

           batsman  Run_Ratio  Runs_Ratio  Performance_Ratio
0         R Ashwin   2.833333    0.000000           2.833333
1        KK Cooper   2.600000    0.200000           2.800000
2     Kamran Akmal   2.166667    0.000000           2.166667
3         DJ Hooda   2.041667    0.291667           2.333333
4       D Salunkhe   2.000000    0.000000           2.000000
..             ...        ...         ...                ...
107          B Lee   0.000000    0.000000           0.000000
108  Anureet Singh   0.000000    0.000000           0.000000
109  SJ Srivastava   0.000000    0.000000           0.000000
110        P Awana   0.000000    0.000000           0.000000
111    LRPL Taylor   0.000000    0.000000           0.000000

[112 rows x 4 columns]

In [106]:
Batsman_performance['Performance_Ratio'].min()

0.0

In [107]:
Batsman_performance['Performance_Ratio'].max()

2.8333333333333335

In [110]:
Batsman_performance['Performance_Ratio_Overall'] = Batsman_performance['Performance_Ratio'] - Batsman_performance['Performance_Ratio'].min()

In [111]:
Batsman_performance['Performance_Ratio_Overall']

0      2.833333
1      2.800000
2      2.166667
3      2.333333
4      2.000000
         ...
107    0.000000
108    0.000000
109    0.000000
110    0.000000
111    0.000000
Name: Performance_Ratio_Overall, Length: 112, dtype: float64

In [112]:
Batsman_performance['OPP'] = Batsman_performance['Performance_Ratio'].max() - Batsman_performance['Performance_Ratio'].min()

In [113]:
Batsman_performance

,batsman,Run_Ratio,Runs_Ratio,Performance_Ratio,Performance_Ratio_Overall,OPP
0,R Ashwin,2.833333,0.000000,2.833333,2.833333,2.833333
1,KK Cooper,2.600000,0.200000,2.800000,2.800000,2.833333
2,Kamran Akmal,2.166667,0.000000,2.166667,2.166667,2.833333
3,DJ Hooda,2.041667,0.291667,2.333333,2.333333,2.833333
4,D Salunkhe,2.000000,0.000000,2.000000,2.000000,2.833333
...,...,...,...,...,...,...
107,B Lee,0.000000,0.000000,0.000000,0.000000,2.833333
108,Anureet Singh,0.000000,0.000000,0.000000,0.000000,2.833333
109,SJ Srivastava,0.000000,0.000000,0.000000,0.000000,2.833333
110,P Awana,0.000000,0.000000,0.000000,0.000000,2.833333
111,LRPL Taylor,0.000000,0.000000,0.000000,0.000000,2.833333

In [114]:
Batsman_performance['Overall_Batsman_Performance_Ratio'] =(Batsman_performance['Performance_Ratio_Overall']/Batsman_performance['OPP'])
Batsman_performance = Batsman_performance[['batsman','Overall_Batsman_Performance_Ratio']]
Batsman_performance = Batsman_performance.sort_values(by='Overall_Batsman_Performance_Ratio',ascending = False).reset_index(drop =True)
Batsman_performance

           batsman  Overall_Batsman_Performance_Ratio
0         R Ashwin                           1.000000
1        KK Cooper                           0.988235
2         DJ Hooda                           0.823529
3    LA Carseldine                           0.823529
4         AC Voges                           0.779412
..             ...                                ...
107          B Lee                           0.000000
108  Anureet Singh                           0.000000
109  SJ Srivastava                           0.000000
110        P Awana                           0.000000
111    LRPL Taylor                           0.000000

[112 rows x 2 columns]

In [117]:
Batsman_performance.iloc[:50,:]

          batsman  Overall_Batsman_Performance_Ratio
0        R Ashwin                           1.000000
1       KK Cooper                           0.988235
2        DJ Hooda                           0.823529
3   LA Carseldine                           0.823529
4        AC Voges                           0.779412
5    Kamran Akmal                           0.764706
6         J Botha                           0.750000
7       DA Miller                           0.719251
8          AJ Tye                           0.705882
9     M Ur Rahman                           0.705882
10  LA Pomersbach                           0.705882
11  Harmeet Singh                           0.705882
12        P Dogra                           0.705882
13     D Salunkhe                           0.705882
14      BA Stokes                           0.673797
15      YK Pathan                           0.669213
16        OA Shah                           0.666667
17     GJ Maxwell                           0.664008
18        SN Khan                           0.658824
19   Bipul Sharma                           0.655462
20    JP Faulkner                           0.651201
21        S Gopal                           0.647059
22      SPD Smith                           0.640080
23   Yuvraj Singh                           0.638527
24     JC Buttler                           0.635733
25        WP Saha                           0.635294
26      SV Samson                           0.633653
27       BJ Hodge                           0.624801
28       CH Gayle                           0.624746
29      R Tewatia                           0.624434
30      GJ Bailey                           0.622291
31       KL Rahul                           0.622134
32       SE Marsh                           0.600119
33       GC Smith                           0.597285
34     AL Menaria                           0.594427
35      STR Binny                           0.590879
36    DS Kulkarni                           0.588235
37      SR Watson                           0.585561
38     MA Agarwal                           0.582353
39      MK Tiwary                           0.573529
40       MS Bisla                           0.570934
41   AC Gilchrist                           0.569748
42        KK Nair                           0.568295
43       AR Patel                           0.567775
44      CA Pujara                           0.566563
45      DJ Hussey                           0.564706
46        MJ Lumb                           0.555294
47       RR Powar                           0.554622
48      K Gowtham                           0.554622
49      RA Jadeja                           0.552799

## Bowler Performance

In [134]:
four = []
six = []
for i in kxip_rr_del['batsman_runs']:
    if i == 4 or i == 5:
        four.append(1)
        six.append(0)
    elif i == 6 or i == 7:
        four.append(0)
        six.append(1)
    else:
        four.append(0)
        six.append(0)
      
    
kxip_rr_del['four'] = four
kxip_rr_del['six'] = six

In [135]:
kxip_rr_del

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
15040,65,1,Kings XI Punjab,Rajasthan Royals,1,1,K Goel,JR Hopes,MM Patel,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
15041,65,1,Kings XI Punjab,Rajasthan Royals,1,2,K Goel,JR Hopes,MM Patel,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
15042,65,1,Kings XI Punjab,Rajasthan Royals,1,3,K Goel,JR Hopes,MM Patel,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
15043,65,1,Kings XI Punjab,Rajasthan Royals,1,4,K Goel,JR Hopes,MM Patel,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
15044,65,1,Kings XI Punjab,Rajasthan Royals,1,5,K Goel,JR Hopes,MM Patel,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172526,11323,2,Rajasthan Royals,Kings XI Punjab,20,2,STR Binny,JD Unadkat,Mohammed Shami,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
172527,11323,2,Rajasthan Royals,Kings XI Punjab,20,3,STR Binny,JD Unadkat,Mohammed Shami,0,...,0,0,2,0,2,NaN,NaN,NaN,0,0
172528,11323,2,Rajasthan Royals,Kings XI Punjab,20,4,STR Binny,JD Unadkat,Mohammed Shami,0,...,0,0,2,0,2,NaN,NaN,NaN,0,0
172529,11323,2,Rajasthan Royals,Kings XI Punjab,20,5,STR Binny,JD Unadkat,Mohammed Shami,0,...,0,0,2,0,2,NaN,NaN,NaN,0,0
172530,11323,2,Rajasthan Royals,Kings XI Punjab,20,6,STR Binny,JD Unadkat,Mohammed Shami,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0

In [136]:
boundary =kxip_rr_del[kxip_rr_del['total_runs'] == 4]
boundary.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
15046,65,1,Kings XI Punjab,Rajasthan Royals,2,1,K Goel,JR Hopes,SR Watson,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0
15052,65,1,Kings XI Punjab,Rajasthan Royals,3,1,K Goel,JR Hopes,MM Patel,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0

In [137]:
boundary_bowler= kxip_rr_del[kxip_rr_del["four"]!=0][["ball","bowler"]] # here taking boundary off the bowler/boundary conceived I am not considering include in over
boundary_bowler= boundary_bowler.groupby("bowler")["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)

In [138]:
boundary_bowler

         bowler  ball
0   S Sreesanth    28
1     SR Watson    27
2    SK Trivedi    26
3   JP Faulkner    23
4     PP Chawla    22
..          ...   ...
75     DJ Hooda     1
76     BJ Hodge     1
77      AS Raut     1
78   AL Menaria     1
79     AC Voges     1

[80 rows x 2 columns]

In [139]:
Bowler_Boundary_Runs =boundary.groupby("bowler")["total_runs"].sum().reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Bowler_Boundary_Runs.columns=["bowler","Total_runs_given"]
Bowler_Boundary_Runs

         bowler  Total_runs_given
0     SR Watson               112
1   S Sreesanth               108
2    SK Trivedi                96
3   JP Faulkner                92
4     PP Chawla                92
..          ...               ...
75     DJ Hooda                 4
76     BJ Hodge                 4
77      AS Raut                 4
78   AL Menaria                 4
79     AC Voges                 4

[80 rows x 2 columns]

In [140]:
Bowler_performance = pd.merge(Bowler_Boundary_Runs,boundary_bowler,on='bowler')

In [141]:
Bowler_performance

         bowler  Total_runs_given  ball
0     SR Watson               112    27
1   S Sreesanth               108    28
2    SK Trivedi                96    26
3   JP Faulkner                92    23
4     PP Chawla                92    22
..          ...               ...   ...
75     DJ Hooda                 4     1
76     BJ Hodge                 4     1
77      AS Raut                 4     1
78   AL Menaria                 4     1
79     AC Voges                 4     1

[80 rows x 3 columns]

In [142]:
Bowler_performance['Boundary'] =(Bowler_performance['Total_runs_given']/Bowler_performance['ball'])
Bowler_performance = Bowler_performance[['bowler','Boundary']]
Bowler_performance = Bowler_performance.sort_values(by='Boundary',ascending = False).reset_index(drop =True)
Bowler_performance

            bowler  Boundary
0   Sandeep Sharma  5.333333
1        KK Cooper  4.666667
2      M Ur Rahman  4.666667
3          SW Tait  4.571429
4         RR Powar  4.571429
..             ...       ...
75        J Archer  3.600000
76       BA Stokes  3.600000
77      YA Abdulla  3.555556
78       CH Morris  3.500000
79      MG Johnson  3.272727

[80 rows x 2 columns]

In [143]:
Bowler_over= kxip_rr_del[kxip_rr_del["extra_runs"]==0][["ball","bowler"]] # here extra balls I am not considering include in over
Bowler_over= Bowler_over.groupby("bowler")["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Bowler_over["No_of_Overs"]=(Bowler_over["ball"]/6)
Bowler_over.iloc[:20,:]

         bowler  ball  No_of_Overs
0     PP Chawla   247    41.166667
1    SK Trivedi   226    37.666667
2     SR Watson   156    26.000000
3   JP Faulkner   153    25.500000
4      AR Patel   134    22.333333
5   S Sreesanth   132    22.000000
6      SK Warne   131    21.833333
7     IK Pathan   125    20.833333
8       P Kumar   114    19.000000
9     YK Pathan    99    16.500000
10     R Ashwin    96    16.000000
11     MM Patel    96    16.000000
12      P Awana    95    15.833333
13     J Archer    94    15.666667
14  DS Kulkarni    89    14.833333
15   JD Unadkat    89    14.833333
16  M Ur Rahman    88    14.666667
17    KK Cooper    84    14.000000
18     PV Tambe    80    13.333333
19    RJ Harris    71    11.833333

In [145]:
Bowler_performance = pd.merge(Bowler_performance,Bowler_over,on='bowler')

In [146]:
Bowler_performance

            bowler  Boundary  ball  No_of_Overs
0   Sandeep Sharma  5.333333    44     7.333333
1        KK Cooper  4.666667    84    14.000000
2      M Ur Rahman  4.666667    88    14.666667
3          SW Tait  4.571429    62    10.333333
4         RR Powar  4.571429    45     7.500000
..             ...       ...   ...          ...
75        J Archer  3.600000    94    15.666667
76       BA Stokes  3.600000    52     8.666667
77      YA Abdulla  3.555556    42     7.000000
78       CH Morris  3.500000    53     8.833333
79      MG Johnson  3.272727    70    11.666667

[80 rows x 4 columns]

In [147]:
Bowler_performance['Performance_Ratio'] =(Bowler_performance['Boundary']/Bowler_performance['ball'])
Bowler_performance = Bowler_performance[['bowler','Performance_Ratio']]
Bowler_performance = Bowler_performance.sort_values(by='Performance_Ratio',ascending = False).reset_index(drop =True)
Bowler_performance

         bowler  Performance_Ratio
0      BJ Hodge           0.800000
1     R Sathish           0.666667
2       AS Raut           0.666667
3    AL Menaria           0.666667
4        K Goel           0.666667
..          ...                ...
75  S Sreesanth           0.029221
76    SR Watson           0.026591
77  JP Faulkner           0.026144
78    PP Chawla           0.016930
79   SK Trivedi           0.016338

[80 rows x 2 columns]

In [148]:
Bowler_performance['Performance_Ratio'].min()

0.01633764465622873

In [149]:
Bowler_performance['Performance_Ratio'].max()

0.8

In [150]:
Bowler_performance['Performance_Ratio_Overall'] = Bowler_performance['Performance_Ratio'] - Bowler_performance['Performance_Ratio'].min()

In [151]:
Bowler_performance['Performance_Ratio_Overall']

0     0.783662
1     0.650329
2     0.650329
3     0.650329
4     0.650329
        ...
75    0.012883
76    0.010253
77    0.009806
78    0.000593
79    0.000000
Name: Performance_Ratio_Overall, Length: 80, dtype: float64

In [152]:
Bowler_performance['OPP'] = Bowler_performance['Performance_Ratio'].max() - Bowler_performance['Performance_Ratio'].min()

In [153]:
Bowler_performance

         bowler  Performance_Ratio  Performance_Ratio_Overall       OPP
0      BJ Hodge           0.800000                   0.783662  0.783662
1     R Sathish           0.666667                   0.650329  0.783662
2       AS Raut           0.666667                   0.650329  0.783662
3    AL Menaria           0.666667                   0.650329  0.783662
4        K Goel           0.666667                   0.650329  0.783662
..          ...                ...                        ...       ...
75  S Sreesanth           0.029221                   0.012883  0.783662
76    SR Watson           0.026591                   0.010253  0.783662
77  JP Faulkner           0.026144                   0.009806  0.783662
78    PP Chawla           0.016930                   0.000593  0.783662
79   SK Trivedi           0.016338                   0.000000  0.783662

[80 rows x 4 columns]

In [154]:
Bowler_performance['Overall_Bowler_Performance_Ratio'] =(Bowler_performance['Performance_Ratio_Overall']/Bowler_performance['OPP'])
Bowler_performance = Bowler_performance[['bowler','Overall_Bowler_Performance_Ratio']]
Bowler_performance = Bowler_performance.sort_values(by='Overall_Bowler_Performance_Ratio',ascending = False).reset_index(drop =True)
Bowler_performance

         bowler  Overall_Bowler_Performance_Ratio
0      BJ Hodge                          1.000000
1    AL Menaria                          0.829859
2        K Goel                          0.829859
3     R Sathish                          0.829859
4       AS Raut                          0.829859
..          ...                               ...
75  S Sreesanth                          0.016440
76    SR Watson                          0.013084
77  JP Faulkner                          0.012513
78    PP Chawla                          0.000756
79   SK Trivedi                          0.000000

[80 rows x 2 columns]

In [155]:
Bowler_performance.iloc[:50,:]

             bowler  Overall_Bowler_Performance_Ratio
0          BJ Hodge                          1.000000
1        AL Menaria                          0.829859
2            K Goel                          0.829859
3         R Sathish                          0.829859
4           AS Raut                          0.829859
5         RS Bopara                          0.443174
6          M Lomror                          0.404505
7           MS Gony                          0.404505
8          AC Voges                          0.404505
9         R McLaren                          0.404505
10         R Bhatia                          0.279402
11      PC Valthaty                          0.262721
12         DJ Hooda                          0.262721
13    KW Richardson                          0.262721
14         BA Bhatt                          0.262721
15       MP Stoinis                          0.262721
16         VS Malik                          0.262721
17    Shivam Sharma                          0.262721
18    Harmeet Singh                          0.262721
19        MM Sharma                          0.262721
20      Kamran Khan                          0.234364
21         R Dhawan                          0.201076
22    SJ Srivastava                          0.201076
23            B Lee                          0.201076
24       TG Southee                          0.201076
25     Pankaj Singh                          0.191829
26   AD Mascarenhas                          0.191829
27         M Ashwin                          0.191829
28         S Curran                          0.191829
29         M Kartik                          0.191829
30     BE Hendricks                          0.191829
31          AP Dole                          0.191829
32       D Salunkhe                          0.161446
33     Yuvraj Singh                          0.149293
34   Sandeep Sharma                          0.133826
35         J Theron                          0.129277
36        AA Chavan                          0.124988
37         JR Hopes                          0.110030
38         RR Powar                          0.108784
39       AS Rajpoot                          0.106758
40        R Tewatia                          0.100682
41       A Chandila                          0.100682
42          J Botha                          0.092580
43          S Gopal                          0.087753
44           AJ Tye                          0.087753
45         L Balaji                          0.087753
46       YA Abdulla                          0.087178
47        VRV Singh                          0.085491
48  Karanveer Singh                          0.085491
49   Mohammed Shami                          0.085491

# Number of Dot Balls in the match

In [156]:
kxip_rr_del.groupby('match_id')['total_runs'].sum()

match_id
65       334
97       401
130      251
145      344
193      335
212      310
256      342
311      351
354      311
398      250
436      292
464      384
509      342
520      298
536      403
7931     318
7933     310
11140    375
11323    370
Name: total_runs, dtype: int64

In [157]:
Match_dotball= kxip_rr_del.groupby("match_id")["total_runs"].agg(lambda x: (x==0).sum()).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Match_dotball.columns=["match_id","balls"]
Match_dotball

    match_id  balls
0        520    108
1        398    105
2        130    102
3         65    101
4        145     99
5        354     95
6        256     86
7         97     84
8      11140     83
9        509     81
10       436     79
11      7933     78
12       536     76
13       464     75
14      7931     75
15       193     73
16       311     71
17     11323     70
18       212     69

In [158]:
Match_dotball.mean()

match_id    2260.684211
balls         84.736842
dtype: float64

In [159]:
Match_dotball.median()

match_id    398.0
balls        81.0
dtype: float64

# How many balls will Shami take for First Wicket

In [160]:
kxip_rr_del['bowler'].unique()

array(['MM Patel', 'SR Watson', 'SK Trivedi', 'SK Warne', 'D Salunkhe',
       'Pankaj Singh', 'YK Pathan', 'B Lee', 'S Sreesanth', 'JR Hopes',
       'IK Pathan', 'PP Chawla', 'WA Mota', 'RR Powar', 'VRV Singh',
       'Yuvraj Singh', 'Kamran Khan', 'AD Mascarenhas', 'YA Abdulla',
       'K Goel', 'A Singh', 'SM Harwood', 'RA Jadeja', 'SJ Srivastava',
       'J Theron', 'SW Tait', 'AC Voges', 'AP Dole', 'FY Fazal',
       'Bipul Sharma', 'RS Bopara', 'STR Binny', 'AL Menaria', 'AS Raut',
       'P Kumar', 'RJ Harris', 'BA Bhatt', 'PC Valthaty', 'R McLaren',
       'AM Nayar', 'JP Faulkner', 'Harmeet Singh', 'J Botha', 'KK Cooper',
       'BJ Hodge', 'AA Chavan', 'P Awana', 'Azhar Mahmood', 'A Chandila',
       'MS Gony', 'R Sathish', 'AR Patel', 'MG Johnson', 'L Balaji',
       'M Kartik', 'KW Richardson', 'DS Kulkarni', 'PV Tambe', 'R Bhatia',
       'VS Malik', 'R Tewatia', 'BE Hendricks', 'R Dhawan',
       'Karanveer Singh', 'Sandeep Sharma', 'Anureet Singh', 'TG Southee',
       'CH Morris', 'Shivam Sharma', 'GJ Maxwell', 'DJ Hooda', 'R Ashwin',
       'AS Rajpoot', 'M Ur Rahman', 'AJ Tye', 'MP Stoinis', 'K Gowtham',
       'J Archer', 'BA Stokes', 'JD Unadkat', 'S Gopal', 'MM Sharma',
       'I Sodhi', 'M Lomror', 'S Curran', 'Mohammed Shami', 'M Ashwin',
       'Mandeep Singh'], dtype=object)

In [163]:
name = 'Mohammed Shami'
Shami = delivers[delivers['bowler'] == name]
Shami.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
4231,18,2,Kolkata Knight Riders,Delhi Daredevils,8,1,MK Pandey,YK Pathan,Mohammed Shami,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN

In [164]:
Shami['bowling_team'].unique()

array(['Delhi Daredevils', 'Kolkata Knight Riders', 'Kings XI Punjab'],
      dtype=object)

In [165]:
Shami['match_id'].unique()

array([   18,    35,    39,    41,    44,    49,    51,    55,   389,
         418,   453,   459,   463,   465,   469,   473,   480,   483,
         485,   489,   495,   502,   512,   587,   593,   602,   607,
         609,   612,   618,   625,  7895,  7899,  7902,  7906, 11140,
       11142, 11145, 11149, 11309, 11313, 11315, 11319, 11323, 11328,
       11333, 11339, 11343, 11346], dtype=int64)

In [166]:
Shami['total_runs'].sum()

1599

In [167]:
Shami_wicket = Shami[Shami["dismissal_kind"] != "run out"]
Shami_wicket= Shami_wicket[["match_id","bowler","player_dismissed"]]
Shami_wicket = Shami_wicket.dropna()
Shami_wicket= Shami_wicket.groupby(["match_id","bowler"])["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
Shami_wicket.columns=["match_id","bowler","Wickets"]
Shami_wicket

    match_id          bowler  Wickets
0      11315  Mohammed Shami        3
1         39  Mohammed Shami        2
2        587  Mohammed Shami        2
3      11339  Mohammed Shami        2
4      11323  Mohammed Shami        2
5      11149  Mohammed Shami        2
6      11145  Mohammed Shami        2
7      11346  Mohammed Shami        2
8         51  Mohammed Shami        2
9        495  Mohammed Shami        1
10       502  Mohammed Shami        1
11     11343  Mohammed Shami        1
12     11333  Mohammed Shami        1
13     11328  Mohammed Shami        1
14       453  Mohammed Shami        1
15     11319  Mohammed Shami        1
16       459  Mohammed Shami        1
17     11313  Mohammed Shami        1
18       463  Mohammed Shami        1
19       465  Mohammed Shami        1
20     11142  Mohammed Shami        1
21      7906  Mohammed Shami        1
22      7902  Mohammed Shami        1
23        49  Mohammed Shami        1
24       618  Mohammed Shami        1
25       612  Mohammed Shami        1
26       607  Mohammed Shami        1
27       480  Mohammed Shami        1
28       512  Mohammed Shami        1
29      7899  Mohammed Shami        1

In [168]:
Shami_over= Shami[Shami["extra_runs"]==0][["match_id","ball","bowler"]] # here extra balls I am not considering include in over
Shami_over= Shami_over.groupby(["match_id","bowler"])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Shami_over["No_of_Overs"]=(Shami_over["ball"]/6)
Shami_over

    match_id          bowler  ball  No_of_Overs
0       7906  Mohammed Shami    24     4.000000
1      11315  Mohammed Shami    24     4.000000
2        495  Mohammed Shami    24     4.000000
3      11319  Mohammed Shami    24     4.000000
4        485  Mohammed Shami    24     4.000000
5      11140  Mohammed Shami    24     4.000000
6        480  Mohammed Shami    24     4.000000
7      11309  Mohammed Shami    24     4.000000
8        465  Mohammed Shami    24     4.000000
9      11149  Mohammed Shami    24     4.000000
10       459  Mohammed Shami    24     4.000000
11       453  Mohammed Shami    24     4.000000
12     11323  Mohammed Shami    24     4.000000
13        55  Mohammed Shami    24     4.000000
14        51  Mohammed Shami    24     4.000000
15     11142  Mohammed Shami    24     4.000000
16     11339  Mohammed Shami    24     4.000000
17      7902  Mohammed Shami    24     4.000000
18     11313  Mohammed Shami    24     4.000000
19     11145  Mohammed Shami    23     3.833333
20       602  Mohammed Shami    23     3.833333
21      7899  Mohammed Shami    23     3.833333
22       483  Mohammed Shami    23     3.833333
23       473  Mohammed Shami    23     3.833333
24       463  Mohammed Shami    23     3.833333
25     11328  Mohammed Shami    23     3.833333
26        49  Mohammed Shami    23     3.833333
27        39  Mohammed Shami    23     3.833333
28       587  Mohammed Shami    22     3.666667
29       502  Mohammed Shami    22     3.666667
30       607  Mohammed Shami    22     3.666667
31       469  Mohammed Shami    22     3.666667
32     11333  Mohammed Shami    20     3.333333
33       609  Mohammed Shami    19     3.166667
34        18  Mohammed Shami    18     3.000000
35       593  Mohammed Shami    18     3.000000
36       612  Mohammed Shami    18     3.000000
37        41  Mohammed Shami    18     3.000000
38       512  Mohammed Shami    17     2.833333
39       389  Mohammed Shami    17     2.833333
40     11343  Mohammed Shami    17     2.833333
41     11346  Mohammed Shami    17     2.833333
42       618  Mohammed Shami    16     2.666667
43      7895  Mohammed Shami    12     2.000000
44        35  Mohammed Shami    12     2.000000
45       418  Mohammed Shami    12     2.000000
46        44  Mohammed Shami    12     2.000000
47       625  Mohammed Shami     5     0.833333
48       489  Mohammed Shami     5     0.833333

In [169]:
Shami_dotball= Shami.groupby(["match_id","bowler"])["total_runs"].agg(lambda x: (x==0).sum()).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Shami_dotball.columns=["match_id","bowler","Dot_balls"]
Shami_dotball

    match_id          bowler  Dot_balls
0        459  Mohammed Shami         14
1      11315  Mohammed Shami         13
2      11313  Mohammed Shami         12
3      11149  Mohammed Shami         12
4        502  Mohammed Shami         11
5         55  Mohammed Shami         11
6       7902  Mohammed Shami         10
7      11328  Mohammed Shami         10
8         49  Mohammed Shami         10
9        495  Mohammed Shami         10
10      7899  Mohammed Shami         10
11       480  Mohammed Shami         10
12       593  Mohammed Shami          9
13       463  Mohammed Shami          9
14     11142  Mohammed Shami          9
15       465  Mohammed Shami          8
16     11140  Mohammed Shami          8
17       607  Mohammed Shami          8
18       483  Mohammed Shami          8
19       485  Mohammed Shami          8
20       453  Mohammed Shami          8
21     11343  Mohammed Shami          8
22       512  Mohammed Shami          8
23     11346  Mohammed Shami          7
24       418  Mohammed Shami          7
25        39  Mohammed Shami          7
26        51  Mohammed Shami          7
27       473  Mohammed Shami          7
28       469  Mohammed Shami          6
29     11333  Mohammed Shami          6
30     11309  Mohammed Shami          6
31       389  Mohammed Shami          6
32     11145  Mohammed Shami          6
33       602  Mohammed Shami          6
34        35  Mohammed Shami          6
35       587  Mohammed Shami          6
36      7906  Mohammed Shami          5
37       612  Mohammed Shami          5
38        44  Mohammed Shami          5
39     11319  Mohammed Shami          5
40     11323  Mohammed Shami          5
41        18  Mohammed Shami          5
42        41  Mohammed Shami          4
43     11339  Mohammed Shami          4
44       489  Mohammed Shami          3
45      7895  Mohammed Shami          3
46       618  Mohammed Shami          2
47       609  Mohammed Shami          2
48       625  Mohammed Shami          1

In [170]:
Shami_extraball= Shami.groupby(["match_id","bowler"])["extra_runs"].agg(lambda x: (x>0).sum()).reset_index().sort_values(by="extra_runs",ascending=False).reset_index(drop=True)
Shami_extraball.columns=["match_id","bowler","Extra_balls"]
Shami_extraball

    match_id          bowler  Extra_balls
0        463  Mohammed Shami            6
1      11333  Mohammed Shami            5
2        502  Mohammed Shami            5
3        469  Mohammed Shami            3
4        587  Mohammed Shami            3
5         49  Mohammed Shami            3
6        512  Mohammed Shami            3
7        618  Mohammed Shami            2
8        607  Mohammed Shami            2
9        602  Mohammed Shami            2
10       489  Mohammed Shami            2
11       483  Mohammed Shami            2
12     11145  Mohammed Shami            2
13        18  Mohammed Shami            2
14       459  Mohammed Shami            2
15       453  Mohammed Shami            2
16     11315  Mohammed Shami            2
17        51  Mohammed Shami            2
18        39  Mohammed Shami            2
19       609  Mohammed Shami            2
20     11309  Mohammed Shami            1
21     11142  Mohammed Shami            1
22      7906  Mohammed Shami            1
23      7899  Mohammed Shami            1
24     11328  Mohammed Shami            1
25     11339  Mohammed Shami            1
26       625  Mohammed Shami            1
27     11343  Mohammed Shami            1
28     11346  Mohammed Shami            1
29       612  Mohammed Shami            1
30       473  Mohammed Shami            1
31        55  Mohammed Shami            1
32       389  Mohammed Shami            1
33       418  Mohammed Shami            1
34        35  Mohammed Shami            1
35       465  Mohammed Shami            1
36       495  Mohammed Shami            1
37       480  Mohammed Shami            0
38     11140  Mohammed Shami            0
39     11149  Mohammed Shami            0
40       485  Mohammed Shami            0
41     11313  Mohammed Shami            0
42      7902  Mohammed Shami            0
43     11319  Mohammed Shami            0
44     11323  Mohammed Shami            0
45      7895  Mohammed Shami            0
46        44  Mohammed Shami            0
47        41  Mohammed Shami            0
48       593  Mohammed Shami            0

In [171]:
Shami_Runs= Shami.groupby(["match_id","bowler"])["total_runs"].sum().reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Shami_Runs.columns=["match_id","bowler","Total_runs_given"]
Shami_Runs

    match_id          bowler  Total_runs_given
0      11333  Mohammed Shami                62
1       7906  Mohammed Shami                54
2        609  Mohammed Shami                50
3      11323  Mohammed Shami                46
4      11145  Mohammed Shami                45
5        465  Mohammed Shami                45
6      11142  Mohammed Shami                45
7      11319  Mohammed Shami                43
8        483  Mohammed Shami                43
9      11309  Mohammed Shami                42
10       502  Mohammed Shami                41
11        39  Mohammed Shami                40
12        41  Mohammed Shami                40
13       469  Mohammed Shami                38
14       473  Mohammed Shami                37
15        51  Mohammed Shami                37
16        49  Mohammed Shami                37
17     11339  Mohammed Shami                37
18      7902  Mohammed Shami                36
19       587  Mohammed Shami                36
20       602  Mohammed Shami                34
21       463  Mohammed Shami                34
22       612  Mohammed Shami                34
23     11140  Mohammed Shami                33
24       607  Mohammed Shami                33
25       453  Mohammed Shami                32
26        55  Mohammed Shami                31
27       495  Mohammed Shami                31
28     11313  Mohammed Shami                30
29       459  Mohammed Shami                30
30      7899  Mohammed Shami                30
31        18  Mohammed Shami                28
32       618  Mohammed Shami                28
33       512  Mohammed Shami                27
34     11149  Mohammed Shami                27
35       389  Mohammed Shami                27
36      7895  Mohammed Shami                26
37     11315  Mohammed Shami                24
38       593  Mohammed Shami                24
39       485  Mohammed Shami                23
40     11328  Mohammed Shami                23
41       480  Mohammed Shami                22
42       418  Mohammed Shami                20
43        35  Mohammed Shami                19
44     11346  Mohammed Shami                19
45     11343  Mohammed Shami                17
46        44  Mohammed Shami                16
47       625  Mohammed Shami                13
48       489  Mohammed Shami                10

In [172]:
Shami_economy= pd.merge(Shami_Runs,Shami_over,on="bowler")
Shami_economy

,match_id_x,bowler,Total_runs_given,match_id_y,ball,No_of_Overs
0,11333,Mohammed Shami,62,7906,24,4.000000
1,11333,Mohammed Shami,62,11315,24,4.000000
2,11333,Mohammed Shami,62,495,24,4.000000
3,11333,Mohammed Shami,62,11319,24,4.000000
4,11333,Mohammed Shami,62,485,24,4.000000
...,...,...,...,...,...,...
2396,489,Mohammed Shami,10,35,12,2.000000
2397,489,Mohammed Shami,10,418,12,2.000000
2398,489,Mohammed Shami,10,44,12,2.000000
2399,489,Mohammed Shami,10,625,5,0.833333
2400,489,Mohammed Shami,10,489,5,0.833333

In [173]:
Shami_economy=Shami_economy[Shami_economy["No_of_Overs"]<10] # taking only bowler with maximum 10 overs
Shami_economy["Economy_rate"]=Shami_economy["Total_runs_given"]/Shami_economy["No_of_Overs"]
Shami_economy=Shami_economy.sort_values(by="Economy_rate").reset_index(drop=True)
Shami_economy

,match_id_x,bowler,Total_runs_given,match_id_y,ball,No_of_Overs,Economy_rate
0,489,Mohammed Shami,10,480,24,4.000000,2.5
1,489,Mohammed Shami,10,11313,24,4.000000,2.5
2,489,Mohammed Shami,10,7902,24,4.000000,2.5
3,489,Mohammed Shami,10,11339,24,4.000000,2.5
4,489,Mohammed Shami,10,11142,24,4.000000,2.5
...,...,...,...,...,...,...,...
2396,609,Mohammed Shami,50,625,5,0.833333,60.0
2397,7906,Mohammed Shami,54,489,5,0.833333,64.8
2398,7906,Mohammed Shami,54,625,5,0.833333,64.8
2399,11333,Mohammed Shami,62,625,5,0.833333,74.4
2400,11333,Mohammed Shami,62,489,5,0.833333,74.4

In [174]:
Shami_Strike_rate = pd.merge(Shami_over,Shami_wicket,on="bowler")
Shami_Strike_rate= Shami_Strike_rate[Shami_Strike_rate["No_of_Overs"]<10] # taking only bowler with maximum 10 overs
Shami_Strike_rate["Strike_rate"]=Shami_Strike_rate["ball"]/Shami_Strike_rate["Wickets"]
Shami_Strike_rate=Shami_Strike_rate.sort_values(by="Strike_rate").reset_index(drop=True)
Shami_Strike_rate

,match_id_x,bowler,ball,No_of_Overs,match_id_y,Wickets,Strike_rate
0,625,Mohammed Shami,5,0.833333,11315,3,1.666667
1,489,Mohammed Shami,5,0.833333,11315,3,1.666667
2,625,Mohammed Shami,5,0.833333,11346,2,2.500000
3,489,Mohammed Shami,5,0.833333,11339,2,2.500000
4,489,Mohammed Shami,5,0.833333,11323,2,2.500000
...,...,...,...,...,...,...,...
1465,55,Mohammed Shami,24,4.000000,618,1,24.000000
1466,55,Mohammed Shami,24,4.000000,612,1,24.000000
1467,55,Mohammed Shami,24,4.000000,607,1,24.000000
1468,55,Mohammed Shami,24,4.000000,512,1,24.000000
1469,485,Mohammed Shami,24,4.000000,49,1,24.000000

In [175]:
Shamiwickets_perball =Shami_Strike_rate['Strike_rate'].unique()
Shamiwickets_perball

array([ 1.66666667,  2.5       ,  4.        ,  5.        ,  5.33333333,
        5.66666667,  6.        ,  6.33333333,  6.66666667,  7.33333333,
        7.66666667,  8.        ,  8.5       ,  9.        ,  9.5       ,
       10.        , 11.        , 11.5       , 12.        , 16.        ,
       17.        , 18.        , 19.        , 20.        , 22.        ,
       23.        , 24.        ])

In [176]:
Shamiwickets_perball.mean()

10.987654320987653