In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as py
import cufflinks as cf
%matplotlib inline
%matplotlib notebook

In [2]:
from plotly.offline import iplot
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

In [3]:
delivers = pd.read_csv('D:\datasets\deliveries.csv')

In [4]:
delivers.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
delivers.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [6]:
delivers.shape

(179078, 21)

In [7]:
delivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [8]:
matches = pd.read_csv('D:\datasets\matches.csv')

In [9]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [9]:
matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [10]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [11]:
matches.shape

(756, 18)

In [12]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [13]:
matches["result"].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [14]:
tie = matches[matches['result'] == 'tie']
tie

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [18]:
no_result =matches[matches['result'] == 'no result']
no_result

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [19]:
matches_result = matches[['team1','team2','winner']]
matches_result.head()

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [20]:
matches_result['lost'] = matches_result.apply(lambda x:   (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis = 1)

In [21]:
matches_result.head(10)

,team1,team2,winner,lost
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils
5,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,Gujarat Lions
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Kolkata Knight Riders
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Royal Challengers Bangalore
8,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,Rising Pune Supergiant
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Sunrisers Hyderabad

In [22]:
wins = matches_result['winner'].value_counts()
wins

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [23]:
lost = matches_result['lost'].value_counts()
lost

Royal Challengers Bangalore    95
Delhi Daredevils               94
Kings XI Punjab                94
Kolkata Knight Riders          86
Mumbai Indians                 78
Rajasthan Royals               70
Chennai Super Kings            64
Sunrisers Hyderabad            50
Deccan Chargers                46
Pune Warriors                  33
Gujarat Lions                  17
Rising Pune Supergiants         9
Kochi Tuskers Kerala            8
Rising Pune Supergiant          6
Delhi Capitals                  6
Name: lost, dtype: int64

In [24]:
wins.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Winning Count')

In [25]:
lost.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Losing Count')

# MI VS RR HEAD TO HEAD ANALYSIS

In [26]:
def get_mivsrr(team1,team2):
    teams =['Rajasthan Royals','Mumbai Indians']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [27]:
index = [ ]

for row in matches.iterrows():
    flag = get_mivsrr(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

20

In [28]:
mi_rr = matches[index]

In [29]:
mi_rr.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
85,86,2008,Mumbai,2008-05-07,Rajasthan Royals,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,7,A Nehra,Dr DY Patil Sports Academy,DJ Harper,RE Koertzen,NaN

In [30]:
mi_rr['dl_applied']

85     0
112    0
159    0
175    0
218    0
266    0
298    0
318    0
376    0
402    0
446    0
455    0
500    0
512    0
525    0
548    0
656    0
682    0
722    0
731    0
Name: dl_applied, dtype: int64

In [31]:
mi_rr = mi_rr.drop('dl_applied',axis=1)

# HEAD TO HEAD MATCHES

In [32]:
mi_rr['winner'].value_counts().iplot(kind='bar')

In [34]:
team_win= mi_rr[['team1','team2','toss_winner','toss_decision','winner']]
team_win.head()

,team1,team2,toss_winner,toss_decision,winner
85,Rajasthan Royals,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
112,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals
159,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,Rajasthan Royals
175,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,Mumbai Indians
218,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,Mumbai Indians

In [35]:
team_decision= mi_rr[['toss_winner','toss_decision','winner']]
team_decision.head()

          toss_winner toss_decision            winner
85     Mumbai Indians         field    Mumbai Indians
112  Rajasthan Royals         field  Rajasthan Royals
159  Rajasthan Royals           bat  Rajasthan Royals
175    Mumbai Indians           bat    Mumbai Indians
218  Rajasthan Royals         field    Mumbai Indians

In [36]:
corr = mi_rr.corr()

In [37]:
sns.heatmap(corr,annot = True)

In [38]:
mi_rr['venue'].value_counts()

Sawai Mansingh Stadium          7
Wankhede Stadium                7
Sardar Patel Stadium, Motera    2
Dr DY Patil Sports Academy      1
Eden Gardens                    1
Brabourne Stadium               1
Kingsmead                       1
Name: venue, dtype: int64

In [39]:
venue= mi_rr[['toss_winner','toss_decision','venue','winner']]
venue.head(18)

,toss_winner,toss_decision,venue,winner
85,Mumbai Indians,field,Dr DY Patil Sports Academy,Mumbai Indians
112,Rajasthan Royals,field,Sawai Mansingh Stadium,Rajasthan Royals
159,Rajasthan Royals,bat,Kingsmead,Rajasthan Royals
175,Mumbai Indians,bat,Brabourne Stadium,Mumbai Indians
218,Rajasthan Royals,field,Sawai Mansingh Stadium,Mumbai Indians
266,Rajasthan Royals,field,Sawai Mansingh Stadium,Rajasthan Royals
298,Mumbai Indians,bat,Wankhede Stadium,Rajasthan Royals
318,Rajasthan Royals,field,Wankhede Stadium,Mumbai Indians
376,Rajasthan Royals,bat,Sawai Mansingh Stadium,Mumbai Indians
402,Rajasthan Royals,bat,Sawai Mansingh Stadium,Rajasthan Royals
446,Rajasthan Royals,field,Wankhede Stadium,Mumbai Indians
455,Rajasthan Royals,bat,Eden Gardens,Mumbai Indians
500,Mumbai Indians,bat,"Sardar Patel Stadium, Motera",Mumbai Indians
512,Mumbai Indians,field,Wankhede Stadium,Mumbai Indians
525,Mumbai Indians,bat,"Sardar Patel Stadium, Motera",Rajasthan Royals
548,Rajasthan Royals,field,Wankhede Stadium,Mumbai Indians
656,Mumbai Indians,bat,Sawai Mansingh Stadium,Rajasthan Royals
682,Rajasthan Royals,field,Wankhede Stadium,Rajasthan Royals

# Head to Head Win based tossed decision playing 1st or 2nd InningÂ¶

In [40]:
team_decision.groupby(['toss_winner','winner'])['toss_decision'].value_counts()

toss_winner       winner            toss_decision
Mumbai Indians    Mumbai Indians    bat              2
                                    field            2
                  Rajasthan Royals  bat              3
Rajasthan Royals  Mumbai Indians    field            4
                                    bat              2
                  Rajasthan Royals  field            5
                                    bat              2
Name: toss_decision, dtype: int64

In [41]:
mi_rr.shape

(20, 17)

In [42]:
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [43]:
delivers.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [44]:
delivers['batting_team'].value_counts()

Mumbai Indians                 22619
Kings XI Punjab                20931
Royal Challengers Bangalore    20908
Kolkata Knight Riders          20858
Chennai Super Kings            19762
Delhi Daredevils               18786
Rajasthan Royals               17292
Sunrisers Hyderabad            12908
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Delhi Capitals                  1909
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [45]:
delivers['batting_team'].value_counts().iplot(kind ='bar',xTitle = 'Team',yTitle = 'Runs',title ='Runs scored by Teams in IPL 2008-19')

In [46]:
def get_mivsrr(batting_team,bowling_team):
    teams =['Rajasthan Royals','Mumbai Indians']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [47]:
index = [ ]

for row in delivers.iterrows():
    flag = get_mivsrr(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

4803

In [48]:
mi_rrdel = delivers[index]

In [49]:
mi_rrdel.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
20024,86,1,Rajasthan Royals,Mumbai Indians,1,1,GC Smith,SA Asnodkar,SM Pollock,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
20025,86,1,Rajasthan Royals,Mumbai Indians,1,2,GC Smith,SA Asnodkar,SM Pollock,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
20026,86,1,Rajasthan Royals,Mumbai Indians,1,3,SA Asnodkar,GC Smith,SM Pollock,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
20027,86,1,Rajasthan Royals,Mumbai Indians,1,4,GC Smith,SA Asnodkar,SM Pollock,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
20028,86,1,Rajasthan Royals,Mumbai Indians,1,5,GC Smith,SA Asnodkar,SM Pollock,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [50]:
mi_rrdel.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

# Leading Run scorer in IPL

In [51]:
delivers['batsman'].value_counts()[:20].iplot(kind='bar')

# Leading Runscorer in MI VS RR

In [52]:
mi_rrdel['batsman'].value_counts()[:20].iplot(kind='bar')

In [53]:
mi_rrdel['batsman'].unique()

array(['GC Smith', 'SA Asnodkar', 'YK Pathan', 'SR Watson', 'M Kaif',
       'RA Jadeja', 'SK Warne', 'Sohail Tanvir', 'M Rawat', 'SK Trivedi',
       'MM Patel', 'YV Takawale', 'ST Jayasuriya', 'RV Uthappa',
       'DJ Bravo', 'AM Nayar', 'SR Tendulkar', 'DR Smith', 'SM Pollock',
       'MK Pandey', 'RR Raje', 'Kamran Akmal', 'Niraj Patel', 'RJ Quiney',
       'SD Chitnis', 'NV Ojha', 'J Botha', 'AM Rahane', 'JP Duminy',
       'Harbhajan Singh', 'DS Kulkarni', 'C Nanda', 'SL Malinga',
       'AP Tare', 'SS Tiwary', 'AT Rayudu', 'R Sathish', 'R McLaren',
       'AA Jhunjhunwala', 'P Dogra', 'AD Mascarenhas', 'A Uniyal',
       'KA Pollard', 'MJ Lumb', 'FY Fazal', 'AC Voges', 'AS Raut',
       'AP Dole', 'DJ Jacobs', 'RG Sharma', 'A Symonds', 'AG Murtaza',
       'R Dravid', 'LRPL Taylor', 'AL Menaria', 'TL Suman',
       'JEC Franklin', 'RE Levi', 'KD Karthik', 'SP Goswami', 'OA Shah',
       'KK Cooper', 'AA Chavan', 'A Singh', 'GB Hogg', 'STR Binny',
       'DH Yagnik', 'BJ Hodge', 'RT Ponting', 'R Dhawan', 'MG Johnson',
       'PP Ojha', 'GJ Maxwell', 'JP Faulkner', 'SV Samson', 'MEK Hussey',
       'LMP Simmons', 'KK Nair', 'UBT Chand', 'Ankit Sharma', 'R Bhatia',
       'CJ Anderson', 'AJ Finch', 'PA Patel', 'S Gopal', 'J Suchith',
       'SPD Smith', 'DJ Hooda', 'TG Southee', 'J Theron', 'AS Yadav',
       'E Lewis', 'Ishan Kishan', 'KH Pandya', 'HH Pandya',
       'MJ McClenaghan', 'M Markande', 'RA Tripathi', 'BA Stokes',
       'JC Buttler', 'J Archer', 'H Klaasen', 'K Gowtham', 'BCJ Cutting',
       'D Short', 'Q de Kock', 'L Livingstone', 'R Parag', 'A Turner'],
      dtype=object)

# Batsman Intimation Score

In [103]:
Batsman_score=mi_rrdel.groupby(['match_id','batsman'])["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score.iloc[:20,:] # here I am taking only top 20 scorer in mi vs rr match

    match_id       batsman  batsman_runs
0        176     YK Pathan           100
1       7940    JC Buttler            95
2        513   CJ Anderson            95
3      11318    JC Buttler            91
4        219  SR Tendulkar            89
5        299     SR Watson            89
6        377      DR Smith            87
7      11318     Q de Kock            83
8        526     SPD Smith            79
9       7914      AS Yadav            76
10       319       OA Shah            76
11       549     SV Samson            76
12       513     SV Samson            74
13       526    KA Pollard            70
14       403     AM Rahane            68
15     11327     Q de Kock            67
16       319    KA Pollard            64
17      7940       E Lewis            64
18       456      DR Smith            62
19       501   LMP Simmons            62

In [104]:
Batsman_Ball_faced=mi_rrdel.groupby(['match_id','batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced.iloc[:15,:] # batsman with most ball faced

    match_id       batsman  ball
0        219  SR Tendulkar    62
1        377      DR Smith    60
2        377  SR Tendulkar    58
3        403     AM Rahane    57
4        526     SPD Smith    54
5       7940    JC Buttler    54
6      11318     Q de Kock    53
7        501   LMP Simmons    51
8       7914      AS Yadav    50
9        299     SR Watson    49
10     11327     Q de Kock    49
11       299     RG Sharma    49
12       513     SV Samson    48
13     11327     SPD Smith    48
14       549     SV Samson    47

In [105]:
Batsman_fours=mi_rrdel.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["batsman", "No. of 4s"]
Batsman_fours.iloc[:20,:]

         batsman  No. of 4s
0      AM Rahane         36
1      SV Samson         33
2      SR Watson         33
3   SR Tendulkar         29
4      RG Sharma         23
5     KA Pollard         22
6      AT Rayudu         20
7       DR Smith         17
8     JC Buttler         17
9      SPD Smith         16
10      R Dravid         15
11      AS Yadav         15
12       AP Tare         14
13   CJ Anderson         14
14   LMP Simmons         13
15       KK Nair         12
16     YK Pathan         12
17     Q de Kock         12
18      BJ Hodge         11
19     STR Binny         11

In [106]:
Batsman_singles=mi_rrdel.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==1).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 1 
Batsman_singles.columns = ["batsman", "No. of 1s"]
Batsman_singles

            batsman  No. of 1s
0         AM Rahane        111
1      SR Tendulkar         98
2         SV Samson         85
3         RG Sharma         77
4         AT Rayudu         77
..              ...        ...
104      M Markande          0
105         MJ Lumb          0
106  MJ McClenaghan          0
107        MM Patel          0
108         A Singh          0

[109 rows x 2 columns]

In [107]:
Batsman_doubles=mi_rrdel.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==2).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 2 
Batsman_doubles.columns = ["batsman", "No. of 2s"]
Batsman_doubles

          batsman  No. of 2s
0       SV Samson         21
1    SR Tendulkar         19
2       SPD Smith         17
3       AM Rahane         16
4       AT Rayudu         16
..            ...        ...
104     MK Pandey          0
105      MM Patel          0
106       NV Ojha          0
107       PP Ojha          0
108  Kamran Akmal          0

[109 rows x 2 columns]

In [108]:
Batsman_triples=mi_rrdel.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==3).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 3 
Batsman_triples.columns = ["batsman", "No. of 3s"]
Batsman_triples

           batsman  No. of 3s
0       MEK Hussey          2
1        SV Samson          2
2    ST Jayasuriya          2
3        RJ Quiney          1
4     SR Tendulkar          1
..             ...        ...
104      H Klaasen          0
105     GJ Maxwell          0
106       GC Smith          0
107        GB Hogg          0
108    YV Takawale          0

[109 rows x 2 columns]

In [109]:
Batsman_1s_2s_3s = pd.merge(Batsman_singles,Batsman_doubles,on='batsman')

In [110]:
Batsman_1s_2s_3s = pd.merge(Batsman_1s_2s_3s,Batsman_triples,on='batsman')

In [111]:
Batsman_1s_2s_3s

            batsman  No. of 1s  No. of 2s  No. of 3s
0         AM Rahane        111         16          1
1      SR Tendulkar         98         19          1
2         SV Samson         85         21          2
3         RG Sharma         77         11          0
4         AT Rayudu         77         16          0
..              ...        ...        ...        ...
104      M Markande          0          0          0
105         MJ Lumb          0          0          0
106  MJ McClenaghan          0          0          0
107        MM Patel          0          0          0
108         A Singh          0          0          0

[109 rows x 4 columns]

In [112]:
Batsman_1s_2s_3s['No. of 1s'] = Batsman_1s_2s_3s['No. of 1s'].apply(lambda x: x*0.5)

In [113]:
Batsman_1s_2s_3s['No. of 2s'] = Batsman_1s_2s_3s['No. of 2s'].apply(lambda x: x*0.5)

In [114]:
Batsman_1s_2s_3s['No. of 3s'] = Batsman_1s_2s_3s['No. of 3s'].apply(lambda x: x*0.5)

In [115]:
Batsman_1s_2s_3s

            batsman  No. of 1s  No. of 2s  No. of 3s
0         AM Rahane       55.5        8.0        0.5
1      SR Tendulkar       49.0        9.5        0.5
2         SV Samson       42.5       10.5        1.0
3         RG Sharma       38.5        5.5        0.0
4         AT Rayudu       38.5        8.0        0.0
..              ...        ...        ...        ...
104      M Markande        0.0        0.0        0.0
105         MJ Lumb        0.0        0.0        0.0
106  MJ McClenaghan        0.0        0.0        0.0
107        MM Patel        0.0        0.0        0.0
108         A Singh        0.0        0.0        0.0

[109 rows x 4 columns]

In [116]:
Batsman_runs = pd.merge(Batsman_score,Batsman_fours,on='batsman')
Batsman_runs

     match_id     batsman  batsman_runs  No. of 4s
0         176   YK Pathan           100         12
1         160   YK Pathan            17         12
2         219   YK Pathan            10         12
3         113   YK Pathan             2         12
4          86   YK Pathan             1         12
..        ...         ...           ...        ...
289     11327    A Turner             0          0
290       319     A Singh             0          0
291      7914   H Klaasen             0          0
292       526   J Suchith             0          0
293       113  SM Pollock             0          0

[294 rows x 4 columns]

In [117]:
Batsman_runs = pd.merge(Batsman_runs,Batsman_1s_2s_3s,on='batsman')

In [118]:
Batsman_runs

,match_id,batsman,batsman_runs,No. of 4s,No. of 1s,No. of 2s,No. of 3s
0,176,YK Pathan,100,12,11.0,1.5,0.0
1,160,YK Pathan,17,12,11.0,1.5,0.0
2,219,YK Pathan,10,12,11.0,1.5,0.0
3,113,YK Pathan,2,12,11.0,1.5,0.0
4,86,YK Pathan,1,12,11.0,1.5,0.0
...,...,...,...,...,...,...,...
289,11327,A Turner,0,0,0.0,0.0,0.0
290,319,A Singh,0,0,0.0,0.0,0.0
291,7914,H Klaasen,0,0,0.0,0.0,0.0
292,526,J Suchith,0,0,0.0,0.0,0.0
293,113,SM Pollock,0,0,0.0,0.0,0.0

In [119]:
Batsman_runs['batsman_run'] = Batsman_runs['batsman_runs'] + Batsman_runs['No. of 4s']
Batsman_runs

,match_id,batsman,batsman_runs,No. of 4s,No. of 1s,No. of 2s,No. of 3s,batsman_run
0,176,YK Pathan,100,12,11.0,1.5,0.0,112
1,160,YK Pathan,17,12,11.0,1.5,0.0,29
2,219,YK Pathan,10,12,11.0,1.5,0.0,22
3,113,YK Pathan,2,12,11.0,1.5,0.0,14
4,86,YK Pathan,1,12,11.0,1.5,0.0,13
...,...,...,...,...,...,...,...,...
289,11327,A Turner,0,0,0.0,0.0,0.0,0
290,319,A Singh,0,0,0.0,0.0,0.0,0
291,7914,H Klaasen,0,0,0.0,0.0,0.0,0
292,526,J Suchith,0,0,0.0,0.0,0.0,0
293,113,SM Pollock,0,0,0.0,0.0,0.0,0

In [120]:
Batsman_runs['batsman_1s2s3s'] = Batsman_runs['No. of 1s'] + Batsman_runs['No. of 2s'] + Batsman_runs['No. of 3s']
Batsman_runs

,match_id,batsman,batsman_runs,No. of 4s,No. of 1s,No. of 2s,No. of 3s,batsman_run,batsman_1s2s3s
0,176,YK Pathan,100,12,11.0,1.5,0.0,112,12.5
1,160,YK Pathan,17,12,11.0,1.5,0.0,29,12.5
2,219,YK Pathan,10,12,11.0,1.5,0.0,22,12.5
3,113,YK Pathan,2,12,11.0,1.5,0.0,14,12.5
4,86,YK Pathan,1,12,11.0,1.5,0.0,13,12.5
...,...,...,...,...,...,...,...,...,...
289,11327,A Turner,0,0,0.0,0.0,0.0,0,0.0
290,319,A Singh,0,0,0.0,0.0,0.0,0,0.0
291,7914,H Klaasen,0,0,0.0,0.0,0.0,0,0.0
292,526,J Suchith,0,0,0.0,0.0,0.0,0,0.0
293,113,SM Pollock,0,0,0.0,0.0,0.0,0,0.0

In [121]:
Batsman_runs['Batsman_runs_diff'] = Batsman_runs['batsman_run'] - Batsman_runs['batsman_1s2s3s']
Batsman_runs

,match_id,batsman,batsman_runs,No. of 4s,No. of 1s,No. of 2s,No. of 3s,batsman_run,batsman_1s2s3s,Batsman_runs_diff
0,176,YK Pathan,100,12,11.0,1.5,0.0,112,12.5,99.5
1,160,YK Pathan,17,12,11.0,1.5,0.0,29,12.5,16.5
2,219,YK Pathan,10,12,11.0,1.5,0.0,22,12.5,9.5
3,113,YK Pathan,2,12,11.0,1.5,0.0,14,12.5,1.5
4,86,YK Pathan,1,12,11.0,1.5,0.0,13,12.5,0.5
...,...,...,...,...,...,...,...,...,...,...
289,11327,A Turner,0,0,0.0,0.0,0.0,0,0.0,0.0
290,319,A Singh,0,0,0.0,0.0,0.0,0,0.0,0.0
291,7914,H Klaasen,0,0,0.0,0.0,0.0,0,0.0,0.0
292,526,J Suchith,0,0,0.0,0.0,0.0,0,0.0,0.0
293,113,SM Pollock,0,0,0.0,0.0,0.0,0,0.0,0.0

In [128]:
Batsman_Intimidation_score = pd.merge(Batsman_runs,Batsman_Ball_faced,on='batsman')
Batsman_Intimidation_score

,match_id_x,batsman,batsman_runs,No. of 4s,No. of 1s,No. of 2s,No. of 3s,batsman_run,batsman_1s2s3s,Batsman_runs_diff,match_id_y,ball
0,176,YK Pathan,100,12,11.0,1.5,0.0,112,12.5,99.5,176,40
1,176,YK Pathan,100,12,11.0,1.5,0.0,112,12.5,99.5,160,14
2,176,YK Pathan,100,12,11.0,1.5,0.0,112,12.5,99.5,219,8
3,176,YK Pathan,100,12,11.0,1.5,0.0,112,12.5,99.5,113,4
4,176,YK Pathan,100,12,11.0,1.5,0.0,112,12.5,99.5,86,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1589,11327,A Turner,0,0,0.0,0.0,0.0,0,0.0,0.0,11327,1
1590,319,A Singh,0,0,0.0,0.0,0.0,0,0.0,0.0,319,3
1591,7914,H Klaasen,0,0,0.0,0.0,0.0,0,0.0,0.0,7914,1
1592,526,J Suchith,0,0,0.0,0.0,0.0,0,0.0,0.0,526,1
1593,113,SM Pollock,0,0,0.0,0.0,0.0,0,0.0,0.0,113,1

In [129]:
Batsman_Intimidation_score['BIS'] = (Batsman_Intimidation_score['Batsman_runs_diff']/Batsman_Intimidation_score['ball'])
Batsman_Intimidation_score = Batsman_Intimidation_score[['batsman','BIS']]
Batsman_Intimidation_score = Batsman_Intimidation_score.sort_values(by ="BIS",ascending =False).reset_index(drop=True)
Batsman_Intimidation_score

        batsman   BIS
0       AP Tare  58.0
1       E Lewis  57.5
2     SR Watson  41.5
3     RG Sharma  37.0
4     RG Sharma  37.0
...         ...   ...
1589  RG Sharma -21.0
1590  RG Sharma -21.0
1591  RG Sharma -21.0
1592  RG Sharma -21.0
1593  RG Sharma -21.0

[1594 rows x 2 columns]

In [258]:
Batsman_Intimidation_score.iloc[:50,:]#Top 50 Batsman with BIS

            batsman        BIS
0           AP Tare  58.000000
1           E Lewis  57.500000
2         SR Watson  41.500000
3         RG Sharma  37.000000
4         RG Sharma  37.000000
5         K Gowtham  35.000000
6           AP Tare  34.000000
7         YK Pathan  33.166667
8         RA Jadeja  29.500000
9         SV Samson  27.500000
10        SV Samson  26.500000
11        RG Sharma  26.000000
12        RG Sharma  26.000000
13        YK Pathan  24.875000
14       KD Karthik  23.000000
15          AP Tare  22.000000
16     SR Tendulkar  19.666667
17        SR Watson  19.500000
18        RG Sharma  19.000000
19        RG Sharma  19.000000
20        BA Stokes  17.500000
21     Ishan Kishan  16.833333
22        SV Samson  16.000000
23       KA Pollard  15.833333
24        HH Pandya  15.250000
25       KD Karthik  15.000000
26       KD Karthik  14.000000
27       KA Pollard  13.833333
28        SR Watson  13.833333
29        SV Samson  13.750000
30        SV Samson  13.250000
31          S Gopal  13.000000
32        SR Watson  13.000000
33        SR Watson  12.500000
34        YK Pathan  12.437500
35          J Botha  11.500000
36          J Botha  11.500000
37        HH Pandya  11.250000
38       JC Buttler  11.125000
39  Harbhajan Singh  11.000000
40  Harbhajan Singh  11.000000
41        SR Watson  11.000000
42        SV Samson  11.000000
43       JC Buttler  10.625000
44        SV Samson  10.600000
45        RA Jadeja  10.500000
46        SR Watson  10.375000
47         DR Smith  10.187500
48        SR Watson  10.000000
49        AT Rayudu   9.500000

# Batsman boundaries to total runs ratio

In [261]:
Batsman_score=mi_rrdel.groupby(['batsman'])["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score.iloc[:50,:] # here I am taking only top 50 scorer in mi vs rr match

            batsman  batsman_runs
0         SV Samson           325
1         AM Rahane           314
2         SR Watson           308
3        KA Pollard           295
4      SR Tendulkar           273
5         AT Rayudu           249
6         RG Sharma           245
7        JC Buttler           192
8         SPD Smith           173
9          AS Yadav           171
10         DR Smith           157
11         BJ Hodge           154
12        Q de Kock           150
13      CJ Anderson           145
14        YK Pathan           130
15          AP Tare           123
16        STR Binny           116
17      LMP Simmons           112
18          KK Nair           105
19          OA Shah           104
20         R Dravid           103
21        HH Pandya            97
22    ST Jayasuriya            96
23        DH Yagnik            81
24       MEK Hussey            78
25     Ishan Kishan            75
26       KD Karthik            73
27         AM Nayar            72
28      JP Faulkner            72
29      YV Takawale            69
30        SS Tiwary            68
31  Harbhajan Singh            66
32        RA Jadeja            65
33          E Lewis            64
34      SA Asnodkar            56
35        RJ Quiney            51
36         GC Smith            50
37          J Botha            49
38       AL Menaria            45
39          R Parag            44
40        BA Stokes            42
41          P Dogra            41
42      Niraj Patel            40
43         PA Patel            39
44       RV Uthappa            37
45  AA Jhunjhunwala            36
46        JP Duminy            35
47        K Gowtham            34
48          AP Dole            30
49        KK Cooper            30

In [262]:
Batsman_fours=mi_rrdel.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["batsman", "No. of 4s"]
Batsman_fours.iloc[:50,:]

            batsman  No. of 4s
0         AM Rahane         36
1         SV Samson         33
2         SR Watson         33
3      SR Tendulkar         29
4         RG Sharma         23
5        KA Pollard         22
6         AT Rayudu         20
7          DR Smith         17
8        JC Buttler         17
9         SPD Smith         16
10         R Dravid         15
11         AS Yadav         15
12          AP Tare         14
13      CJ Anderson         14
14      LMP Simmons         13
15          KK Nair         12
16        YK Pathan         12
17        Q de Kock         12
18         BJ Hodge         11
19        STR Binny         11
20        DH Yagnik         11
21       KD Karthik          9
22         AM Nayar          8
23    ST Jayasuriya          8
24         GC Smith          7
25        HH Pandya          7
26        SS Tiwary          7
27         PA Patel          7
28      YV Takawale          7
29     Ishan Kishan          6
30          OA Shah          6
31          R Parag          5
32        RJ Quiney          5
33      SA Asnodkar          5
34       MEK Hussey          4
35          RE Levi          4
36       RV Uthappa          4
37        K Gowtham          4
38        JP Duminy          4
39        RA Jadeja          4
40     Kamran Akmal          4
41          E Lewis          4
42       AL Menaria          4
43  Harbhajan Singh          4
44      JP Faulkner          3
45        BA Stokes          3
46      Niraj Patel          2
47          NV Ojha          2
48        R McLaren          2
49          MJ Lumb          2

In [268]:
Batsman_boundary_ratio = pd.merge(Batsman_score,Batsman_fours,on ='batsman')

In [269]:
Batsman_boundary_ratio

            batsman  batsman_runs  No. of 4s
0         SV Samson           325         33
1         AM Rahane           314         36
2         SR Watson           308         33
3        KA Pollard           295         22
4      SR Tendulkar           273         29
..              ...           ...        ...
104  MJ McClenaghan             0          0
105      M Markande             0          0
106        A Uniyal             0          0
107        A Turner             0          0
108         A Singh             0          0

[109 rows x 3 columns]

In [270]:
Batsman_boundary_ratio['Boundary_Ratio'] =(Batsman_boundary_ratio['No. of 4s']/Batsman_boundary_ratio['batsman_runs'])
Batsman_boundary_ratio = Batsman_boundary_ratio[['batsman','Boundary_Ratio']]
Batsman_boundary_ratio = Batsman_boundary_ratio.sort_values(by='Boundary_Ratio',ascending = False).reset_index(drop =True)
Batsman_boundary_ratio

            batsman  Boundary_Ratio
0         AA Chavan        0.250000
1          R Dhawan        0.250000
2           MJ Lumb        0.250000
3      Kamran Akmal        0.222222
4          AJ Finch        0.200000
..              ...             ...
104  MJ McClenaghan             NaN
105      M Markande             NaN
106        A Uniyal             NaN
107        A Turner             NaN
108         A Singh             NaN

[109 rows x 2 columns]

In [144]:
Batsman_boundary_ratio.iloc[:50,:]

          batsman  Boundary_Ratio
0       AA Chavan        0.250000
1        R Dhawan        0.250000
2         MJ Lumb        0.250000
3    Kamran Akmal        0.222222
4        AJ Finch        0.200000
5       R McLaren        0.181818
6        PA Patel        0.179487
7      SD Chitnis        0.166667
8        R Bhatia        0.166667
9   Sohail Tanvir        0.166667
10     MG Johnson        0.153846
11   JEC Franklin        0.153846
12        NV Ojha        0.153846
13       R Dravid        0.145631
14        S Gopal        0.142857
15       GC Smith        0.140000
16        RE Levi        0.137931
17      DH Yagnik        0.135802
18       SK Warne        0.125000
19     KD Karthik        0.123288
20      K Gowtham        0.117647
21    LMP Simmons        0.116071
22      AM Rahane        0.114650
23        KK Nair        0.114286
24      JP Duminy        0.114286
25        AP Tare        0.113821
26        R Parag        0.113636
27     SL Malinga        0.111111
28       AM Nayar        0.111111
29        D Short        0.111111
30       DR Smith        0.108280
31     RV Uthappa        0.108108
32      SR Watson        0.107143
33   SR Tendulkar        0.106227
34      SS Tiwary        0.102941
35      SV Samson        0.101538
36    YV Takawale        0.101449
37       J Archer        0.100000
38       FY Fazal        0.100000
39      RJ Quiney        0.098039
40    CJ Anderson        0.096552
41      STR Binny        0.094828
42      RG Sharma        0.093878
43      SPD Smith        0.092486
44      YK Pathan        0.092308
45    RA Tripathi        0.090909
46    SA Asnodkar        0.089286
47     AL Menaria        0.088889
48     JC Buttler        0.088542
49       AS Yadav        0.087719

# How many balls more /less will RR to score 100 runs as compared to MI

## Mumbai Indians Final score against Rajastan Royals

In [162]:
name = 'Mumbai Indians'
battingteam = mi_rrdel[mi_rrdel['batting_team'] == name]
battingteam.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
20127,86,2,Mumbai Indians,Rajasthan Royals,1,1,YV Takawale,ST Jayasuriya,Sohail Tanvir,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [163]:
MI_score = battingteam.groupby('match_id')['total_runs'].sum()
MI_score

match_id
86       104
113      145
160      143
176      212
219      174
267       94
299      133
319      197
377      163
403       92
447      166
456      169
501      178
513      195
526      164
549      187
7914     172
7940     177
11318    191
11327    171
Name: total_runs, dtype: int64

# Rajasthan Royals Final Score against Mumbai Indians

In [164]:
name = 'Rajasthan Royals'
battingteam = mi_rrdel[mi_rrdel['batting_team'] == name]
battingteam.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
20024,86,1,Rajasthan Royals,Mumbai Indians,1,1,GC Smith,SA Asnodkar,SM Pollock,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [165]:
RR_score = battingteam.groupby('match_id')['total_runs'].sum()
RR_score

match_id
86       103
113      146
160      145
176      208
219      137
267       95
299      134
319      170
377      162
403      179
447      152
456      165
501      153
513      189
526      165
549      179
7914     174
7940     181
11318    192
11327    168
Name: total_runs, dtype: int64

## Number of balls Mumbai Indians will take to score 100 runs against Rajasthan Royals

In [160]:
def target_runs(team1,team2,targ,data):
    data_1 = data[data['batting_team'] == team2]
    data_1 = data_1[data_1['bowling_team']==team1].reset_index().drop(['index'],axis =1)[['match_id','total_runs']]
    id_1 = data_1['match_id'][0]
    balls =[ ]
    ball = 0
    for i in data_1['match_id'].unique().tolist():
        data_2 =data_1.iloc[np.where(data_1['match_id']==i)]['total_runs'].tolist()
        runs = 0
        for i in data_2:
            if runs<=targ:
                runs += i
                ball += 1
        balls.append(ball)
        ball =0
    print(pd.DataFrame(balls).describe())
    print(balls)

In [161]:
team1 = 'Rajasthan Royals'
team2 = 'Mumbai Indians'
target = 100

target_runs(team1,team2,target,mi_rrdel)

                0
count   20.000000
mean    83.600000
std     17.497067
min     54.000000
25%     72.000000
50%     76.500000
75%     96.500000
max    124.000000
[95, 98, 96, 67, 90, 124, 99, 74, 75, 113, 72, 76, 77, 54, 98, 83, 64, 76, 69, 72]

## Mumbai Indians has scored 100 runs on average of 83 balls .Fastest balls to reach 100 is 54 balls and slowest balls to reach 100 is 124 balls

## Number of Balls Rajasthan Royals will take to score 100 runs against Mumbai Indians

In [166]:
def target_runs(team1,team2,targ,data):
    data_1 = data[data['batting_team'] == team2]
    data_1 = data_1[data_1['bowling_team']==team1].reset_index().drop(['index'],axis =1)[['match_id','total_runs']]
    id_1 = data_1['match_id'][0]
    balls =[ ]
    ball = 0
    for i in data_1['match_id'].unique().tolist():
        data_2 =data_1.iloc[np.where(data_1['match_id']==i)]['total_runs'].tolist()
        runs = 0
        for i in data_2:
            if runs<=targ:
                runs += i
                ball += 1
        balls.append(ball)
        ball =0
    print(pd.DataFrame(balls).describe())
    print(balls)

In [167]:
team1 = 'Mumbai Indians'
team2 = 'Rajasthan Royals'
target = 100

target_runs(team1,team2,target,mi_rrdel)

                0
count   20.000000
mean    82.350000
std     14.027323
min     61.000000
25%     72.750000
50%     79.000000
75%     89.250000
max    110.000000
[93, 104, 81, 70, 103, 110, 65, 76, 88, 72, 88, 85, 100, 77, 84, 76, 77, 73, 61, 64]

## Rajasthan Royals has scored 100 runs on average of 82 balls .Fastest balls to reach 100 is 61 balls and slowest balls to reach 100 is 110 balls

In [178]:
RR_balls = pd.Series([93, 104, 81, 70, 103, 110, 65, 76, 88, 72, 88, 85, 100, 77, 84, 76, 77, 73, 61, 64])

In [179]:
RR_balls

0      93
1     104
2      81
3      70
4     103
5     110
6      65
7      76
8      88
9      72
10     88
11     85
12    100
13     77
14     84
15     76
16     77
17     73
18     61
19     64
dtype: int64

In [176]:
MI_balls = pd.Series([95, 98, 96, 67, 90, 124, 99, 74, 75, 113, 72, 76, 77, 54, 98, 83, 64, 76, 69, 72])

In [177]:
MI_balls

0      95
1      98
2      96
3      67
4      90
5     124
6      99
7      74
8      75
9     113
10     72
11     76
12     77
13     54
14     98
15     83
16     64
17     76
18     69
19     72
dtype: int64

In [180]:
RR_balls - MI_balls

0     -2
1      6
2    -15
3      3
4     13
5    -14
6    -34
7      2
8     13
9    -41
10    16
11     9
12    23
13    23
14   -14
15    -7
16    13
17    -3
18    -8
19    -8
dtype: int64

## Number of Balls  More or Less to score 100 as compared to Mumbai Indians

# Bowler Lethality Score (BLS)

In [207]:
Bowler_wicket = mi_rrdel[mi_rrdel["dismissal_kind"] != "run out"]
Bowler_wicket= Bowler_wicket[["bowler","player_dismissed"]]
Bowler_wicket = Bowler_wicket.dropna()
Bowler_wicket= Bowler_wicket.groupby("bowler")["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
Bowler_wicket.columns=["bowler","Wickets"]
Bowler_wicket.iloc[:20,:]

             bowler  Wickets
0       DS Kulkarni       17
1        SL Malinga       11
2         SR Watson       11
3        KA Pollard       10
4   Harbhajan Singh       10
5          J Archer        9
6          MM Patel        8
7         JJ Bumrah        7
8        SK Trivedi        7
9          SK Warne        7
10        KK Cooper        7
11        STR Binny        6
12          S Gopal        6
13      JP Faulkner        6
14          A Singh        5
15        KH Pandya        4
16       JD Unadkat        4
17        HH Pandya        4
18    Sohail Tanvir        4
19   MJ McClenaghan        4

In [208]:
Bowler_dotball= mi_rrdel.groupby("bowler")["total_runs"].agg(lambda x: (x==0).sum()).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Bowler_dotball.columns=["bowler","balls"]
Bowler_dotball

             bowler  balls
0       DS Kulkarni    127
1        SL Malinga    113
2   Harbhajan Singh     99
3         SR Watson     79
4        SK Trivedi     63
..              ...    ...
70     Pankaj Singh      2
71         AM Nayar      2
72          R Parag      2
73          C Nanda      2
74        RA Jadeja      0

[75 rows x 2 columns]

In [210]:
Bowler_dotball['balls'] = Bowler_dotball['balls'].apply(lambda x: x*2)

In [213]:
Bowler_dotball

             bowler  balls
0       DS Kulkarni    254
1        SL Malinga    226
2   Harbhajan Singh    198
3         SR Watson    158
4        SK Trivedi    126
..              ...    ...
70     Pankaj Singh      4
71         AM Nayar      4
72          R Parag      4
73          C Nanda      4
74        RA Jadeja      0

[75 rows x 2 columns]

In [212]:
Bowler_dot_wicket= pd.merge(Bowler_wicket,Bowler_dotball,on="bowler")
Bowler_dot_wicket

               bowler  Wickets  balls
0         DS Kulkarni       17    254
1          SL Malinga       11    226
2           SR Watson       11    158
3          KA Pollard       10     78
4     Harbhajan Singh       10    198
5            J Archer        9     90
6            MM Patel        8    108
7           JJ Bumrah        7    102
8          SK Trivedi        7    126
9            SK Warne        7     92
10          KK Cooper        7     86
11          STR Binny        6     58
12            S Gopal        6     70
13        JP Faulkner        6    100
14            A Singh        5     58
15          KH Pandya        4     44
16         JD Unadkat        4     54
17          HH Pandya        4     46
18      Sohail Tanvir        4     54
19     MJ McClenaghan        4     50
20          RD Chahar        4     32
21            A Nehra        3     42
22            RR Raje        3     22
23            J Botha        3     46
24            PP Ojha        3     90
25           DJ Bravo        3     24
26       Ankit Sharma        3     30
27      R Vinay Kumar        2     34
28      ST Jayasuriya        2     22
29            SW Tait        2     28
30           PV Tambe        2     26
31         TG Southee        2     42
32         A Chandila        2     16
33         K Santokie        2     12
34          BA Stokes        2     30
35       CRD Fernando        2     18
36           A Uniyal        2     12
37     AD Mascarenhas        2     14
38         AL Menaria        2     22
39         MG Johnson        2     66
40             Z Khan        2     46
41            GB Hogg        2     36
42          CH Morris        1     24
43            C Nanda        1      4
44         SM Pollock        1     32
45            AP Dole        1     12
46          J Suchith        1     24
47         AG Murtaza        1     42
48           J Theron        1      8
49          AA Chavan        1     88
50          R Sathish        1     12
51  Mustafizur Rahman        1     12

In [214]:
total_over= mi_rrdel[mi_rrdel["extra_runs"]==0][["ball","bowler"]] # here extra balls I am not considering include in over
total_over= total_over.groupby("bowler")["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
total_over["Overs"]=(total_over["ball"]/6)
total_over

             bowler  ball      Overs
0        SL Malinga   299  49.833333
1       DS Kulkarni   291  48.500000
2   Harbhajan Singh   262  43.666667
3         SR Watson   194  32.333333
4        SK Trivedi   189  31.500000
..              ...   ...        ...
70          C Nanda     6   1.000000
71        RA Jadeja     6   1.000000
72         DJ Hooda     6   1.000000
73    L Livingstone     6   1.000000
74      Kamran Khan     6   1.000000

[75 rows x 3 columns]

In [215]:
Bowler_Runs= mi_rrdel.groupby("bowler")["total_runs"].sum().reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Bowler_Runs.columns=["bowler","Total_runs_given"]
Bowler_Runs

             bowler  Total_runs_given
0        SL Malinga               409
1       DS Kulkarni               408
2   Harbhajan Singh               346
3         SR Watson               296
4        SK Trivedi               242
..              ...               ...
70    L Livingstone                13
71      Kamran Khan                10
72          C Nanda                 4
73         AM Nayar                 4
74         DJ Hooda                 3

[75 rows x 2 columns]

In [216]:
boundary =mi_rrdel[mi_rrdel['total_runs'] == 4]
boundary.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
20033,86,1,Rajasthan Royals,Mumbai Indians,2,4,SA Asnodkar,GC Smith,A Nehra,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0
20040,86,1,Rajasthan Royals,Mumbai Indians,3,5,SA Asnodkar,YK Pathan,SM Pollock,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0

In [217]:
mi_rrdel.groupby("bowler")["total_runs"].sum().reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Bowler_Runs.columns=["bowler","Total_runs_given"]
Bowler_Runs

             bowler  Total_runs_given
0        SL Malinga               409
1       DS Kulkarni               408
2   Harbhajan Singh               346
3         SR Watson               296
4        SK Trivedi               242
..              ...               ...
70    L Livingstone                13
71      Kamran Khan                10
72          C Nanda                 4
73         AM Nayar                 4
74         DJ Hooda                 3

[75 rows x 2 columns]

In [218]:
four = []
six = []
for i in mi_rrdel['batsman_runs']:
    if i == 4 or i == 5:
         four.append(1)
         six.append(0)
    elif i == 6 or i == 7:
        four.append(0)
        six.append(1)
    else:
        four.append(0)
        six.append(0)
      
    
mi_rrdel['four'] = four
mi_rrdel['six'] = six

In [219]:
mi_rrdel

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
20024,86,1,Rajasthan Royals,Mumbai Indians,1,1,GC Smith,SA Asnodkar,SM Pollock,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
20025,86,1,Rajasthan Royals,Mumbai Indians,1,2,GC Smith,SA Asnodkar,SM Pollock,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
20026,86,1,Rajasthan Royals,Mumbai Indians,1,3,SA Asnodkar,GC Smith,SM Pollock,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
20027,86,1,Rajasthan Royals,Mumbai Indians,1,4,GC Smith,SA Asnodkar,SM Pollock,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
20028,86,1,Rajasthan Royals,Mumbai Indians,1,5,GC Smith,SA Asnodkar,SM Pollock,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173493,11327,2,Rajasthan Royals,Mumbai Indians,19,3,SPD Smith,STR Binny,JJ Bumrah,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
173494,11327,2,Rajasthan Royals,Mumbai Indians,19,4,STR Binny,SPD Smith,JJ Bumrah,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
173495,11327,2,Rajasthan Royals,Mumbai Indians,19,5,SPD Smith,STR Binny,JJ Bumrah,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
173496,11327,2,Rajasthan Royals,Mumbai Indians,19,6,STR Binny,SPD Smith,JJ Bumrah,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
173497,11327,2,Rajasthan Royals,Mumbai Indians,20,1,STR Binny,SPD Smith,SL Malinga,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0

In [220]:
boundary_bowler= mi_rrdel[mi_rrdel["four"]!=0][["ball","bowler"]] # here taking boundary off the bowler/boundary conceived I am not considering include in over
boundary_bowler= boundary_bowler.groupby("bowler")["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)

In [221]:
boundary_bowler

             bowler  ball
0        SL Malinga    41
1       DS Kulkarni    37
2         SR Watson    36
3   Harbhajan Singh    28
4       JP Faulkner    20
..              ...   ...
63         DR Smith     2
64       K Santokie     2
65    Sohail Tanvir     2
66     CRD Fernando     1
67        JP Duminy     1

[68 rows x 2 columns]

In [222]:
# subtracting total wickets+total dot ball - total boundary in ball
##balls for dot balls
#ball for boundary ball

In [232]:
bowler_lethal = pd.merge(Bowler_dot_wicket,boundary_bowler)

In [233]:
bowler_lethal.head(1)

        bowler  Wickets  balls  ball
0  DS Kulkarni       17    254    37

In [234]:
bowler_lethal['Boundary_Ball_Diff'] = bowler_lethal['balls'] - bowler_lethal['ball']
bowler_lethal.head(1)

        bowler  Wickets  balls  ball  Boundary_Ball_Diff
0  DS Kulkarni       17    254    37                 217

In [243]:
Bowler_dotballs= mi_rrdel.groupby("bowler")["total_runs"].agg(lambda x: (x==0).sum()).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Bowler_dotballs.columns=["bowler","balls"]
Bowler_dotballs

             bowler  balls
0       DS Kulkarni    127
1        SL Malinga    113
2   Harbhajan Singh     99
3         SR Watson     79
4        SK Trivedi     63
..              ...    ...
70     Pankaj Singh      2
71         AM Nayar      2
72          R Parag      2
73          C Nanda      2
74        RA Jadeja      0

[75 rows x 2 columns]

In [244]:
##Bowler_dotballs = dot ball*2.5
##Bowler_dotball = dot ball *2.0

In [245]:
Bowler_dotballs['balls'] = Bowler_dotballs['balls'].apply(lambda x: x*2.5)

In [246]:
Bowler_dotballs

             bowler  balls
0       DS Kulkarni  317.5
1        SL Malinga  282.5
2   Harbhajan Singh  247.5
3         SR Watson  197.5
4        SK Trivedi  157.5
..              ...    ...
70     Pankaj Singh    5.0
71         AM Nayar    5.0
72          R Parag    5.0
73          C Nanda    5.0
74        RA Jadeja    0.0

[75 rows x 2 columns]

In [247]:
Lethal_balls = pd.merge(total_over,Bowler_dotballs,on='bowler')
Lethal_balls

             bowler  ball      Overs  balls
0        SL Malinga   299  49.833333  282.5
1       DS Kulkarni   291  48.500000  317.5
2   Harbhajan Singh   262  43.666667  247.5
3         SR Watson   194  32.333333  197.5
4        SK Trivedi   189  31.500000  157.5
..              ...   ...        ...    ...
70          C Nanda     6   1.000000    5.0
71        RA Jadeja     6   1.000000    0.0
72         DJ Hooda     6   1.000000    7.5
73    L Livingstone     6   1.000000    7.5
74      Kamran Khan     6   1.000000    7.5

[75 rows x 4 columns]

In [249]:
Lethal_balls['Dot_Ball_Diff'] = Lethal_balls['ball'] - Lethal_balls['balls']
Lethal_balls.head(10)

            bowler  ball      Overs  balls  Dot_Ball_Diff
0       SL Malinga   299  49.833333  282.5           16.5
1      DS Kulkarni   291  48.500000  317.5          -26.5
2  Harbhajan Singh   262  43.666667  247.5           14.5
3        SR Watson   194  32.333333  197.5           -3.5
4       SK Trivedi   189  31.500000  157.5           31.5
5         SK Warne   146  24.333333  115.0           31.0
6        JJ Bumrah   130  21.666667  127.5            2.5
7          PP Ojha   129  21.500000  112.5           16.5
8        KK Cooper   128  21.333333  107.5           20.5
9          S Gopal   127  21.166667   87.5           39.5

In [255]:
BLS = pd.merge(bowler_lethal,Lethal_balls,on='bowler',how ='left')
BLS.head(10)

,bowler,Wickets,balls_x,ball_x,Boundary_Ball_Diff,ball_y,Overs,balls_y,Dot_Ball_Diff
0,DS Kulkarni,17,254,37,217,291,48.500000,317.5,-26.5
1,SL Malinga,11,226,41,185,299,49.833333,282.5,16.5
2,SR Watson,11,158,36,122,194,32.333333,197.5,-3.5
3,KA Pollard,10,78,17,61,118,19.666667,97.5,20.5
4,Harbhajan Singh,10,198,28,170,262,43.666667,247.5,14.5
5,J Archer,9,90,8,82,93,15.500000,112.5,-19.5
6,MM Patel,8,108,12,96,104,17.333333,135.0,-31.0
7,JJ Bumrah,7,102,16,86,130,21.666667,127.5,2.5
8,SK Trivedi,7,126,14,112,189,31.500000,157.5,31.5
9,SK Warne,7,92,15,77,146,24.333333,115.0,31.0

In [256]:
BLS['BLS'] = (BLS['Boundary_Ball_Diff']/BLS['Dot_Ball_Diff'])
BLS = BLS[['bowler','BLS']]
BLS = BLS.sort_values(by='BLS',ascending=False).reset_index(drop=True)
BLS

               bowler        BLS
0            DJ Bravo        inf
1         JP Faulkner  80.000000
2           JJ Bumrah  34.400000
3      MJ McClenaghan  28.000000
4             GB Hogg  14.500000
5          SM Pollock  13.500000
6     Harbhajan Singh  11.724138
7          SL Malinga  11.212121
8           BA Stokes   7.428571
9             J Botha   7.272727
10         AL Menaria   7.200000
11            PP Ojha   4.424242
12          RD Chahar   4.142857
13          STR Binny   4.086957
14         SK Trivedi   3.555556
15          KK Cooper   3.512195
16         KA Pollard   2.975610
17            AP Dole   2.666667
18       Ankit Sharma   2.666667
19           SK Warne   2.483871
20          HH Pandya   2.193548
21            S Gopal   1.620253
22         JD Unadkat   1.584906
23            SW Tait   1.416667
24     AD Mascarenhas   1.384615
25            RR Raje   1.333333
26         K Santokie   1.250000
27          KH Pandya   1.206897
28          J Suchith   1.111111
29  Mustafizur Rahman   1.000000
30           A Uniyal   0.888889
31      ST Jayasuriya   0.878049
32           PV Tambe   0.837209
33          R Sathish   0.700000
34           J Theron   0.307692
35      Sohail Tanvir  -2.039216
36            A Nehra  -2.114286
37          CH Morris  -2.714286
38          AA Chavan  -2.724138
39         MG Johnson  -2.971429
40           MM Patel  -3.096774
41             Z Khan  -4.000000
42           J Archer  -4.205128
43            A Singh  -4.320000
44         TG Southee  -6.888889
45        DS Kulkarni  -8.188679
46         AG Murtaza  -8.666667
47       CRD Fernando -34.000000
48          SR Watson -34.857143
49      R Vinay Kumar -52.000000