In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as py
import cufflinks as cf
%matplotlib inline
%matplotlib notebook

In [2]:
from plotly.offline import iplot
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

In [3]:
delivers = pd.read_csv('D:\datasets\deliveries.csv')

In [4]:
delivers.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
delivers.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [6]:
delivers.shape

(179078, 21)

In [7]:
delivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [8]:
matches = pd.read_csv('D:\datasets\matches.csv')

In [9]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [10]:
matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [11]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [12]:
matches.shape

(756, 18)

In [13]:
matches["result"].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [14]:
tie = matches[matches['result'] == 'tie']
tie

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [15]:
no_result =matches[matches['result'] == 'no result']
no_result

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [16]:
matches_result = matches[['team1','team2','winner']]
matches_result.head()

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [17]:
matches_result['lost'] = matches_result.apply(lambda x:   (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis = 1)

In [18]:
matches_result.head(10)

,team1,team2,winner,lost
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils
5,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,Gujarat Lions
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Kolkata Knight Riders
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Royal Challengers Bangalore
8,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,Rising Pune Supergiant
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Sunrisers Hyderabad

In [19]:
wins = matches_result['winner'].value_counts()
wins

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                  10
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [20]:
lost = matches_result['lost'].value_counts()
lost

Royal Challengers Bangalore    95
Kings XI Punjab                94
Delhi Daredevils               94
Kolkata Knight Riders          86
Mumbai Indians                 78
Rajasthan Royals               70
Chennai Super Kings            64
Sunrisers Hyderabad            50
Deccan Chargers                46
Pune Warriors                  33
Gujarat Lions                  17
Rising Pune Supergiants         9
Kochi Tuskers Kerala            8
Delhi Capitals                  6
Rising Pune Supergiant          6
Name: lost, dtype: int64

In [21]:
wins.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Winning Count')

In [22]:
lost.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Losing Count')

# DC VS RCB HEAD TO HEAD ANALYSIS

In [23]:
def get_dcvsrcb(team1,team2):
    teams =['Royal Challengers Bangalore','Delhi Daredevils']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [24]:
index = [ ]

for row in matches.iterrows():
    flag = get_dcvsrcb(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

21

In [25]:
rcb_dd = matches[index]

In [26]:
rcb_dd.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
54,55,2017,Delhi,2017-05-14,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,10,0,HV Patel,Feroz Shah Kotla,CK Nandan,C Shamshuddin,NaN
75,76,2008,Delhi,2008-04-30,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Delhi Daredevils,10,0,GD McGrath,Feroz Shah Kotla,Aleem Dar,I Shivram,NaN
103,104,2008,Bangalore,2008-05-19,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,5,SP Goswami,M Chinnaswamy Stadium,SJ Davis,GA Pratapkumar,NaN
128,129,2009,Port Elizabeth,2009-04-26,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Delhi Daredevils,0,6,TM Dilshan,St George's Park,S Asnani,BG Jerling,NaN

In [27]:
rcb_dd.shape

(21, 18)

In [28]:
def get_dcvsrcb(team1,team2):
    teams =['Royal Challengers Bangalore','Delhi Capitals']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [29]:
index = [ ]

for row in matches.iterrows():
    flag = get_dcvsrcb(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

2

In [30]:
rcb_dc = matches[index]

In [31]:
dc_rcb = pd.concat([rcb_dc,rcb_dd])

In [32]:
dc_rcb.shape

(23, 18)

In [33]:
dc_rcb

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
715,11311,2019,Bengaluru,07/04/19,Royal Challengers Bangalore,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,4,K Rabada,M. Chinnaswamy Stadium,S Ravi,Yeshwant Barde,O Nandan
741,11337,2019,Delhi,28/04/19,Delhi Capitals,Royal Challengers Bangalore,Delhi Capitals,bat,normal,0,Delhi Capitals,16,0,S Dhawan,Feroz Shah Kotla Ground,Bruce Oxenford,KN Ananthapadmanabhan,C Shamshuddin
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
54,55,2017,Delhi,2017-05-14,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,10,0,HV Patel,Feroz Shah Kotla,CK Nandan,C Shamshuddin,NaN
75,76,2008,Delhi,2008-04-30,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Delhi Daredevils,10,0,GD McGrath,Feroz Shah Kotla,Aleem Dar,I Shivram,NaN
103,104,2008,Bangalore,2008-05-19,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,5,SP Goswami,M Chinnaswamy Stadium,SJ Davis,GA Pratapkumar,NaN
128,129,2009,Port Elizabeth,2009-04-26,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Delhi Daredevils,0,6,TM Dilshan,St George's Park,S Asnani,BG Jerling,NaN
166,167,2009,Johannesburg,2009-05-19,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils,bat,normal,0,Royal Challengers Bangalore,0,7,JH Kallis,New Wanderers Stadium,IL Howell,RB Tiffin,NaN
196,197,2010,Bangalore,2010-03-25,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Delhi Daredevils,17,0,KM Jadhav,M Chinnaswamy Stadium,BG Jerling,RE Koertzen,NaN
208,209,2010,Delhi,2010-04-04,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils,bat,normal,0,Delhi Daredevils,37,0,PD Collingwood,Feroz Shah Kotla,BF Bowden,M Erasmus,NaN
262,263,2011,Delhi,2011-04-26,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,3,V Kohli,Feroz Shah Kotla,S Asnani,RJ Tucker,NaN
311,312,2012,Bangalore,2012-04-07,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,normal,0,Royal Challengers Bangalore,20,0,AB de Villiers,M Chinnaswamy Stadium,S Asnani,S Ravi,NaN
371,372,2012,Delhi,2012-05-17,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,normal,0,Royal Challengers Bangalore,21,0,CH Gayle,Feroz Shah Kotla,HDPK Dharmasena,C Shamshuddin,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
437,438,2013,Delhi,2013-05-10,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,normal,0,Royal Challengers Bangalore,4,0,JD Unadkat,Feroz Shah Kotla,NJ Llong,K Srinath,NaN
458,459,2014,Sharjah,2014-04-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,8,YS Chahal,Sharjah Cricket Stadium,Aleem Dar,S Ravi,NaN
494,495,2014,Bangalore,2014-05-13,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,normal,0,Royal Challengers Bangalore,16,0,Yuvraj Singh,M Chinnaswamy Stadium,K Srinath,RJ Tucker,NaN
542,543,2015,Delhi,2015-04-26,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,10,VR Aaron,Feroz Shah Kotla,M Erasmus,S Ravi,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
586,587,2016,Bangalore,2016-04-17,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,7,Q de Kock,M Chinnaswamy Stadium,VA Kulkarni,A Nand Kishore,NaN
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
654,7912,2018,Bengaluru,21/04/18,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,AB de Villiers,M Chinnaswamy Stadium,Chris Gaffaney,O Nandan,A Nanda Kishore
680,7938,2018,Delhi,12/05/18,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,5,AB de Villiers,Feroz Shah Kotla,Kumar Dharmasena,Anil Chaudhary,K Ananthapadmanabhan

In [34]:
dc_rcb.shape

(23, 18)

In [35]:
dc_rcb['team2'].unique()

array(['Delhi Capitals', 'Royal Challengers Bangalore',
       'Delhi Daredevils'], dtype=object)

In [36]:
dc_rcb['dl_applied']

715    0
741    0
4      0
54     0
75     0
103    0
128    0
166    0
196    0
208    0
262    0
311    0
371    0
400    0
437    0
458    0
494    0
542    0
570    0
586    0
631    0
654    0
680    0
Name: dl_applied, dtype: int64

In [37]:
dc_rcb =dc_rcb.drop('dl_applied',axis =1)

# Changing Delhi Daredevils and Delhi Capitals as DC

In [38]:
oldname = ['Royal Challengers Bangalore', 'Delhi Daredevils','Delhi Capitals']
newname = ['RCB','DC','DC']
dc_rcb = dc_rcb.replace(oldname,newname)

In [39]:
dc_rcb['team2'].unique()

array(['DC', 'RCB'], dtype=object)

# Head to Head Match Count

In [40]:
dc_rcb['winner'].value_counts().iplot(kind='bar')

In [41]:
team_win= dc_rcb[['team1','team2','toss_winner','toss_decision','winner']]
team_win.head()

    team1 team2 toss_winner toss_decision winner
715   RCB    DC          DC         field     DC
741    DC   RCB          DC           bat     DC
4     RCB    DC         RCB           bat    RCB
54    RCB    DC         RCB           bat    RCB
75     DC   RCB         RCB         field     DC

In [42]:
team_decision= dc_rcb[['toss_winner','toss_decision','winner']]
team_decision.head()

    toss_winner toss_decision winner
715          DC         field     DC
741          DC           bat     DC
4           RCB           bat    RCB
54          RCB           bat    RCB
75          RCB         field     DC

In [43]:
corr = dc_rcb.corr()

In [44]:
sns.heatmap(corr,annot = True)

In [45]:
dc_rcb['venue'].value_counts()

M Chinnaswamy Stadium                               9
Feroz Shah Kotla                                    8
M. Chinnaswamy Stadium                              1
St George's Park                                    1
Shaheed Veer Narayan Singh International Stadium    1
Sharjah Cricket Stadium                             1
New Wanderers Stadium                               1
Feroz Shah Kotla Ground                             1
Name: venue, dtype: int64

In [46]:
venue= dc_rcb[['toss_winner','toss_decision','venue','winner']]
venue.head(18)

    toss_winner toss_decision                    venue winner
715          DC         field   M. Chinnaswamy Stadium     DC
741          DC           bat  Feroz Shah Kotla Ground     DC
4           RCB           bat    M Chinnaswamy Stadium    RCB
54          RCB           bat         Feroz Shah Kotla    RCB
75          RCB         field         Feroz Shah Kotla     DC
103          DC         field    M Chinnaswamy Stadium     DC
128         RCB           bat         St George's Park     DC
166          DC           bat    New Wanderers Stadium    RCB
196         RCB         field    M Chinnaswamy Stadium     DC
208          DC           bat         Feroz Shah Kotla     DC
262         RCB         field         Feroz Shah Kotla    RCB
311          DC         field    M Chinnaswamy Stadium    RCB
371          DC         field         Feroz Shah Kotla    RCB
400         RCB         field    M Chinnaswamy Stadium    RCB
437          DC         field         Feroz Shah Kotla    RCB
458         RCB         field  Sharjah Cricket Stadium    RCB
494          DC         field    M Chinnaswamy Stadium    RCB
542         RCB         field         Feroz Shah Kotla    RCB

In [47]:
toss_win_decision= dc_rcb[['toss_winner','toss_decision']]
toss_win_decision.head(20)

    toss_winner toss_decision
715          DC         field
741          DC           bat
4           RCB           bat
54          RCB           bat
75          RCB         field
103          DC         field
128         RCB           bat
166          DC           bat
196         RCB         field
208          DC           bat
262         RCB         field
311          DC         field
371          DC         field
400         RCB         field
437          DC         field
458         RCB         field
494          DC         field
542         RCB         field
570         RCB         field
586          DC         field

# Head to Head Win based tossed decision playing 1st or 2nd Inning

In [48]:
team_decision.groupby(['toss_winner','winner'])['toss_decision'].value_counts()

toss_winner  winner  toss_decision
DC           DC      field            3
                     bat              2
             RCB     field            4
                     bat              1
RCB          DC      field            2
                     bat              1
             RCB     field            7
                     bat              2
Name: toss_decision, dtype: int64

In [49]:
delivers['batting_team'].value_counts()

Mumbai Indians                 22619
Kings XI Punjab                20931
Royal Challengers Bangalore    20908
Kolkata Knight Riders          20858
Chennai Super Kings            19762
Delhi Daredevils               18786
Rajasthan Royals               17292
Sunrisers Hyderabad            12908
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Delhi Capitals                  1909
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [50]:
delivers['batting_team'].value_counts().iplot(kind ='bar',xTitle = 'Team',yTitle = 'Runs',title ='Runs scored by Teams in IPL 2008-19')

In [51]:
def get_ddvsrcb(batting_team,bowling_team):
    teams =['Royal Challengers Bangalore','Delhi Daredevils']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [52]:
index = [ ]

for row in delivers.iterrows():
    flag = get_ddvsrcb(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

4955

In [53]:
rcb_dd_del = delivers[index]

In [54]:
rcb_dd_del.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
960,5,1,Royal Challengers Bangalore,Delhi Daredevils,1,1,CH Gayle,SR Watson,Z Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
961,5,1,Royal Challengers Bangalore,Delhi Daredevils,1,2,SR Watson,CH Gayle,Z Khan,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
962,5,1,Royal Challengers Bangalore,Delhi Daredevils,1,3,SR Watson,CH Gayle,Z Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
963,5,1,Royal Challengers Bangalore,Delhi Daredevils,1,4,SR Watson,CH Gayle,Z Khan,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
964,5,1,Royal Challengers Bangalore,Delhi Daredevils,1,5,SR Watson,CH Gayle,Z Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
965,5,1,Royal Challengers Bangalore,Delhi Daredevils,1,6,SR Watson,CH Gayle,Z Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
966,5,1,Royal Challengers Bangalore,Delhi Daredevils,2,1,SR Watson,CH Gayle,CH Morris,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
967,5,1,Royal Challengers Bangalore,Delhi Daredevils,2,2,SR Watson,CH Gayle,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
968,5,1,Royal Challengers Bangalore,Delhi Daredevils,2,3,SR Watson,CH Gayle,CH Morris,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
969,5,1,Royal Challengers Bangalore,Delhi Daredevils,2,4,CH Gayle,SR Watson,CH Morris,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [55]:
rcb_dd_del['match_id'].unique()

array([   5,   55,   76,  104,  129,  167,  197,  209,  263,  312,  372,
        401,  438,  459,  495,  543,  571,  587,  632, 7912, 7938],
      dtype=int64)

In [56]:
def get_rcbvsdc(batting_team,bowling_team):
    teams =['Royal Challengers Bangalore','Delhi Capitals']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [57]:
index = [ ]

for row in delivers.iterrows():
    flag = get_rcbvsdc(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

488

In [58]:
rcb_dc_del = delivers[index]

In [59]:
rcb_dc_del.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
169398,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,1,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
169399,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,2,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
169400,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,3,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
169401,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,4,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
169402,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,5,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
169403,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,6,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
169404,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,6,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
169405,11311,1,Royal Challengers Bangalore,Delhi Capitals,2,1,V Kohli,PA Patel,CH Morris,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
169406,11311,1,Royal Challengers Bangalore,Delhi Capitals,2,2,V Kohli,PA Patel,CH Morris,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
169407,11311,1,Royal Challengers Bangalore,Delhi Capitals,2,3,PA Patel,V Kohli,CH Morris,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [60]:
rcb_dc_del['match_id'].unique()

array([11311, 11337], dtype=int64)

In [61]:
rcb_dc_del = pd.concat([rcb_dc_del,rcb_dd_del])

In [62]:
rcb_dc_del.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
169398,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,1,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
169399,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,2,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
169400,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,3,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
169401,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,4,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
169402,11311,1,Royal Challengers Bangalore,Delhi Capitals,1,5,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [63]:
rcb_dc_del['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Delhi Capitals',
       'Delhi Daredevils'], dtype=object)

In [64]:
oldname = ['Royal Challengers Bangalore', 'Delhi Daredevils','Delhi Capitals']
newname = ['RCB', 'DC', 'DC']
rcb_dc_del = rcb_dc_del.replace(oldname, newname )

In [65]:
rcb_dc_del['batting_team'].unique()

array(['RCB', 'DC'], dtype=object)

# Leading Runscorer in DC vs RCB Head to Head Matches

In [66]:
rcb_dc_del['batsman'].value_counts()[:40].iplot(kind='bar')

# BATSMAN with above 130 strike rate and more than 2 boundaries

In [67]:
Batsman_score = rcb_dc_del.groupby(["batsman"])['batsman_runs'].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

            batsman  batsman_runs
0           V Kohli           829
1    AB de Villiers           561
2          CH Gayle           313
3           RR Pant           282
4           SS Iyer           264
..              ...           ...
118       YS Chahal             1
119    Pankaj Singh             1
120        TS Mills             0
121        HV Patel             0
122      MN Samuels             0

[123 rows x 2 columns]

In [68]:
Batsman_Ball_faced=rcb_dc_del.groupby(['batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

            batsman  ball
0           V Kohli   603
1    AB de Villiers   381
2          CH Gayle   220
3           SS Iyer   217
4         JH Kallis   198
..              ...   ...
118        A Kumble     2
119    Pankaj Singh     1
120      MN Samuels     1
121        HV Patel     1
122       YS Chahal     1

[123 rows x 2 columns]

In [69]:
Batsman_fours=rcb_dc_del.groupby(["match_id",'batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["match_id","batsman", "No. of 4s"]
Batsman_fours

     match_id            batsman  No. of 4s
0         587          Q de Kock         15
1          76          G Gambhir         11
2         438            V Kohli         10
3        7912     AB de Villiers         10
4         571          Q de Kock          9
..        ...                ...        ...
337       312           HV Patel          0
338       312           M Morkel          0
339       312          SS Tiwary          0
340       312           V Sehwag          0
341     11337  Washington Sundar          0

[342 rows x 3 columns]

In [70]:
Batsman_score_fours = pd.merge(Batsman_score,Batsman_fours,on='batsman')
Batsman_score_fours

          batsman  batsman_runs  match_id  No. of 4s
0         V Kohli           829       438         10
1         V Kohli           829       372          9
2         V Kohli           829       263          8
3         V Kohli           829      7938          7
4         V Kohli           829       401          7
..            ...           ...       ...        ...
337     YS Chahal             1     11311          0
338  Pankaj Singh             1       129          0
339      TS Mills             0         5          0
340      HV Patel             0       312          0
341    MN Samuels             0        55          0

[342 rows x 4 columns]

In [71]:
Batsman_strike_rate= pd.merge(Batsman_score,Batsman_Ball_faced,on="batsman",how='outer')
# here I am merging two data frames batsman run and batsman ball to get strike rate
Batsman_strike_rate= Batsman_strike_rate[Batsman_strike_rate["batsman_runs"]>=50]
# here I am taking only batsmen habing more than 500 runs under their belts
Batsman_strike_rate["strike_rate"]= (Batsman_strike_rate["batsman_runs"]/Batsman_strike_rate["ball"])*100
# formula for strike rate
Batsman_strike_rate= Batsman_strike_rate[["batsman","strike_rate"]]
# removing other coloumns from here only keeping batsman and strike rate
Batsman_strike_rate=Batsman_strike_rate.sort_values(by="strike_rate",ascending=False).reset_index(drop=True)
Batsman_strike_rate.iloc[:20,:]

           batsman  strike_rate
0     Yuvraj Singh   179.729730
1        IK Pathan   177.358491
2   PD Collingwood   159.574468
3          RR Pant   155.801105
4         V Sehwag   154.400000
5        Q de Kock   153.529412
6   AB de Villiers   147.244094
7           P Shaw   147.222222
8      LRPL Taylor   146.428571
9         KL Rahul   142.857143
10       KM Jadhav   142.696629
11        CH Gayle   142.272727
12       JP Duminy   140.277778
13        S Dhawan   138.823529
14         V Kohli   137.479270
15      MV Boucher   136.206897
16       DA Warner   135.443038
17     AB McDonald   130.769231
18        PA Patel   129.896907
19       G Gambhir   128.148148

# Rabada First wicket ball

In [72]:
rcb_dc_del['bowler'].unique()

array(['I Sharma', 'CH Morris', 'K Rabada', 'AR Patel', 'S Lamichhane',
       'TG Southee', 'N Saini', 'YS Chahal', 'P Negi', 'Mohammed Siraj',
       'M Ali', 'UT Yadav', 'Washington Sundar', 'MP Stoinis', 'S Dube',
       'A Mishra', 'S Rutherford', 'Z Khan', 'PJ Cummins', 'S Nadeem',
       'CR Brathwaite', 'B Stanlake', 'Iqbal Abdulla', 'TS Mills',
       'SR Watson', 'Mohammed Shami', 'CJ Anderson', 'Avesh Khan',
       'HV Patel', 'TM Head', 'DW Steyn', 'P Kumar', 'R Vinay Kumar',
       'JH Kallis', 'V Kohli', 'SB Joshi', 'GD McGrath', 'Mohammad Asif',
       'VY Mahesh', 'DL Vettori', 'R Bhatia', 'Shoaib Malik', 'V Sehwag',
       'PJ Sangwan', 'MF Maharoof', 'TM Dilshan', 'B Akhil', 'A Kumble',
       'DP Nannes', 'A Nehra', 'Pankaj Singh', 'KP Appanna',
       'RE van der Merwe', 'AM Salvi', 'AB McDonald', 'Y Nagar',
       'A Mithun', 'KP Pietersen', 'CL White', 'S Aravind', 'CH Gayle',
       'J Syed Mohammad', 'AB Dinda', 'IK Pathan', 'M Morkel', 'JR Hopes',
       'DAJ Bracewell', 'GJ Maxwell', 'M Muralitharan', 'VR Aaron',
       'AD Russell', 'Y Venugopal Rao', 'P Parameswaran', 'R Rampaul',
       'RP Singh', 'JD Unadkat', 'S Kaul', 'MC Henriques', 'M Kartik',
       'MA Starc', 'JA Morkel', 'Yuvraj Singh', 'JP Duminy', 'WD Parnell',
       'R Sharma', 'JDS Neesham', 'R Shukla', 'Imran Tahir', 'AN Ahmed',
       'D Wiese', 'NM Coulter-Nile', 'DJ Muthuswami', 'AD Mathews',
       'J Yadav', 'Parvez Rasool', 'STR Binny', 'CJ Jordan', 'CR Woakes',
       'TA Boult', 'R Tewatia', 'C de Grandhomme', 'J Dala'], dtype=object)

In [73]:
name = 'K Rabada'
Rabada = delivers[delivers['bowler'] == name]
Rabada.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
5512,24,1,Mumbai Indians,Delhi Daredevils,1,1,PA Patel,JC Buttler,K Rabada,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN

In [74]:
Rabada['bowling_team'].unique()

array(['Delhi Daredevils', 'Delhi Capitals'], dtype=object)

In [75]:
Rabada['match_id'].unique()

array([   24,    31,    35,    39,    41,    44, 11139, 11141, 11146,
       11149, 11152, 11311, 11317, 11321, 11325, 11328, 11331, 11337],
      dtype=int64)

In [76]:
Rabada['total_runs'].sum()

599

In [77]:
Rabada_wicket = Rabada[Rabada["dismissal_kind"] != "run out"]
Rabada_wicket= Rabada_wicket[["match_id","bowler","player_dismissed"]]
Rabada_wicket = Rabada_wicket.dropna()
Rabada_wicket= Rabada_wicket.groupby(["match_id","bowler"])["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
Rabada_wicket.columns=["match_id","bowler","Wickets"]
Rabada_wicket

    match_id    bowler  Wickets
0      11311  K Rabada        4
1      11321  K Rabada        4
2         31  K Rabada        2
3         41  K Rabada        2
4      11139  K Rabada        2
5      11149  K Rabada        2
6      11317  K Rabada        2
7      11325  K Rabada        2
8      11328  K Rabada        2
9      11331  K Rabada        2
10     11337  K Rabada        2
11        24  K Rabada        1
12        44  K Rabada        1
13     11141  K Rabada        1
14     11146  K Rabada        1
15     11152  K Rabada        1

In [78]:
Rabada_over= Rabada[Rabada["extra_runs"]==0][["match_id","ball","bowler"]] # here extra balls I am not considering include in over
Rabada_over= Rabada_over.groupby(["match_id","bowler"])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Rabada_over["No_of_Overs"]=(Rabada_over["ball"]/6)
Rabada_over

    match_id    bowler  ball  No_of_Overs
0      11146  K Rabada    29     4.833333
1      11149  K Rabada    24     4.000000
2      11311  K Rabada    24     4.000000
3      11331  K Rabada    24     4.000000
4         39  K Rabada    24     4.000000
5         41  K Rabada    24     4.000000
6      11317  K Rabada    24     4.000000
7      11325  K Rabada    23     3.833333
8      11321  K Rabada    23     3.833333
9         24  K Rabada    23     3.833333
10     11139  K Rabada    23     3.833333
11        44  K Rabada    23     3.833333
12     11141  K Rabada    22     3.666667
13     11328  K Rabada    22     3.666667
14     11337  K Rabada    22     3.666667
15     11152  K Rabada    21     3.500000
16        31  K Rabada    18     3.000000
17        35  K Rabada    12     2.000000

In [79]:
Rabada_dotball= Rabada.groupby(["match_id","bowler"])["total_runs"].agg(lambda x: (x==0).sum()).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Rabada_dotball.columns=["match_id","bowler","Dot_balls"]
Rabada_dotball

    match_id    bowler  Dot_balls
0         24  K Rabada         12
1         41  K Rabada         11
2      11328  K Rabada         11
3      11321  K Rabada         11
4      11149  K Rabada         11
5      11141  K Rabada         10
6      11317  K Rabada         10
7      11139  K Rabada          9
8      11311  K Rabada          9
9         44  K Rabada          8
10        31  K Rabada          8
11     11331  K Rabada          8
12     11337  K Rabada          8
13     11146  K Rabada          7
14     11152  K Rabada          7
15     11325  K Rabada          7
16        35  K Rabada          5
17        39  K Rabada          4

In [80]:
Rabada_extraball= Rabada.groupby(["match_id","bowler"])["extra_runs"].agg(lambda x: (x>0).sum()).reset_index().sort_values(by="extra_runs",ascending=False).reset_index(drop=True)
Rabada_extraball.columns=["match_id","bowler","Extra_balls"]
Rabada_extraball

    match_id    bowler  Extra_balls
0         24  K Rabada            4
1         44  K Rabada            4
2      11139  K Rabada            4
3      11325  K Rabada            3
4         31  K Rabada            3
5      11337  K Rabada            3
6      11328  K Rabada            2
7      11146  K Rabada            1
8         39  K Rabada            1
9      11311  K Rabada            1
10     11321  K Rabada            1
11        35  K Rabada            1
12     11331  K Rabada            1
13        41  K Rabada            0
14     11141  K Rabada            0
15     11152  K Rabada            0
16     11317  K Rabada            0
17     11149  K Rabada            0

In [81]:
Rabada_Runs= Rabada.groupby(["match_id","bowler"])["total_runs"].sum().reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Rabada_Runs.columns=["match_id","bowler","Total_runs_given"]
Rabada_Runs

    match_id    bowler  Total_runs_given
0         39  K Rabada                59
1      11146  K Rabada                49
2      11325  K Rabada                42
3      11317  K Rabada                42
4      11331  K Rabada                38
5      11337  K Rabada                36
6         44  K Rabada                34
7      11152  K Rabada                32
8      11149  K Rabada                32
9         24  K Rabada                31
10     11139  K Rabada                29
11     11328  K Rabada                29
12        31  K Rabada                28
13        41  K Rabada                28
14     11141  K Rabada                26
15     11321  K Rabada                24
16     11311  K Rabada                22
17        35  K Rabada                18

In [82]:
Rabada_economy= pd.merge(Rabada_Runs,Rabada_over,on="bowler")
Rabada_economy

     match_id_x    bowler  Total_runs_given  match_id_y  ball  No_of_Overs
0            39  K Rabada                59       11146    29     4.833333
1            39  K Rabada                59       11149    24     4.000000
2            39  K Rabada                59       11311    24     4.000000
3            39  K Rabada                59       11331    24     4.000000
4            39  K Rabada                59          39    24     4.000000
..          ...       ...               ...         ...   ...          ...
319          35  K Rabada                18       11328    22     3.666667
320          35  K Rabada                18       11337    22     3.666667
321          35  K Rabada                18       11152    21     3.500000
322          35  K Rabada                18          31    18     3.000000
323          35  K Rabada                18          35    12     2.000000

[324 rows x 6 columns]

In [83]:
Rabada_economy=Rabada_economy[Rabada_economy["No_of_Overs"]<10] # taking only bowler with maximum 10 overs
Rabada_economy["Economy_rate"]=Rabada_economy["Total_runs_given"]/Rabada_economy["No_of_Overs"]
Rabada_economy=Rabada_economy.sort_values(by="Economy_rate").reset_index(drop=True)
Rabada_economy

,match_id_x,bowler,Total_runs_given,match_id_y,ball,No_of_Overs,Economy_rate
0,35,K Rabada,18,11146,29,4.833333,3.724138
1,35,K Rabada,18,11149,24,4.000000,4.500000
2,35,K Rabada,18,11311,24,4.000000,4.500000
3,35,K Rabada,18,11331,24,4.000000,4.500000
4,35,K Rabada,18,39,24,4.000000,4.500000
...,...,...,...,...,...,...,...
319,39,K Rabada,59,31,18,3.000000,19.666667
320,11317,K Rabada,42,35,12,2.000000,21.000000
321,11325,K Rabada,42,35,12,2.000000,21.000000
322,11146,K Rabada,49,35,12,2.000000,24.500000
323,39,K Rabada,59,35,12,2.000000,29.500000

In [84]:
Rabada_Strike_rate = pd.merge(Rabada_over,Rabada_wicket,on="bowler")
Rabada_Strike_rate= Rabada_Strike_rate[Rabada_Strike_rate["No_of_Overs"]<10] # taking only bowler with maximum 10 overs
Rabada_Strike_rate["Strike_rate"]=Rabada_Strike_rate["ball"]/Rabada_Strike_rate["Wickets"]
Rabada_Strike_rate=Rabada_Strike_rate.sort_values(by="Strike_rate").reset_index(drop=True)
Rabada_Strike_rate

     match_id_x    bowler  ball  No_of_Overs  match_id_y  Wickets  Strike_rate
0            35  K Rabada    12     2.000000       11321        4         3.00
1            35  K Rabada    12     2.000000       11311        4         3.00
2            31  K Rabada    18     3.000000       11321        4         4.50
3            31  K Rabada    18     3.000000       11311        4         4.50
4         11152  K Rabada    21     3.500000       11311        4         5.25
..          ...       ...   ...          ...         ...      ...          ...
283       11146  K Rabada    29     4.833333       11152        1        29.00
284       11146  K Rabada    29     4.833333          44        1        29.00
285       11146  K Rabada    29     4.833333          24        1        29.00
286       11146  K Rabada    29     4.833333       11146        1        29.00
287       11146  K Rabada    29     4.833333       11141        1        29.00

[288 rows x 7 columns]

In [85]:
Rabadawickets_perball =Rabada_Strike_rate['Strike_rate'].unique()
Rabadawickets_perball

array([ 3.  ,  4.5 ,  5.25,  5.5 ,  5.75,  6.  ,  7.25,  9.  , 10.5 ,
       11.  , 11.5 , 12.  , 14.5 , 18.  , 21.  , 22.  , 23.  , 24.  ,
       29.  ])

In [86]:
Rabadawickets_perball.mean()

12.776315789473685

# Bowler Economy less than 8 and dot ball more than 8 and less number of boundaries

In [87]:
Bowler_wicket = rcb_dc_del[rcb_dc_del["dismissal_kind"] != "run out"]
Bowler_wicket= Bowler_wicket[["match_id","bowler","player_dismissed"]]
Bowler_wicket = Bowler_wicket.dropna()
Bowler_wicket= Bowler_wicket.groupby(["match_id","bowler"])["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
Bowler_wicket.columns=["match_id","bowler","Wickets"]
Bowler_wicket

     match_id      bowler  Wickets
0         438  JD Unadkat        5
1       11311    K Rabada        4
2          76  GD McGrath        4
3          55      P Negi        3
4         632   YS Chahal        3
..        ...         ...      ...
152       104  TM Dilshan        1
153       129    A Mishra        1
154       372    VR Aaron        1
155       129     B Akhil        1
156       401     A Nehra        1

[157 rows x 3 columns]

In [88]:
Bowler_over= rcb_dc_del[rcb_dc_del["extra_runs"]==0][["ball","bowler"]] # here extra balls I am not considering include in over
Bowler_over= Bowler_over.groupby("bowler")["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Bowler_over["No_of_Overs"]=(Bowler_over["ball"]/6)
Bowler_over

            bowler  ball  No_of_Overs
0        YS Chahal   232    38.666667
1           Z Khan   207    34.500000
2         UT Yadav   200    33.333333
3         A Mishra   196    32.666667
4    R Vinay Kumar   173    28.833333
..             ...   ...          ...
97    S Rutherford     6     1.000000
98    KP Pietersen     6     1.000000
99      AD Mathews     6     1.000000
100       SB Joshi     6     1.000000
101   Shoaib Malik     4     0.666667

[102 rows x 3 columns]

In [89]:
Bowler_dotball= rcb_dc_del.groupby(["match_id","bowler"])["total_runs"].agg(lambda x: (x==0).sum()).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Bowler_dotball.columns=["match_id","bowler","No_of_balls"]
Bowler_dotball

     match_id           bowler  No_of_balls
0           5        CH Morris           16
1         104       GD McGrath           16
2         401        R Rampaul           14
3         459   Mohammed Shami           14
4         543         MA Starc           14
..        ...              ...          ...
261        76          V Kohli            0
262       438  J Syed Mohammad            0
263        76         V Sehwag            0
264        76         SB Joshi            0
265      7938  C de Grandhomme            0

[266 rows x 3 columns]

In [90]:
Bowler_Runs= rcb_dc_del.groupby(["match_id","bowler"])["total_runs"].sum().reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Bowler_Runs.columns=["match_id","bowler","Total_runs_given"]
Bowler_Runs

     match_id      bowler  Total_runs_given
0         438    UT Yadav                65
1        7938    HV Patel                56
2       11337     N Saini                52
3         104  PJ Sangwan                51
4         459    AB Dinda                51
..        ...         ...               ...
261       543  AD Mathews                 3
262       263     Y Nagar                 3
263         5      P Negi                 3
264       571     J Yadav                 2
265       571      Z Khan                 0

[266 rows x 3 columns]

In [91]:
four = []
six = []
for i in rcb_dc_del['batsman_runs']:
    if i == 4 or i == 5:
        four.append(1)
        six.append(0)
    elif i == 6 or i == 7:
        four.append(0)
        six.append(1)
    else:
        four.append(0)
        six.append(0)
      
    
rcb_dc_del['four'] = four
rcb_dc_del['six'] = six

In [92]:
rcb_dc_del

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
169398,11311,1,RCB,DC,1,1,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
169399,11311,1,RCB,DC,1,2,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
169400,11311,1,RCB,DC,1,3,PA Patel,V Kohli,I Sharma,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
169401,11311,1,RCB,DC,1,4,PA Patel,V Kohli,I Sharma,0,...,0,0,2,0,2,NaN,NaN,NaN,0,0
169402,11311,1,RCB,DC,1,5,PA Patel,V Kohli,I Sharma,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161182,7938,2,RCB,DC,19,2,AB de Villiers,C de Grandhomme,TA Boult,0,...,0,0,6,0,6,NaN,NaN,NaN,0,1
161183,7938,2,RCB,DC,19,3,AB de Villiers,C de Grandhomme,TA Boult,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
161184,7938,2,RCB,DC,19,4,C de Grandhomme,AB de Villiers,TA Boult,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
161185,7938,2,RCB,DC,19,5,C de Grandhomme,AB de Villiers,TA Boult,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
161186,7938,2,RCB,DC,19,6,AB de Villiers,C de Grandhomme,TA Boult,0,...,0,0,6,0,6,NaN,NaN,NaN,0,1

In [93]:
bowler_boundary= rcb_dc_del[rcb_dc_del["four"]!=0][["match_id","ball","bowler"]] # here taking boundary off the bowler/boundary conceived I am not considering include in over
bowler_boundary = bowler_boundary.groupby(["match_id","bowler"])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
bowler_boundary.columns = ['match_id',"bowler",'boundary ball']
bowler_boundary

     match_id          bowler  boundary ball
0         587         D Wiese              7
1         438   R Vinay Kumar              7
2          76          Z Khan              7
3         587          Z Khan              7
4        7912       CR Woakes              7
..        ...             ...            ...
229       543         D Wiese              1
230      7912  Mohammed Siraj              1
231       129    Pankaj Singh              1
232       312     AB McDonald              1
233       632         J Yadav              1

[234 rows x 3 columns]

In [94]:
bowler_boundary

     match_id          bowler  boundary ball
0         587         D Wiese              7
1         438   R Vinay Kumar              7
2          76          Z Khan              7
3         587          Z Khan              7
4        7912       CR Woakes              7
..        ...             ...            ...
229       543         D Wiese              1
230      7912  Mohammed Siraj              1
231       129    Pankaj Singh              1
232       312     AB McDonald              1
233       632         J Yadav              1

[234 rows x 3 columns]

In [95]:
Bowler_boundary_ball = pd.merge(Bowler_wicket,Bowler_over,on=['bowler'])

In [96]:
Bowler_boundary_ball = pd.merge(Bowler_dotball,Bowler_boundary_ball,on=["match_id",'bowler'])

In [97]:
Bowler_boundary_ball = pd.merge(Bowler_boundary_ball,Bowler_Runs,on=["match_id",'bowler'])

In [98]:
Bowler_boundary_ball = pd.merge(Bowler_boundary_ball,bowler_boundary,on=["match_id",'bowler'])

In [99]:
Bowler_boundary_ball

,match_id,bowler,No_of_balls,Wickets,ball,No_of_Overs,Total_runs_given,boundary ball
0,5,CH Morris,16,3,112,18.666667,22,3
1,104,GD McGrath,16,2,48,8.000000,15,2
2,401,R Rampaul,14,2,51,8.500000,40,3
3,459,Mohammed Shami,14,1,94,15.666667,30,4
4,543,MA Starc,14,3,95,15.833333,21,3
...,...,...,...,...,...,...,...,...
132,129,B Akhil,2,1,37,6.166667,8,1
133,372,M Muralitharan,2,1,69,11.500000,47,4
134,209,A Mithun,2,1,42,7.000000,39,2
135,7912,HV Patel,2,1,159,26.500000,35,2
136,104,P Kumar,1,1,82,13.666667,34,6

In [100]:
Bowler_economy_boundary_less_than_4 = Bowler_boundary_ball[Bowler_boundary_ball['boundary ball']<4]
Bowler_economy_boundary_less_than_4

,match_id,bowler,No_of_balls,Wickets,ball,No_of_Overs,Total_runs_given,boundary ball
0,5,CH Morris,16,3,112,18.666667,22,3
1,104,GD McGrath,16,2,48,8.000000,15,2
2,401,R Rampaul,14,2,51,8.500000,40,3
4,543,MA Starc,14,3,95,15.833333,21,3
5,263,M Morkel,13,3,94,15.666667,26,1
...,...,...,...,...,...,...,...,...
130,167,RE van der Merwe,3,1,24,4.000000,31,2
131,5,Iqbal Abdulla,3,2,54,9.000000,36,2
132,129,B Akhil,2,1,37,6.166667,8,1
134,209,A Mithun,2,1,42,7.000000,39,2
135,7912,HV Patel,2,1,159,26.500000,35,2

In [101]:
Bowler_economy= pd.merge(Bowler_Runs,Bowler_over,on="bowler")

In [102]:
Bowler_economy

     match_id        bowler  Total_runs_given  ball  No_of_Overs
0         438      UT Yadav                65   200    33.333333
1         372      UT Yadav                42   200    33.333333
2       11337      UT Yadav                40   200    33.333333
3         263      UT Yadav                38   200    33.333333
4         401      UT Yadav                37   200    33.333333
..        ...           ...               ...   ...          ...
261       571       J Yadav                 2    12     2.000000
262     11337  S Rutherford                 6     6     1.000000
263     11337        S Dube                 5     6     1.000000
264       209  KP Pietersen                 3     6     1.000000
265       543    AD Mathews                 3     6     1.000000

[266 rows x 5 columns]

## Bowler_economy_boundary_less_than_4 #Bowler with less number boundaries concieved in the match and calculating of their economy

In [103]:
Bowler_economy_boundary_less_than_4=Bowler_economy_boundary_less_than_4[Bowler_economy_boundary_less_than_4["No_of_Overs"]<50] # taking only bowler with minimum 50 ov
Bowler_economy_boundary_less_than_4["Economy_rate"]=Bowler_economy_boundary_less_than_4["Total_runs_given"]/Bowler_economy_boundary_less_than_4["No_of_Overs"]
Bowler_economy_boundary_less_than_4=Bowler_economy_boundary_less_than_4.sort_values(by="Economy_rate").reset_index(drop=True)
Bowler_economy_boundary_less_than_4

,match_id,bowler,No_of_balls,Wickets,ball,No_of_Overs,Total_runs_given,boundary ball,Economy_rate
0,543,HV Patel,7,1,159,26.500000,14,1,0.528302
1,55,S Nadeem,4,1,136,22.666667,12,1,0.529412
2,7912,YS Chahal,9,2,232,38.666667,25,1,0.646552
3,7938,YS Chahal,9,2,232,38.666667,28,2,0.724138
4,401,R Vinay Kumar,12,1,173,28.833333,21,2,0.728324
...,...,...,...,...,...,...,...,...,...
103,129,Pankaj Singh,7,2,24,4.000000,31,1,7.750000
104,312,DAJ Bracewell,10,3,24,4.000000,32,2,8.000000
105,5,TS Mills,7,1,24,4.000000,33,3,8.250000
106,55,TM Head,5,2,18,3.000000,30,1,10.000000
107,438,MC Henriques,5,1,12,2.000000,21,3,10.500000

In [104]:
Bowler_economy_boundary_less_than_4[Bowler_economy_boundary_less_than_4['Economy_rate']<8.0]

,match_id,bowler,No_of_balls,Wickets,ball,No_of_Overs,Total_runs_given,boundary ball,Economy_rate
0,543,HV Patel,7,1,159,26.500000,14,1,0.528302
1,55,S Nadeem,4,1,136,22.666667,12,1,0.529412
2,7912,YS Chahal,9,2,232,38.666667,25,1,0.646552
3,7938,YS Chahal,9,2,232,38.666667,28,2,0.724138
4,401,R Vinay Kumar,12,1,173,28.833333,21,2,0.728324
...,...,...,...,...,...,...,...,...,...
99,459,JA Morkel,7,1,18,3.000000,18,2,6.000000
100,55,Avesh Khan,11,1,23,3.833333,24,2,6.260870
101,263,JR Hopes,8,1,23,3.833333,26,3,6.782609
102,167,RE van der Merwe,3,1,24,4.000000,31,2,7.750000
103,129,Pankaj Singh,7,2,24,4.000000,31,1,7.750000

In [105]:
Bowler_Strike_rate = pd.merge(Bowler_over,Bowler_wicket,on="bowler")
Bowler_Strike_rate= Bowler_Strike_rate[Bowler_Strike_rate["No_of_Overs"]<50] # taking only bowler with maximum 50 overs
Bowler_Strike_rate["Strike_rate"]=Bowler_Strike_rate["ball"]/Bowler_Strike_rate["Wickets"]
Bowler_Strike_rate=Bowler_Strike_rate.sort_values(by="Strike_rate").reset_index(drop=True)
Bowler_Strike_rate.iloc[:20,:]

            bowler  ball  No_of_Overs  match_id  Wickets  Strike_rate
0     S Rutherford     6     1.000000     11337        1          6.0
1   P Parameswaran    18     3.000000       372        3          6.0
2    DAJ Bracewell    24     4.000000       312        3          8.0
3          TM Head    18     3.000000        55        2          9.0
4          Y Nagar    18     3.000000       167        2          9.0
5       JD Unadkat    48     8.000000       438        5          9.6
6         K Rabada    46     7.666667     11311        4         11.5
7     MC Henriques    12     2.000000       438        1         12.0
8       TM Dilshan    12     2.000000       104        1         12.0
9        CJ Jordan    12     2.000000       632        1         12.0
10      B Stanlake    24     4.000000         5        2         12.0
11      GD McGrath    48     8.000000        76        4         12.0
12    Pankaj Singh    24     4.000000       129        2         12.0
13       JA Morkel    18     3.000000       459        1         18.0
14         Y Nagar    18     3.000000       263        1         18.0
15        R Sharma    18     3.000000       459        1         18.0
16        CH Gayle    40     6.666667       632        2         20.0
17        A Mithun    42     7.000000       263        2         21.0
18        AN Ahmed    22     3.666667       495        1         22.0
19        K Rabada    46     7.666667     11337        2         23.0