In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as py
import cufflinks as cf
%matplotlib inline
%matplotlib notebook

In [2]:
from plotly.offline import iplot
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

In [3]:
delivers = pd.read_csv('D:\datasets\deliveries.csv')

In [4]:
delivers.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
delivers.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [6]:
delivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [7]:
matches = pd.read_csv('D:\datasets\matches.csv')

In [8]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [9]:
matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [10]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [11]:
matches["result"].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [12]:
tie = matches[matches['result'] == 'tie']
tie

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [13]:
no_result =matches[matches['result'] == 'no result']
no_result

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [14]:
matches_result = matches[['team1','team2','winner']]
matches_result.head()

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [16]:
matches_result['lost'] = matches_result.apply(lambda x:   (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis = 1)

In [17]:
matches_result.head(10)

,team1,team2,winner,lost
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils
5,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,Gujarat Lions
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Kolkata Knight Riders
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Royal Challengers Bangalore
8,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,Rising Pune Supergiant
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Sunrisers Hyderabad

In [18]:
wins = matches_result['winner'].value_counts()
wins

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [19]:
lost = matches_result['lost'].value_counts()
lost

Royal Challengers Bangalore    95
Kings XI Punjab                94
Delhi Daredevils               94
Kolkata Knight Riders          86
Mumbai Indians                 78
Rajasthan Royals               70
Chennai Super Kings            64
Sunrisers Hyderabad            50
Deccan Chargers                46
Pune Warriors                  33
Gujarat Lions                  17
Rising Pune Supergiants         9
Kochi Tuskers Kerala            8
Rising Pune Supergiant          6
Delhi Capitals                  6
Name: lost, dtype: int64

In [20]:
wins.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Winning Count')

In [22]:
lost.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Losing Count')

# RCB VS KKR HEAD TO HEAD MATCHES

In [23]:
def get_rcbvskkr(team1,team2):
    teams =['Royal Challengers Bangalore','Kolkata Knight Riders']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [24]:
index = [ ]

for row in matches.iterrows():
    flag = get_rcbvskkr(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

24

In [25]:
rcb_kkr = matches[index]

In [26]:
rcb_kkr.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
26,27,2017,Kolkata,2017-04-23,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,82,0,NM Coulter-Nile,Eden Gardens,CB Gaffaney,CK Nandan,NaN

In [27]:
rcb_kkr.isnull().sum()

id                  0
season              0
city                0
date                0
team1               0
team2               0
toss_winner         0
toss_decision       0
result              0
dl_applied          0
winner              0
win_by_runs         0
win_by_wickets      0
player_of_match     0
venue               0
umpire1             0
umpire2             0
umpire3            20
dtype: int64

In [28]:
rcb_kkr =rcb_kkr.drop('umpire3',axis =1)

In [29]:
rcb_kkr.isnull().sum()

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
umpire1            0
umpire2            0
dtype: int64

In [30]:
rcb_kkr.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
26,27,2017,Kolkata,2017-04-23,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,82,0,NM Coulter-Nile,Eden Gardens,CB Gaffaney,CK Nandan

In [31]:
rcb_kkr['winner'].value_counts().iplot(kind='bar')

In [32]:
team_win= rcb_kkr[['team1','team2','toss_winner','toss_decision','winner']]
team_win.head()

,team1,team2,toss_winner,toss_decision,winner
26,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders
44,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders
59,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders
87,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,bat,Kolkata Knight Riders
133,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,bat,Royal Challengers Bangalore

In [33]:
team_decision= rcb_kkr[['toss_winner','toss_decision','winner']]
team_decision.head()

                     toss_winner toss_decision                       winner
26   Royal Challengers Bangalore         field        Kolkata Knight Riders
44         Kolkata Knight Riders         field        Kolkata Knight Riders
59   Royal Challengers Bangalore         field        Kolkata Knight Riders
87         Kolkata Knight Riders           bat        Kolkata Knight Riders
133        Kolkata Knight Riders           bat  Royal Challengers Bangalore

In [34]:
corr =rcb_kkr.corr()
corr

                      id    season  dl_applied  win_by_runs  win_by_wickets
id              1.000000  0.664545   -0.092575    -0.177637       -0.058867
season          0.664545  1.000000   -0.151008    -0.210186        0.022997
dl_applied     -0.092575 -0.151008    1.000000    -0.094525        0.000000
win_by_runs    -0.177637 -0.210186   -0.094525     1.000000       -0.575819
win_by_wickets -0.058867  0.022997    0.000000    -0.575819        1.000000

In [35]:
sns.heatmap(corr,annot=True)

In [36]:
rcb_kkr['venue'].value_counts()

Eden Gardens                          10
M Chinnaswamy Stadium                  9
Kingsmead                              1
M. Chinnaswamy Stadium                 1
SuperSport Park                        1
JSCA International Stadium Complex     1
Sharjah Cricket Stadium                1
Name: venue, dtype: int64

In [37]:
venue= rcb_kkr[['toss_winner','toss_decision','venue','winner']]
venue.head()

,toss_winner,toss_decision,venue,winner
26,Royal Challengers Bangalore,field,Eden Gardens,Kolkata Knight Riders
44,Kolkata Knight Riders,field,M Chinnaswamy Stadium,Kolkata Knight Riders
59,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Kolkata Knight Riders
87,Kolkata Knight Riders,bat,Eden Gardens,Kolkata Knight Riders
133,Kolkata Knight Riders,bat,Kingsmead,Royal Challengers Bangalore

# Head to Head Win based tossed decision playing 1st or 2nd Inning

In [38]:
team_decision.groupby(['toss_winner','winner'])['toss_decision'].value_counts()

toss_winner                  winner                       toss_decision
Kolkata Knight Riders        Kolkata Knight Riders        field            7
                                                          bat              2
                             Royal Challengers Bangalore  bat              1
                                                          field            1
Royal Challengers Bangalore  Kolkata Knight Riders        field            5
                             Royal Challengers Bangalore  field            8
Name: toss_decision, dtype: int64

In [ ]:
delivers['batsman'].value_counts()[:20].iplot(kind='bar')

In [39]:
def get_rcbvskk(batting_team,bowling_team):
    teams =['Royal Challengers Bangalore','Kolkata Knight Riders']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [40]:
index = [ ]

for row in delivers.iterrows():
    flag = get_rcbvskkr(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

5502

In [41]:
rcb_kkr_del = delivers[index]

In [42]:
rcb_kkr_del.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6254,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6255,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6256,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6257,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6258,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
6259,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,6,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6260,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,1,G Gambhir,SP Narine,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6261,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,2,G Gambhir,SP Narine,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6262,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,3,G Gambhir,SP Narine,TS Mills,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
6263,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,4,G Gambhir,SP Narine,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [43]:
rcb_kkr_del['match_id'].unique()

array([   27,    45,    60,    88,   134,   156,   178,   217,   258,
         291,   317,   344,   392,   441,   468,   506,   522,   550,
         606,   624,  7896,  7922, 11153, 11326], dtype=int64)

In [44]:
rcb_kkr_del.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6254,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6255,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6256,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6257,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6258,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,SP Narine,G Gambhir,S Badree,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

# Leading Runscorer in RCB vs KKR Head to Head Matches

In [45]:
rcb_kkr_del['batsman'].value_counts()[:40].iplot(kind='bar')

# RCB Wickets losed in between 31st to 120ball(5-20 overs)

In [46]:
name = 'Royal Challengers Bangalore'
RCB_wicket = rcb_kkr_del[rcb_kkr_del['batting_team'] == name]

In [47]:
RCB_wicket.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6375,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,1,CH Gayle,V Kohli,NM Coulter-Nile,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
6376,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,2,CH Gayle,V Kohli,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6377,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,3,CH Gayle,V Kohli,NM Coulter-Nile,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
6378,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,4,V Kohli,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,V Kohli,caught,MK Pandey
6379,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,5,Mandeep Singh,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [48]:
RCB_wicket.shape

(2692, 21)

In [50]:
RCB_wicket_lose = RCB_wicket[(RCB_wicket['over']>=5)&(RCB_wicket['over']<=20)]

In [52]:
RCB_wicket_lose['over'].unique()

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
      dtype=int64)

In [117]:
RCB_wicket_lose.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6402,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,1,KM Jadhav,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,KM Jadhav,caught,CR Woakes
6403,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,2,STR Binny,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6404,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,3,STR Binny,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6405,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,4,STR Binny,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6406,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,5,STR Binny,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

## HOW RCB Player has been dismissed in between 5-20 overs

In [54]:
dismissals = RCB_wicket_lose[ pd.notnull(RCB_wicket_lose["player_dismissed"])]
dismissals = dismissals[["match_id", "over","inning", "player_dismissed", "dismissal_kind", "fielder"]]

In [56]:
dismissals.head(10)

       match_id  over  inning player_dismissed dismissal_kind          fielder
6402         27     5       2        KM Jadhav         caught        CR Woakes
6416         27     7       2         CH Gayle         caught  NM Coulter-Nile
6419         27     7       2        STR Binny         caught       RV Uthappa
6423         27     8       2           P Negi            lbw              NaN
6429         27     9       2         S Badree            lbw              NaN
6433         27    10       2         TS Mills         caught    Kuldeep Yadav
6436         27    10       2        YS Chahal         caught        MK Pandey
10434        45     5       1   AB de Villiers         bowled              NaN
10498        45    16       1    Mandeep Singh         caught         UT Yadav
10516        45    19       1        KM Jadhav         caught         UT Yadav

In [73]:
dismis =dismissals.groupby(['match_id','over'])['dismissal_kind'].value_counts()
dismis

match_id  over  dismissal_kind
27        5     caught            1
          7     caught            2
          8     lbw               1
          9     lbw               1
          10    caught            2
                                 ..
11153     18    caught            1
          19    caught            1
11326     9     caught            1
          16    caught            1
          20    caught            1
Name: dismissal_kind, Length: 101, dtype: int64

In [71]:
dismis.mean()

1.0693069306930694

In [61]:
dismis.median()

1.0

In [64]:
wickets_dismissed = dismissals.groupby(['match_id','inning','over'])['dismissal_kind'].count()

In [67]:
wickets_dismissed

match_id  inning  over
27        2       5       1
                  7       2
                  8       1
                  9       1
                  10      2
                         ..
11153     1       18      1
                  19      1
11326     1       9       1
                  16      1
                  20      1
Name: dismissal_kind, Length: 94, dtype: int64

In [65]:
wickets_dismissed.head()

match_id  inning  over
27        2       5       1
                  7       2
                  8       1
                  9       1
                  10      2
Name: dismissal_kind, dtype: int64

In [69]:
wickets_dismissed.mean()

1.148936170212766

# Total wickets taken between 5-20 overs wise by KKR Bowler

In [111]:
name = 'Kolkata Knight Riders'
KKR = rcb_kkr_del[rcb_kkr_del['bowling_team'] == name]
KKR.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6375,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,1,CH Gayle,V Kohli,NM Coulter-Nile,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
6376,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,2,CH Gayle,V Kohli,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6377,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,3,CH Gayle,V Kohli,NM Coulter-Nile,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
6378,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,4,V Kohli,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,V Kohli,caught,MK Pandey
6379,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,5,Mandeep Singh,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [112]:
KKR_bowler = KKR[(KKR['over']>=5)&(KKR['over']<=20)]
KKR_bowler

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6402,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,1,KM Jadhav,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,KM Jadhav,caught,CR Woakes
6403,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,2,STR Binny,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6404,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,3,STR Binny,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6405,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,4,STR Binny,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6406,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,5,STR Binny,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173125,11326,1,Royal Challengers Bangalore,Kolkata Knight Riders,20,2,MP Stoinis,V Kohli,H Gurney,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
173126,11326,1,Royal Challengers Bangalore,Kolkata Knight Riders,20,3,MP Stoinis,V Kohli,H Gurney,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
173127,11326,1,Royal Challengers Bangalore,Kolkata Knight Riders,20,4,MP Stoinis,V Kohli,H Gurney,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
173128,11326,1,Royal Challengers Bangalore,Kolkata Knight Riders,20,5,V Kohli,MP Stoinis,H Gurney,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
173129,11326,1,Royal Challengers Bangalore,Kolkata Knight Riders,20,6,V Kohli,MP Stoinis,H Gurney,0,...,0,0,0,0,0,0,0,V Kohli,caught,S Gill

In [113]:
KKR_Bowler_wicket_over = KKR_bowler[KKR_bowler["dismissal_kind"] != "run out"]
KKR_Bowler_wicket_over= KKR_Bowler_wicket_over[["over","bowler","player_dismissed"]]
KKR_Bowler_wicket_over = KKR_Bowler_wicket_over.dropna()
KKR_Bowler_wicket_over= KKR_Bowler_wicket_over.groupby(["over","bowler"])["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
KKR_Bowler_wicket_over.columns=["over","bowler","Wickets"]
KKR_Bowler_wicket_over.iloc[:20,:]

    over            bowler  Wickets
0     17         SP Narine        3
1     20     R Vinay Kumar        3
2      6         JH Kallis        3
3     19         SP Narine        3
4     20          UT Yadav        2
5      8         JH Kallis        2
6     18        AD Mathews        2
7      9        AB Agarkar        2
8      8         YK Pathan        2
9     10        AD Russell        2
10    10   C de Grandhomme        2
11    10          L Balaji        2
12    16          BJ Hodge        2
13    16         SP Narine        2
14     7         CR Woakes        2
15    15            N Rana        2
16    13         SP Narine        2
17    16         LR Shukla        1
18    16        BAW Mendis        1
19    15  RN ten Doeschate        1

In [114]:
KKR_Bowler_wicket_over.mean()

over       12.3875
Wickets     1.2625
dtype: float64

In [115]:
KKR_Bowler_wicket_over.median()

over       12.0
Wickets     1.0
dtype: float64

# Number balls AB de villers taken to score 30 runs

In [74]:
rcb_kkr_del['batsman'].unique()

array(['SP Narine', 'G Gambhir', 'RV Uthappa', 'MK Pandey', 'YK Pathan',
       'SA Yadav', 'C de Grandhomme', 'CR Woakes', 'NM Coulter-Nile',
       'Kuldeep Yadav', 'UT Yadav', 'CH Gayle', 'V Kohli',
       'Mandeep Singh', 'AB de Villiers', 'KM Jadhav', 'STR Binny',
       'S Badree', 'P Negi', 'TS Mills', 'S Aravind', 'YS Chahal',
       'TM Head', 'CA Lynn', 'SC Ganguly', 'BB McCullum', 'RT Ponting',
       'DJ Hussey', 'Mohammad Hafeez', 'R Dravid', 'W Jaffer',
       'JH Kallis', 'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke',
       'P Kumar', 'Z Khan', 'SB Joshi', 'A Chopra', 'BJ Hodge', 'T Taibu',
       'LR Shukla', 'M Kartik', 'WP Saha', 'Umar Gul', 'J Arunkumar',
       'S Chanderpaul', 'MN van Wyk', 'AB Agarkar', 'SP Goswami',
       'KP Pietersen', 'RE van der Merwe', 'AN Ghosh', 'AD Mathews',
       'JD Ryder', 'LRPL Taylor', 'EJG Morgan', 'MK Tiwary', 'CA Pujara',
       'OA Shah', 'AB Dinda', 'I Sharma', 'BAW Mendis', 'S Sriram',
       'BJ Haddin', 'TM Dilshan', 'LA Pomersbach', 'M Kaif',
       'KB Arun Karthik', 'SS Tiwary', 'MS Bisla', 'RN ten Doeschate',
       'Shakib Al Hasan', 'B Lee', 'R Bhatia', 'MA Agarwal', 'DL Vettori',
       'R Vinay Kumar', 'HV Patel', 'R McLaren', 'PJ Sangwan',
       'MC Henriques', 'R Rampaul', 'A Mithun', 'JD Unadkat', 'PA Patel',
       'YV Takawale', 'Yuvraj Singh', 'JA Morkel', 'S Rana', 'MA Starc',
       'AD Russell', 'KD Karthik', 'DJG Sammy', 'SA Abbott', 'AN Ahmed',
       'D Wiese', 'KL Rahul', 'SR Watson', 'Sachin Baby', 'Q de Kock',
       'SN Khan', 'N Rana', 'R Singh', 'M Vohra', 'S Gill', 'MP Stoinis',
       'M Ali', 'AD Nath'], dtype=object)

In [104]:
name = 'AB de Villiers'
AB_de_runs= rcb_kkr_del[rcb_kkr_del['batsman'] == name]
AB_de_runs.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6384,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,3,AB de Villiers,CH Gayle,UT Yadav,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [105]:
AB_de_runs.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6384,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,3,AB de Villiers,CH Gayle,UT Yadav,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6385,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,4,AB de Villiers,CH Gayle,UT Yadav,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
6386,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,5,AB de Villiers,CH Gayle,UT Yadav,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6387,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,6,AB de Villiers,CH Gayle,UT Yadav,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6389,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,3,2,AB de Villiers,CH Gayle,NM Coulter-Nile,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [106]:
Batsman_score=AB_de_runs.groupby(['match_id','batsman'])["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

    match_id         batsman  batsman_runs
0      11153  AB de Villiers            65
1        624  AB de Villiers            59
2       7896  AB de Villiers            44
3        441  AB de Villiers            28
4        522  AB de Villiers            28
5        392  AB de Villiers            22
6        291  AB de Villiers            13
7        506  AB de Villiers            13
8        468  AB de Villiers            11
9         45  AB de Villiers            10
10       317  AB de Villiers            10
11        27  AB de Villiers             8
12       606  AB de Villiers             4
13       550  AB de Villiers             2
14       344  AB de Villiers             0

In [107]:
Batsman_Ball_faced=AB_de_runs.groupby(['match_id','batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

    match_id         batsman  ball
0      11153  AB de Villiers    34
1        624  AB de Villiers    32
2       7896  AB de Villiers    23
3        392  AB de Villiers    22
4        441  AB de Villiers    22
5        291  AB de Villiers    14
6        506  AB de Villiers    13
7        522  AB de Villiers    13
8        468  AB de Villiers    12
9        317  AB de Villiers    10
10        45  AB de Villiers     8
11        27  AB de Villiers     6
12       606  AB de Villiers     6
13       550  AB de Villiers     4
14       344  AB de Villiers     1

In [108]:
AB_de_runs['match_id'].unique()

array([   27,    45,   291,   317,   344,   392,   441,   468,   506,
         522,   550,   606,   624,  7896, 11153], dtype=int64)

In [118]:
def targ_runs(team1,batsman,targ,data):
    batsman = data[data['batsman'] == batsman]
    batsman = batsman[batsman['bowling_team']==team1].reset_index().drop(['index'],axis =1)[['match_id','batsman_runs']]
    id1 = batsman['match_id'][0]
    balls =[ ]
    ball = 0
    for i in batsman['match_id'].unique().tolist():
        ab_runs =batsman.iloc[np.where(batsman['match_id']==i)]['batsman_runs'].tolist()
        runs = 0
        for i in ab_runs:
            if runs<=targ:
                runs += i
                ball += 1
        balls.append(ball)
        ball =0
    print(pd.DataFrame(balls).describe())
    print(balls)

In [119]:
team1 = 'Kolkata Knight Riders'
batsman = 'AB de Villiers'
target = 30

targ_runs(team1,batsman,target,rcb_kkr_del)

               0
count  15.000000
mean   12.533333
std     7.069721
min     1.000000
25%     7.000000
50%    12.000000
75%    18.000000
max    23.000000
[6, 8, 14, 10, 1, 22, 22, 12, 13, 13, 4, 6, 23, 12, 22]

## AB de villers have played 15 matches out of which 3 times he scored more than 30 runs against KKR

# Eoin Morgon Against RCB

In [120]:
rcb_kkr_del['batsman'].unique()

array(['SP Narine', 'G Gambhir', 'RV Uthappa', 'MK Pandey', 'YK Pathan',
       'SA Yadav', 'C de Grandhomme', 'CR Woakes', 'NM Coulter-Nile',
       'Kuldeep Yadav', 'UT Yadav', 'CH Gayle', 'V Kohli',
       'Mandeep Singh', 'AB de Villiers', 'KM Jadhav', 'STR Binny',
       'S Badree', 'P Negi', 'TS Mills', 'S Aravind', 'YS Chahal',
       'TM Head', 'CA Lynn', 'SC Ganguly', 'BB McCullum', 'RT Ponting',
       'DJ Hussey', 'Mohammad Hafeez', 'R Dravid', 'W Jaffer',
       'JH Kallis', 'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke',
       'P Kumar', 'Z Khan', 'SB Joshi', 'A Chopra', 'BJ Hodge', 'T Taibu',
       'LR Shukla', 'M Kartik', 'WP Saha', 'Umar Gul', 'J Arunkumar',
       'S Chanderpaul', 'MN van Wyk', 'AB Agarkar', 'SP Goswami',
       'KP Pietersen', 'RE van der Merwe', 'AN Ghosh', 'AD Mathews',
       'JD Ryder', 'LRPL Taylor', 'EJG Morgan', 'MK Tiwary', 'CA Pujara',
       'OA Shah', 'AB Dinda', 'I Sharma', 'BAW Mendis', 'S Sriram',
       'BJ Haddin', 'TM Dilshan', 'LA Pomersbach', 'M Kaif',
       'KB Arun Karthik', 'SS Tiwary', 'MS Bisla', 'RN ten Doeschate',
       'Shakib Al Hasan', 'B Lee', 'R Bhatia', 'MA Agarwal', 'DL Vettori',
       'R Vinay Kumar', 'HV Patel', 'R McLaren', 'PJ Sangwan',
       'MC Henriques', 'R Rampaul', 'A Mithun', 'JD Unadkat', 'PA Patel',
       'YV Takawale', 'Yuvraj Singh', 'JA Morkel', 'S Rana', 'MA Starc',
       'AD Russell', 'KD Karthik', 'DJG Sammy', 'SA Abbott', 'AN Ahmed',
       'D Wiese', 'KL Rahul', 'SR Watson', 'Sachin Baby', 'Q de Kock',
       'SN Khan', 'N Rana', 'R Singh', 'M Vohra', 'S Gill', 'MP Stoinis',
       'M Ali', 'AD Nath'], dtype=object)

In [122]:
name = 'EJG Morgan'
Eoin_morgon= rcb_kkr_del[rcb_kkr_del['batsman'] == name]
Eoin_morgon.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
41748,178,1,Royal Challengers Bangalore,Kolkata Knight Riders,7,1,EJG Morgan,JH Kallis,BJ Hodge,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [123]:
Eoin_morgon['match_id'].unique()

array([178, 258, 291, 392], dtype=int64)

In [124]:
Eoin_runs=Eoin_morgon.groupby(['match_id','batsman'])["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Eoin_runs

   match_id     batsman  batsman_runs
0       178  EJG Morgan            10
1       258  EJG Morgan             6
2       291  EJG Morgan             2
3       392  EJG Morgan             2

In [125]:
Emorgon_Ball_faced=Eoin_morgon.groupby(['match_id','batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Emorgon_Ball_faced

   match_id     batsman  ball
0       178  EJG Morgan     7
1       258  EJG Morgan     6
2       291  EJG Morgan     5
3       392  EJG Morgan     5

In [127]:
Batsman_strike_rate= pd.merge(Eoin_runs,Emorgon_Ball_faced,on="batsman",how='outer')
# Merging two data frames batsman run and batsman ball to get strike rate
Batsman_strike_rate= Batsman_strike_rate[Batsman_strike_rate["batsman_runs"]>=10]
#  more than 10 runs because Eoin Morgon have score  10 runs in total against Royals Challenger Banglore
Batsman_strike_rate["strike_rate"]= (Batsman_strike_rate["batsman_runs"]/Batsman_strike_rate["ball"])*100
# formula for strike rate
Batsman_strike_rate= Batsman_strike_rate[["batsman","strike_rate"]]
# Removing other coloumns from here only keeping batsman and strike rate
batsman_strike_rate_d=Batsman_strike_rate.sort_values(by="strike_rate",ascending=False).reset_index(drop=True)
batsman_strike_rate_d

      batsman  strike_rate
0  EJG Morgan   200.000000
1  EJG Morgan   200.000000
2  EJG Morgan   166.666667
3  EJG Morgan   142.857143

# Eoin Morgon against other teams in IPL

In [128]:
name = 'EJG Morgan'
Eoin_morgon_IPL= delivers[delivers['batsman'] == name]
Eoin_morgon_IPL.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
3465,15,2,Kings XI Punjab,Delhi Daredevils,4,3,EJG Morgan,HM Amla,S Nadeem,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [129]:
Eoin_morgon_IPL['match_id'].unique()

array([ 15,  19,  32,  54, 178, 188, 192, 197, 235, 255, 258, 266, 270,
       275, 278, 281, 291, 382, 389, 392, 397, 400, 406, 413, 415, 418,
       424, 434, 437, 453, 529, 531, 551, 555, 558, 561, 564, 568, 572,
       580, 584, 588, 594, 598, 628], dtype=int64)

In [139]:
Eoin_morgon_IPL['batting_team'].unique()

array(['Kings XI Punjab', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad'], dtype=object)

In [130]:
Eoin_runs_IPL=Eoin_morgon_IPL.groupby(['match_id','batsman'])["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Eoin_runs_IPL

    match_id     batsman  batsman_runs
0        278  EJG Morgan            66
1        558  EJG Morgan            63
2        389  EJG Morgan            51
3        584  EJG Morgan            51
4        400  EJG Morgan            47
5        397  EJG Morgan            47
6        415  EJG Morgan            42
7        418  EJG Morgan            32
8        551  EJG Morgan            32
9        413  EJG Morgan            31
10       270  EJG Morgan            28
11       529  EJG Morgan            27
12        32  EJG Morgan            26
13       594  EJG Morgan            25
14       561  EJG Morgan            22
15       580  EJG Morgan            22
16        15  EJG Morgan            22
17       197  EJG Morgan            17
18       564  EJG Morgan            17
19       437  EJG Morgan            15
20       628  EJG Morgan            14
21       382  EJG Morgan            14
22       275  EJG Morgan            14
23        19  EJG Morgan            13
24       568  EJG Morgan            11
25       588  EJG Morgan            11
26       255  EJG Morgan            10
27       424  EJG Morgan            10
28       178  EJG Morgan            10
29       453  EJG Morgan             9
30       572  EJG Morgan             9
31       188  EJG Morgan             7
32       258  EJG Morgan             6
33       235  EJG Morgan             6
34       434  EJG Morgan             5
35       281  EJG Morgan             5
36       555  EJG Morgan             5
37        54  EJG Morgan             4
38       392  EJG Morgan             2
39       291  EJG Morgan             2
40       406  EJG Morgan             2
41       192  EJG Morgan             1
42       531  EJG Morgan             1
43       266  EJG Morgan             0
44       598  EJG Morgan             0

In [131]:
Emorgon_Ball_faced_IPL=Eoin_morgon_IPL.groupby(['match_id','batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Emorgon_Ball_faced_IPL

    match_id     batsman  ball
0        278  EJG Morgan    52
1        584  EJG Morgan    43
2        400  EJG Morgan    39
3        389  EJG Morgan    39
4        558  EJG Morgan    30
5        529  EJG Morgan    30
6        551  EJG Morgan    27
7        415  EJG Morgan    27
8        418  EJG Morgan    25
9        413  EJG Morgan    25
10       561  EJG Morgan    25
11       397  EJG Morgan    24
12        32  EJG Morgan    21
13        15  EJG Morgan    20
14       594  EJG Morgan    20
15       275  EJG Morgan    18
16       580  EJG Morgan    18
17        19  EJG Morgan    17
18       382  EJG Morgan    16
19       270  EJG Morgan    15
20       572  EJG Morgan    15
21       437  EJG Morgan    15
22       197  EJG Morgan    14
23       255  EJG Morgan    12
24       588  EJG Morgan    12
25       555  EJG Morgan    11
26       434  EJG Morgan    10
27       628  EJG Morgan    10
28       424  EJG Morgan     9
29       453  EJG Morgan     9
30       281  EJG Morgan     8
31       178  EJG Morgan     7
32       568  EJG Morgan     7
33       564  EJG Morgan     7
34       406  EJG Morgan     7
35       258  EJG Morgan     6
36       235  EJG Morgan     6
37       188  EJG Morgan     6
38       291  EJG Morgan     5
39       392  EJG Morgan     5
40       192  EJG Morgan     4
41        54  EJG Morgan     4
42       531  EJG Morgan     2
43       598  EJG Morgan     2
44       266  EJG Morgan     1

In [138]:
balls = Emorgon_Ball_faced_IPL['ball']>=7
balls.value_counts()

True     35
False    10
Name: ball, dtype: int64

In [136]:
Batsman_strike_rate= pd.merge(Eoin_runs_IPL,Emorgon_Ball_faced_IPL,on="batsman",how='outer')
# Merging two data frames batsman run and batsman ball to get strike rate
Batsman_strike_rate= Batsman_strike_rate[Batsman_strike_rate["batsman_runs"]>=66]
#  more than 0 runs because Eoin Morgon have score  10 runs in total against Royals Challenger Banglore
Batsman_strike_rate["strike_rate"]= (Batsman_strike_rate["batsman_runs"]/Batsman_strike_rate["ball"])*100
# formula for strike rate
Batsman_strike_rate= Batsman_strike_rate[["batsman","strike_rate"]]
# Removing other coloumns from here only keeping batsman and strike rate
batsman_strike_rate_IPL=Batsman_strike_rate.sort_values(by="strike_rate",ascending=False).reset_index(drop=True)
batsman_strike_rate_IPL

       batsman  strike_rate
0   EJG Morgan  6600.000000
1   EJG Morgan  3300.000000
2   EJG Morgan  3300.000000
3   EJG Morgan  1650.000000
4   EJG Morgan  1650.000000
5   EJG Morgan  1320.000000
6   EJG Morgan  1320.000000
7   EJG Morgan  1100.000000
8   EJG Morgan  1100.000000
9   EJG Morgan  1100.000000
10  EJG Morgan   942.857143
11  EJG Morgan   942.857143
12  EJG Morgan   942.857143
13  EJG Morgan   942.857143
14  EJG Morgan   825.000000
15  EJG Morgan   733.333333
16  EJG Morgan   733.333333
17  EJG Morgan   660.000000
18  EJG Morgan   660.000000
19  EJG Morgan   600.000000
20  EJG Morgan   550.000000
21  EJG Morgan   550.000000
22  EJG Morgan   471.428571
23  EJG Morgan   440.000000
24  EJG Morgan   440.000000
25  EJG Morgan   440.000000
26  EJG Morgan   412.500000
27  EJG Morgan   388.235294
28  EJG Morgan   366.666667
29  EJG Morgan   366.666667
30  EJG Morgan   330.000000
31  EJG Morgan   330.000000
32  EJG Morgan   314.285714
33  EJG Morgan   275.000000
34  EJG Morgan   264.000000
35  EJG Morgan   264.000000
36  EJG Morgan   264.000000
37  EJG Morgan   244.444444
38  EJG Morgan   244.444444
39  EJG Morgan   220.000000
40  EJG Morgan   220.000000
41  EJG Morgan   169.230769
42  EJG Morgan   169.230769
43  EJG Morgan   153.488372
44  EJG Morgan   126.923077

In [176]:
e_ipl =batsman_strike_rate_IPL.mean()

In [160]:
Eoin_runs= pd.merge(Eoin_runs_IPL,Emorgon_Ball_faced_IPL,on="match_id",how='outer')
Eoin_runs
Eoin_runs =Eoin_runs.drop('batsman_y',axis =1)

In [161]:
Eoin_runs.T

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
match_id,278,558,389,584,400,397,415,418,551,413,...,281,555,54,392,291,406,192,531,266,598
batsman_x,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,...,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan,EJG Morgan
batsman_runs,66,63,51,51,47,47,42,32,32,31,...,5,5,4,2,2,2,1,1,0,0
ball,52,30,39,43,39,24,27,25,27,25,...,8,11,4,5,5,7,4,2,1,2

In [163]:
E_strike_7 = Eoin_runs[(Eoin_runs['ball']>=7)]
E_strike_7

    match_id   batsman_x  batsman_runs  ball
0        278  EJG Morgan            66    52
1        558  EJG Morgan            63    30
2        389  EJG Morgan            51    39
3        584  EJG Morgan            51    43
4        400  EJG Morgan            47    39
5        397  EJG Morgan            47    24
6        415  EJG Morgan            42    27
7        418  EJG Morgan            32    25
8        551  EJG Morgan            32    27
9        413  EJG Morgan            31    25
10       270  EJG Morgan            28    15
11       529  EJG Morgan            27    30
12        32  EJG Morgan            26    21
13       594  EJG Morgan            25    20
14       561  EJG Morgan            22    25
15       580  EJG Morgan            22    18
16        15  EJG Morgan            22    20
17       197  EJG Morgan            17    14
18       564  EJG Morgan            17     7
19       437  EJG Morgan            15    15
20       628  EJG Morgan            14    10
21       382  EJG Morgan            14    16
22       275  EJG Morgan            14    18
23        19  EJG Morgan            13    17
24       568  EJG Morgan            11     7
25       588  EJG Morgan            11    12
26       255  EJG Morgan            10    12
27       424  EJG Morgan            10     9
28       178  EJG Morgan            10     7
29       453  EJG Morgan             9     9
30       572  EJG Morgan             9    15
34       434  EJG Morgan             5    10
35       281  EJG Morgan             5     8
36       555  EJG Morgan             5    11
40       406  EJG Morgan             2     7

In [172]:
eoin_7balls = E_strike_7[E_strike_7['ball']<=7]
eoin_7balls

    match_id   batsman_x  batsman_runs  ball
18       564  EJG Morgan            17     7
24       568  EJG Morgan            11     7
28       178  EJG Morgan            10     7
40       406  EJG Morgan             2     7

In [178]:
strike_rate=(np.sum(eoin_7balls['batsman_runs'].values)/eoin_7balls.shape[0])*100

In [177]:
e_balls =strike_rate.mean()

In [183]:
Morgan_last7balls = e_balls - e_ipl
Morgan_last7balls

strike_rate    145.830222
dtype: float64

# RCB runs in death overs against KKR

In [142]:
name = 'Royal Challengers Bangalore'
RCB = rcb_kkr_del[rcb_kkr_del['batting_team'] == name]
RCB.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6375,27,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,1,CH Gayle,V Kohli,NM Coulter-Nile,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN

In [143]:
RCB_runs = RCB[(RCB['over']>=16)&(KKR['over']<=20)]

In [147]:
RCB_runs.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
10498,45,1,Royal Challengers Bangalore,Kolkata Knight Riders,16,1,Mandeep Singh,TM Head,SP Narine,0,...,0,0,0,0,0,0,0,Mandeep Singh,caught,UT Yadav
10499,45,1,Royal Challengers Bangalore,Kolkata Knight Riders,16,2,TM Head,KM Jadhav,SP Narine,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10500,45,1,Royal Challengers Bangalore,Kolkata Knight Riders,16,3,KM Jadhav,TM Head,SP Narine,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10501,45,1,Royal Challengers Bangalore,Kolkata Knight Riders,16,4,TM Head,KM Jadhav,SP Narine,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10502,45,1,Royal Challengers Bangalore,Kolkata Knight Riders,16,5,KM Jadhav,TM Head,SP Narine,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [148]:
RCB_runs['match_id'].unique()

array([   45,    60,    88,   134,   156,   178,   217,   258,   317,
         344,   392,   441,   468,   506,   522,   606,   624,  7896,
        7922, 11153, 11326], dtype=int64)

In [149]:
RCB_runs['over'].unique()

array([16, 17, 18, 19, 20], dtype=int64)

In [150]:
RCB_deathover_runs = RCB_runs.groupby(['match_id'])['total_runs'].sum()
RCB_deathover_runs

match_id
45       53
60        1
88       13
134      45
156      57
178      46
217      42
258      23
317      42
344      56
392      41
441      31
468      32
506      59
522      60
606      73
624      51
7896     45
7922     69
11153    66
11326    94
Name: total_runs, dtype: int64

In [151]:
RCB_deathover_runs.mean()

47.57142857142857

In [153]:
RCB_deathover_runs.median()

46.0

# RCB total runs against KKR

In [154]:
RCB.groupby('match_id')['total_runs'].sum()

match_id
27        49
45       158
60        82
88       124
134      143
156      176
178      135
217      162
258      175
291      105
317      123
344      143
392      158
441      115
468      148
506      165
522      179
550      115
606      185
624      186
7896     182
7922     185
11153    210
11326    219
Name: total_runs, dtype: int64