In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as py
import cufflinks as cf
%matplotlib inline
%matplotlib notebook

In [2]:
from plotly.offline import iplot
py.offline.init_notebook_mode(connected = True)
cf.go_offline()

In [3]:
delivers = pd.read_csv('D:\datasets\deliveries.csv')

In [4]:
delivers.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
delivers.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [6]:
delivers.shape

(179078, 21)

In [7]:
delivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [8]:
matches = pd.read_csv('D:\datasets\matches.csv')

In [9]:
matches.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [10]:
matches.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [11]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [12]:
matches.shape

(756, 18)

In [13]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [14]:
matches["result"].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [15]:
tie = matches[matches['result'] == 'tie']
tie

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [16]:
no_result =matches[matches['result'] == 'no result']
no_result

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [17]:
matches_result = matches[['team1','team2','winner']]
matches_result.head()

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [18]:
matches_result['lost'] = matches_result.apply(lambda x:   (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis = 1)

In [19]:
matches_result.head(10)

,team1,team2,winner,lost
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils
5,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,Gujarat Lions
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Kolkata Knight Riders
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Royal Challengers Bangalore
8,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,Rising Pune Supergiant
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Sunrisers Hyderabad

In [20]:
wins = matches_result['winner'].value_counts()
wins

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [21]:
lost = matches_result['lost'].value_counts()
lost

Royal Challengers Bangalore    95
Delhi Daredevils               94
Kings XI Punjab                94
Kolkata Knight Riders          86
Mumbai Indians                 78
Rajasthan Royals               70
Chennai Super Kings            64
Sunrisers Hyderabad            50
Deccan Chargers                46
Pune Warriors                  33
Gujarat Lions                  17
Rising Pune Supergiants         9
Kochi Tuskers Kerala            8
Rising Pune Supergiant          6
Delhi Capitals                  6
Name: lost, dtype: int64

In [22]:
wins.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Winning Count')

In [23]:
lost.iplot(kind ='bar',xTitle ='Team',yTitle='Count',title='Losing Count')

# KKR VS RR HEAD TO HEAD ANALYSIS

In [24]:
def get_kkrvsrr(team1,team2):
    teams =['Kolkata Knight Riders','Rajasthan Royals']
    
    if team1 in teams and team2 in teams:
        return True
    else:
        return False

In [25]:
index = [ ]

for row in matches.iterrows():
    flag = get_kkrvsrr(row[1]['team1'],row[1]['team2'])
    index.append(flag)
    
sum(index)

20

In [26]:
kkr_rr = matches[index]

In [27]:
kkr_rr.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
77,78,2008,Jaipur,2008-05-01,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,normal,0,Rajasthan Royals,45,0,SA Asnodkar,Sawai Mansingh Stadium,RE Koertzen,GA Pratapkumar,NaN

In [28]:
kkr_rr['dl_applied']

77     0
104    0
125    0
167    0
186    0
226    0
245    0
250    0
313    0
321    0
388    0
426    0
475    0
481    0
569    0
650    0
684    0
693    0
716    0
738    0
Name: dl_applied, dtype: int64

In [29]:
kkr_rr = kkr_rr.drop('dl_applied',axis=1)

# HEAD TO HEAD MATCHES

In [30]:
kkr_rr['winner'].value_counts().iplot(kind='bar')

In [31]:
team_win= kkr_rr[['team1','team2','toss_winner','toss_decision','winner']]
team_win.head()

,team1,team2,toss_winner,toss_decision,winner
77,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,Rajasthan Royals
104,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals
125,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,Rajasthan Royals
167,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders
186,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,Rajasthan Royals

In [32]:
team_decision= kkr_rr[['toss_winner','toss_decision','winner']]
team_decision.head()

               toss_winner toss_decision                 winner
77        Rajasthan Royals           bat       Rajasthan Royals
104       Rajasthan Royals         field       Rajasthan Royals
125  Kolkata Knight Riders         field       Rajasthan Royals
167  Kolkata Knight Riders         field  Kolkata Knight Riders
186       Rajasthan Royals           bat       Rajasthan Royals

In [33]:
corr = kkr_rr.corr()

In [34]:
sns.heatmap(corr,annot = True)

In [35]:
kkr_rr['venue'].value_counts()

Eden Gardens                    8
Sawai Mansingh Stadium          6
Sardar Patel Stadium, Motera    2
Newlands                        1
Kingsmead                       1
Sheikh Zayed Stadium            1
Brabourne Stadium               1
Name: venue, dtype: int64

In [36]:
venue= kkr_rr[['toss_winner','toss_decision','venue','winner']]
venue.head(18)

,toss_winner,toss_decision,venue,winner
77,Rajasthan Royals,bat,Sawai Mansingh Stadium,Rajasthan Royals
104,Rajasthan Royals,field,Eden Gardens,Rajasthan Royals
125,Kolkata Knight Riders,field,Newlands,Rajasthan Royals
167,Kolkata Knight Riders,field,Kingsmead,Kolkata Knight Riders
186,Rajasthan Royals,bat,"Sardar Patel Stadium, Motera",Rajasthan Royals
226,Rajasthan Royals,bat,Eden Gardens,Kolkata Knight Riders
245,Kolkata Knight Riders,field,Sawai Mansingh Stadium,Kolkata Knight Riders
250,Kolkata Knight Riders,field,Eden Gardens,Kolkata Knight Riders
313,Kolkata Knight Riders,field,Sawai Mansingh Stadium,Rajasthan Royals
321,Rajasthan Royals,bat,Eden Gardens,Kolkata Knight Riders
388,Kolkata Knight Riders,field,Sawai Mansingh Stadium,Rajasthan Royals
426,Rajasthan Royals,bat,Eden Gardens,Kolkata Knight Riders
475,Rajasthan Royals,bat,Sheikh Zayed Stadium,Rajasthan Royals
481,Kolkata Knight Riders,field,"Sardar Patel Stadium, Motera",Rajasthan Royals
569,Rajasthan Royals,bat,Brabourne Stadium,Rajasthan Royals
650,Kolkata Knight Riders,field,Sawai Mansingh Stadium,Kolkata Knight Riders
684,Kolkata Knight Riders,field,Eden Gardens,Kolkata Knight Riders
693,Rajasthan Royals,field,Eden Gardens,Kolkata Knight Riders

# Head to Head Win based tossed decision playing 1st or 2nd InningÂ¶

In [37]:
team_decision.groupby(['toss_winner','winner'])['toss_decision'].value_counts()

toss_winner            winner                 toss_decision
Kolkata Knight Riders  Kolkata Knight Riders  field            6
                       Rajasthan Royals       field            4
Rajasthan Royals       Kolkata Knight Riders  bat              3
                                              field            1
                       Rajasthan Royals       bat              4
                                              field            2
Name: toss_decision, dtype: int64

In [38]:
kkr_rr.shape

(20, 17)

In [39]:
delivers['batting_team'].value_counts()

Mumbai Indians                 22619
Kings XI Punjab                20931
Royal Challengers Bangalore    20908
Kolkata Knight Riders          20858
Chennai Super Kings            19762
Delhi Daredevils               18786
Rajasthan Royals               17292
Sunrisers Hyderabad            12908
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Delhi Capitals                  1909
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [40]:
delivers['batting_team'].value_counts().iplot(kind ='bar',xTitle = 'Team',yTitle = 'Runs',title ='Runs scored by Teams in IPL 2008-19')

In [41]:
def get_kkrvsrr(batting_team,bowling_team):
    teams =['Kolkata Knight Riders','Rajasthan Royals']
    
    if batting_team in teams and bowling_team in teams:
        return True
    else:
        return False

In [42]:
index = [ ]

for row in delivers.iterrows():
    flag = get_kkrvsrr(row[1]['batting_team'],row[1]['bowling_team'])
    index.append(flag)
    
sum(index)

4783

In [43]:
kkr_rr_del = delivers[index]

In [44]:
kkr_rr_del.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
18123,78,1,Rajasthan Royals,Kolkata Knight Riders,1,1,GC Smith,SA Asnodkar,AB Dinda,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18124,78,1,Rajasthan Royals,Kolkata Knight Riders,1,2,GC Smith,SA Asnodkar,AB Dinda,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
18125,78,1,Rajasthan Royals,Kolkata Knight Riders,1,3,GC Smith,SA Asnodkar,AB Dinda,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18126,78,1,Rajasthan Royals,Kolkata Knight Riders,1,4,SA Asnodkar,GC Smith,AB Dinda,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
18127,78,1,Rajasthan Royals,Kolkata Knight Riders,1,5,SA Asnodkar,GC Smith,AB Dinda,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [46]:
kkr_rr_del.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

# How many wickets will fall in the match

In [53]:
total_wicket = kkr_rr_del[ pd.notnull(kkr_rr_del["player_dismissed"])]
total_wicket = total_wicket[["match_id", "batting_team","over","inning", "bowler","player_dismissed", "dismissal_kind", "fielder"]]

In [54]:
total_wicket

,match_id,batting_team,over,inning,bowler,player_dismissed,dismissal_kind,fielder
18134,78,Rajasthan Royals,2,1,I Sharma,GC Smith,bowled,NaN
18165,78,Rajasthan Royals,7,1,AB Agarkar,M Kaif,caught and bowled,NaN
18193,78,Rajasthan Royals,12,1,Umar Gul,SA Asnodkar,caught,DJ Hussey
18196,78,Rajasthan Royals,12,1,Umar Gul,SR Watson,lbw,NaN
18231,78,Rajasthan Royals,18,1,LR Shukla,RA Jadeja,bowled,NaN
...,...,...,...,...,...,...,...,...
175110,11334,Rajasthan Royals,8,2,SP Narine,SPD Smith,bowled,NaN
175128,11334,Rajasthan Royals,11,2,PP Chawla,BA Stokes,caught,AD Russell
175145,11334,Rajasthan Royals,13,2,PP Chawla,STR Binny,caught,R Singh
175162,11334,Rajasthan Royals,16,2,P Krishna,S Gopal,caught,S Gill
175184,11334,Rajasthan Royals,19,2,AD Russell,R Parag,hit wicket,NaN

In [55]:
total_wicket['dismissal_kind'].value_counts()

caught               128
bowled                52
run out               31
lbw                   15
stumped               13
caught and bowled      4
hit wicket             1
Name: dismissal_kind, dtype: int64

In [56]:
wicket = total_wicket[['match_id',"over",'batting_team','inning','dismissal_kind']]

In [57]:
wicket

        match_id  over      batting_team  inning     dismissal_kind
18134         78     2  Rajasthan Royals       1             bowled
18165         78     7  Rajasthan Royals       1  caught and bowled
18193         78    12  Rajasthan Royals       1             caught
18196         78    12  Rajasthan Royals       1                lbw
18231         78    18  Rajasthan Royals       1             bowled
...          ...   ...               ...     ...                ...
175110     11334     8  Rajasthan Royals       2             bowled
175128     11334    11  Rajasthan Royals       2             caught
175145     11334    13  Rajasthan Royals       2             caught
175162     11334    16  Rajasthan Royals       2             caught
175184     11334    19  Rajasthan Royals       2         hit wicket

[244 rows x 5 columns]

In [58]:
match_wickets = wicket.groupby(['match_id','over','batting_team'])['dismissal_kind'].value_counts()
match_wickets

match_id  over  batting_team           dismissal_kind
78        2     Kolkata Knight Riders  bowled               1
                Rajasthan Royals       bowled               1
          5     Kolkata Knight Riders  caught               1
          6     Kolkata Knight Riders  run out              1
          7     Rajasthan Royals       caught and bowled    1
                                                           ..
11334     13    Rajasthan Royals       caught               1
          16    Rajasthan Royals       caught               1
          17    Kolkata Knight Riders  caught               1
          18    Kolkata Knight Riders  caught               1
          19    Rajasthan Royals       hit wicket           1
Name: dismissal_kind, Length: 232, dtype: int64

# Batsman Ratio

In [123]:
Batsman_fours=kkr_rr_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==4).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 4 
Batsman_fours.columns = ["batsman", "No. of 4s"]
Batsman_fours

           batsman  No. of 4s
0        AM Rahane         35
1        SR Watson         33
2        YK Pathan         31
3        G Gambhir         28
4       SC Ganguly         24
..             ...        ...
97       PP Chawla          0
98         R Singh          0
99   R Vinay Kumar          0
100      RJ Quiney          0
101        M Rawat          0

[102 rows x 2 columns]

In [124]:
Batsman_Ball_faced=kkr_rr_del.groupby(['batsman'])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Batsman_Ball_faced

           batsman  ball
0        AM Rahane   278
1        SR Watson   228
2        YK Pathan   220
3        G Gambhir   217
4       SC Ganguly   195
..             ...   ...
97         SW Tait     1
98     T Henderson     1
99         MJ Lumb     1
100  R Vinay Kumar     1
101        M Rawat     1

[102 rows x 2 columns]

In [125]:
Batsman_singles=kkr_rr_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==1).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 1 
Batsman_singles.columns = ["batsman", "No. of 1s"]
Batsman_singles

             batsman  No. of 1s
0          AM Rahane        104
1          G Gambhir         85
2          SR Watson         84
3          YK Pathan         78
4          SV Samson         71
..               ...        ...
97           MJ Lumb          0
98           SW Tait          0
99         PP Chawla          0
100    R Vinay Kumar          0
101  Mohammad Hafeez          0

[102 rows x 2 columns]

In [126]:
Batsman_doubles=kkr_rr_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==2).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 2 
Batsman_doubles.columns = ["batsman", "No. of 2s"]
Batsman_doubles

              batsman  No. of 2s
0           AM Rahane         22
1           G Gambhir         17
2           SR Watson         14
3          SC Ganguly         14
4           SPD Smith         13
..                ...        ...
97            R Singh          0
98      R Vinay Kumar          0
99          RJ Quiney          0
100  RN ten Doeschate          0
101           M Rawat          0

[102 rows x 2 columns]

In [127]:
Batsman_triples=kkr_rr_del.groupby(['batsman'])["batsman_runs"].agg(lambda x: (x==3).sum()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
# taking only batsman runs where runs = 3 
Batsman_triples.columns = ["batsman", "No. of 3s"]
Batsman_triples

         batsman  No. of 3s
0      MK Tiwary          3
1      G Gambhir          2
2      SPD Smith          1
3        OA Shah          1
4        KK Nair          1
..           ...        ...
97      I Sharma          0
98     H Klaasen          0
99      FY Fazal          0
100  DS Kulkarni          0
101      M Rawat          0

[102 rows x 2 columns]

In [128]:
Batsman_score=kkr_rr_del.groupby('batsman')["batsman_runs"].agg(sum).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)
Batsman_score

           batsman  batsman_runs
0        AM Rahane           339
1        YK Pathan           310
2        SR Watson           310
3        G Gambhir           255
4       SC Ganguly           237
..             ...           ...
97         SW Tait             0
98   R Vinay Kumar             0
99       PP Chawla             0
100    T Henderson             0
101        MJ Lumb             0

[102 rows x 2 columns]

In [129]:
Batsman_1s_2s_3s = pd.merge(Batsman_singles,Batsman_doubles,on='batsman')

In [130]:
Batsman_1s_2s_3s = pd.merge(Batsman_1s_2s_3s,Batsman_triples,on='batsman')

In [131]:
Batsman_1s_2s_3s

             batsman  No. of 1s  No. of 2s  No. of 3s
0          AM Rahane        104         22          1
1          G Gambhir         85         17          2
2          SR Watson         84         14          0
3          YK Pathan         78         12          0
4          SV Samson         71         11          1
..               ...        ...        ...        ...
97           MJ Lumb          0          0          0
98           SW Tait          0          0          0
99         PP Chawla          0          0          0
100    R Vinay Kumar          0          0          0
101  Mohammad Hafeez          0          0          0

[102 rows x 4 columns]

In [132]:
Batsman_1s_2s_3s['No_1s2s3s'] =Batsman_1s_2s_3s['No. of 1s']+Batsman_1s_2s_3s['No. of 2s']+Batsman_1s_2s_3s['No. of 3s']

In [133]:
Batsman_1s_2s_3s

             batsman  No. of 1s  No. of 2s  No. of 3s  No_1s2s3s
0          AM Rahane        104         22          1        127
1          G Gambhir         85         17          2        104
2          SR Watson         84         14          0         98
3          YK Pathan         78         12          0         90
4          SV Samson         71         11          1         83
..               ...        ...        ...        ...        ...
97           MJ Lumb          0          0          0          0
98           SW Tait          0          0          0          0
99         PP Chawla          0          0          0          0
100    R Vinay Kumar          0          0          0          0
101  Mohammad Hafeez          0          0          0          0

[102 rows x 5 columns]

In [134]:
Batsman_runs_ratio = pd.merge(Batsman_1s_2s_3s ,Batsman_fours,on ='batsman')

In [135]:
Batsman_runs_ratio

             batsman  No. of 1s  No. of 2s  No. of 3s  No_1s2s3s  No. of 4s
0          AM Rahane        104         22          1        127         35
1          G Gambhir         85         17          2        104         28
2          SR Watson         84         14          0         98         33
3          YK Pathan         78         12          0         90         31
4          SV Samson         71         11          1         83         16
..               ...        ...        ...        ...        ...        ...
97           MJ Lumb          0          0          0          0          0
98           SW Tait          0          0          0          0          0
99         PP Chawla          0          0          0          0          0
100    R Vinay Kumar          0          0          0          0          0
101  Mohammad Hafeez          0          0          0          0          1

[102 rows x 6 columns]

In [136]:
Batsman_runs_ratio = pd.merge(Batsman_runs_ratio,Batsman_Ball_faced,on='batsman')

In [137]:
Batsman_runs_ratio = pd.merge(Batsman_runs_ratio,Batsman_score,on='batsman')

In [138]:
Batsman_runs_ratio['Run_Diff'] = Batsman_runs_ratio['No_1s2s3s'] - Batsman_runs_ratio['No. of 4s']

In [139]:
Batsman_runs_ratio

,batsman,No. of 1s,No. of 2s,No. of 3s,No_1s2s3s,No. of 4s,ball,batsman_runs,Run_Diff
0,AM Rahane,104,22,1,127,35,278,339,92
1,G Gambhir,85,17,2,104,28,217,255,76
2,SR Watson,84,14,0,98,33,228,310,65
3,YK Pathan,78,12,0,90,31,220,310,59
4,SV Samson,71,11,1,83,16,168,196,67
...,...,...,...,...,...,...,...,...,...
97,MJ Lumb,0,0,0,0,0,1,0,0
98,SW Tait,0,0,0,0,0,1,0,0
99,PP Chawla,0,0,0,0,0,2,0,0
100,R Vinay Kumar,0,0,0,0,0,1,0,0
101,Mohammad Hafeez,0,0,0,0,1,8,4,-1

In [140]:
Batsman_runs_ratio=Batsman_runs_ratio[Batsman_runs_ratio["batsman_runs"]>50]# Taking batsman runs more than 50runs and more than 10 balls  
Batsman_runs_ratio["Run_Ratio"]=Batsman_runs_ratio["Run_Diff"]/Batsman_runs_ratio["batsman_runs"]
Batsman_runs_ratio=Batsman_runs_ratio.sort_values(by="Run_Ratio").reset_index(drop=True)
Batsman_runs_ratio.iloc[:50,:]

,batsman,No. of 1s,No. of 2s,No. of 3s,No_1s2s3s,No. of 4s,ball,batsman_runs,Run_Diff,Run_Ratio
0,SA Asnodkar,13,1,0,14,12,44,69,2,0.028986
1,SP Narine,17,4,0,21,15,74,127,6,0.047244
2,CH Gayle,8,1,0,9,5,47,54,4,0.074074
3,NV Ojha,15,1,0,16,8,54,67,8,0.119403
4,M Kaif,13,4,0,17,7,51,55,10,0.181818
5,AD Russell,29,1,0,30,9,71,115,21,0.182609
6,YK Pathan,78,12,0,90,31,220,310,59,0.190323
7,CA Lynn,33,3,0,36,13,102,115,23,0.200000
8,R Dravid,30,7,0,37,14,110,112,23,0.205357
9,RA Tripathi,20,1,0,21,7,47,68,14,0.205882
10,SR Watson,84,14,0,98,33,228,310,65,0.209677
11,JC Buttler,29,6,0,35,12,79,107,23,0.214953
12,KD Karthik,59,11,0,70,18,144,237,52,0.219409
13,RV Uthappa,52,3,1,56,16,130,167,40,0.239521
14,KK Nair,18,3,1,22,7,52,61,15,0.245902
15,SC Ganguly,68,14,1,83,24,195,237,59,0.248945
16,EJG Morgan,12,3,1,16,3,39,51,13,0.254902
17,AM Rahane,104,22,1,127,35,278,339,92,0.271386
18,MK Tiwary,43,7,3,53,15,120,138,38,0.275362
19,S Gill,19,2,0,21,6,42,53,15,0.283019
20,CA Pujara,30,1,0,31,9,65,74,22,0.297297
21,G Gambhir,85,17,2,104,28,217,255,76,0.298039
22,Shakib Al Hasan,27,7,0,34,7,60,81,27,0.333333
23,DJ Hussey,22,4,0,26,5,60,62,21,0.338710
24,BJ Hodge,54,11,0,65,14,123,150,51,0.340000
25,SV Samson,71,11,1,83,16,168,196,67,0.341837
26,N Rana,35,4,0,39,8,77,87,31,0.356322
27,AL Menaria,35,4,0,39,7,78,89,32,0.359551
28,MS Bisla,28,5,0,33,7,99,72,26,0.361111
29,LR Shukla,32,6,0,38,5,90,88,33,0.375000
30,SPD Smith,43,13,1,57,11,94,122,46,0.377049
31,OA Shah,40,4,1,45,7,88,97,38,0.391753
32,DB Das,20,4,0,24,2,47,54,22,0.407407
33,JH Kallis,69,10,1,80,13,164,162,67,0.413580
34,RA Jadeja,29,9,0,38,4,67,69,34,0.492754

In [144]:
Batsman_runs_ratio[Batsman_runs_ratio['Run_Ratio'] >0.30]

,batsman,No. of 1s,No. of 2s,No. of 3s,No_1s2s3s,No. of 4s,ball,batsman_runs,Run_Diff,Run_Ratio
22,Shakib Al Hasan,27,7,0,34,7,60,81,27,0.333333
23,DJ Hussey,22,4,0,26,5,60,62,21,0.338710
24,BJ Hodge,54,11,0,65,14,123,150,51,0.340000
25,SV Samson,71,11,1,83,16,168,196,67,0.341837
26,N Rana,35,4,0,39,8,77,87,31,0.356322
27,AL Menaria,35,4,0,39,7,78,89,32,0.359551
28,MS Bisla,28,5,0,33,7,99,72,26,0.361111
29,LR Shukla,32,6,0,38,5,90,88,33,0.375000
30,SPD Smith,43,13,1,57,11,94,122,46,0.377049
31,OA Shah,40,4,1,45,7,88,97,38,0.391753
32,DB Das,20,4,0,24,2,47,54,22,0.407407
33,JH Kallis,69,10,1,80,13,164,162,67,0.413580
34,RA Jadeja,29,9,0,38,4,67,69,34,0.492754

In [145]:
Batsman_runs_ratio['Run_Ratio'].max()

0.4927536231884058

# Jofra Archer Economy and Number of Boundaries Given

In [85]:
four = []
six = []
for i in kkr_rr_del['batsman_runs']:
    if i == 4 or i == 5:
        four.append(1)
        six.append(0)
    elif i == 6 or i == 7:
        four.append(0)
        six.append(1)
    else:
        four.append(0)
        six.append(0)
      
    
kkr_rr_del['four'] = four
kkr_rr_del['six'] = six

In [86]:
kkr_rr_del

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
18123,78,1,Rajasthan Royals,Kolkata Knight Riders,1,1,GC Smith,SA Asnodkar,AB Dinda,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
18124,78,1,Rajasthan Royals,Kolkata Knight Riders,1,2,GC Smith,SA Asnodkar,AB Dinda,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
18125,78,1,Rajasthan Royals,Kolkata Knight Riders,1,3,GC Smith,SA Asnodkar,AB Dinda,0,...,0,0,1,0,1,NaN,NaN,NaN,0,0
18126,78,1,Rajasthan Royals,Kolkata Knight Riders,1,4,SA Asnodkar,GC Smith,AB Dinda,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0
18127,78,1,Rajasthan Royals,Kolkata Knight Riders,1,5,SA Asnodkar,GC Smith,AB Dinda,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175183,11334,2,Rajasthan Royals,Kolkata Knight Riders,19,4,R Parag,J Archer,AD Russell,0,...,0,0,6,0,6,NaN,NaN,NaN,0,1
175184,11334,2,Rajasthan Royals,Kolkata Knight Riders,19,5,R Parag,J Archer,AD Russell,0,...,0,0,0,0,0,R Parag,hit wicket,NaN,0,0
175185,11334,2,Rajasthan Royals,Kolkata Knight Riders,19,6,JD Unadkat,J Archer,AD Russell,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
175186,11334,2,Rajasthan Royals,Kolkata Knight Riders,20,1,J Archer,JD Unadkat,P Krishna,0,...,0,0,4,0,4,NaN,NaN,NaN,1,0
175187,11334,2,Rajasthan Royals,Kolkata Knight Riders,20,2,J Archer,JD Unadkat,P Krishna,0,...,0,0,6,0,6,NaN,NaN,NaN,0,1

In [89]:
name = 'J Archer'
Archer = kkr_rr_del[kkr_rr_del['bowler'] == name]
Archer.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,four,six
161943,7942,2,Kolkata Knight Riders,Rajasthan Royals,3,1,RV Uthappa,CA Lynn,J Archer,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0

In [96]:
Archer['match_id'].unique()

array([ 7942,  7951, 11312, 11334], dtype=int64)

In [94]:
Jofra_boundary= Archer[Archer["four"]!=0][["match_id","ball","bowler"]] # here taking boundary off the bowler/boundary conceived I am not considering include in over
Jofra_boundary = Jofra_boundary.groupby(["match_id","bowler"])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)

In [95]:
Jofra_boundary

   match_id    bowler  ball
0      7942  J Archer     6
1      7951  J Archer     2
2     11312  J Archer     1

In [100]:
Jofra_wicket = Archer[Archer["dismissal_kind"] != "run out"]
Jofra_wicket= Jofra_wicket[["match_id","bowler","player_dismissed"]]
Jofra_wicket = Jofra_wicket.dropna()
Jofra_wicket= Jofra_wicket.groupby(["match_id","bowler"])["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
Jofra_wicket.columns=["match_id","bowler","Wickets"]
Jofra_wicket

   match_id    bowler  Wickets
0      7951  J Archer        2

In [108]:
Jofra_over= Archer[Archer["extra_runs"]==0][["match_id","ball","bowler"]] # here extra balls I am not considering include in over
Jofra_over= Jofra_over.groupby(["match_id","bowler"])["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Jofra_over["No_of_Overs"]=(Jofra_over["ball"]/6)
Jofra_over

   match_id    bowler  ball  No_of_Overs
0      7942  J Archer    24     4.000000
1      7951  J Archer    24     4.000000
2     11334  J Archer    24     4.000000
3     11312  J Archer    17     2.833333

In [107]:
Jofra_dotball= Archer.groupby(["match_id","bowler"])["total_runs"].agg(lambda x: (x==0).sum()).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Jofra_dotball.columns=["match_id","bowler","No_of_balls"]
Jofra_dotball

   match_id    bowler  No_of_balls
0      7951  J Archer           12
1     11334  J Archer           12
2     11312  J Archer           11
3      7942  J Archer           10

In [106]:
Jofra_extraball= Archer.groupby(["match_id","bowler"])["extra_runs"].agg(lambda x: (x>0).sum()).reset_index().sort_values(by="extra_runs",ascending=False).reset_index(drop=True)
Jofra_extraball.columns=["match_id","bowler","No_of_balls"]
Jofra_extraball

   match_id    bowler  No_of_balls
0      7951  J Archer            4
1     11312  J Archer            1
2     11334  J Archer            1
3      7942  J Archer            0

In [105]:
Jofra_Runs= Archer.groupby(["match_id","bowler"])["total_runs"].sum().reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Jofra_Runs.columns=["match_id","bowler","Total_runs_given"]
Jofra_Runs

   match_id    bowler  Total_runs_given
0      7942  J Archer                43
1      7951  J Archer                37
2     11334  J Archer                29
3     11312  J Archer                16

In [109]:
Jofra_economy= pd.merge(Jofra_Runs,Jofra_over,on="bowler")

In [114]:
Jofra_economy=Jofra_economy[Jofra_economy["No_of_Overs"]>=4] # Jofra Archer has played 4 matches and taking only when he bowled 4 overs
Jofra_economy["Economy_rate"]=Jofra_economy["Total_runs_given"]/Jofra_economy["No_of_Overs"]
Jofra_economy=Jofra_economy.sort_values(by="Economy_rate").reset_index(drop=True)
Jofra_economy

,match_id_x,bowler,Total_runs_given,match_id_y,ball,No_of_Overs,Economy_rate
0,11312,J Archer,16,7942,24,4.0,4.00
1,11312,J Archer,16,7951,24,4.0,4.00
2,11312,J Archer,16,11334,24,4.0,4.00
3,11334,J Archer,29,7942,24,4.0,7.25
4,11334,J Archer,29,7951,24,4.0,7.25
5,11334,J Archer,29,11334,24,4.0,7.25
6,7951,J Archer,37,7942,24,4.0,9.25
7,7951,J Archer,37,7951,24,4.0,9.25
8,7951,J Archer,37,11334,24,4.0,9.25
9,7942,J Archer,43,7942,24,4.0,10.75
10,7942,J Archer,43,7951,24,4.0,10.75
11,7942,J Archer,43,11334,24,4.0,10.75

# Bowler Economy in the Match

In [115]:
Bowler_wicket = kkr_rr_del[kkr_rr_del["dismissal_kind"] != "run out"]
Bowler_wicket= Bowler_wicket[["bowler","player_dismissed"]]
Bowler_wicket = Bowler_wicket.dropna()
Bowler_wicket= Bowler_wicket.groupby("bowler")["player_dismissed"].count().reset_index().sort_values(by="player_dismissed",ascending=False).reset_index(drop=True)
Bowler_wicket.columns=["bowler","Wickets"]
Bowler_wicket.iloc[:20,:]

             bowler  Wickets
0   Shakib Al Hasan        9
1         SP Narine        9
2        SK Trivedi        9
3         SR Watson        8
4         YK Pathan        6
5          MM Patel        6
6        AD Russell        6
7         KK Cooper        6
8       Kamran Khan        6
9     Kuldeep Yadav        6
10         I Sharma        6
11        PP Chawla        6
12         Umar Gul        5
13    Sohail Tanvir        5
14         PV Tambe        5
15        P Krishna        5
16    R Vinay Kumar        4
17         R Bhatia        4
18      JP Faulkner        4
19          S Gopal        4

In [116]:
Bowler_dotball= kkr_rr_del.groupby("bowler")["total_runs"].agg(lambda x: (x==0).sum()).reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Bowler_dotball.columns=["bowler","balls"]
Bowler_dotball

        bowler  balls
0    SP Narine    103
1    SR Watson     82
2   SK Trivedi     63
3     AB Dinda     57
4     SK Warne     56
..         ...    ...
80    ND Doshi      2
81   DJ Hussey      1
82   J Searles      1
83    FY Fazal      1
84    BJ Hodge      0

[85 rows x 2 columns]

In [118]:
Bowler_over= kkr_rr_del[kkr_rr_del["extra_runs"]==0][["ball","bowler"]] # here extra balls I am not considering include in over
Bowler_over= Bowler_over.groupby("bowler")["ball"].count().reset_index().sort_values(by="ball",ascending=False).reset_index(drop=True)
Bowler_over["No_of_Overs"]=(Bowler_over["ball"]/6)
Bowler_over

             bowler  ball  No_of_Overs
0         SP Narine   264    44.000000
1        SK Trivedi   191    31.833333
2         SR Watson   176    29.333333
3          SK Warne   166    27.666667
4   Shakib Al Hasan   141    23.500000
..              ...   ...          ...
80      T Henderson    11     1.833333
81         AJ Finch     7     1.166667
82          R Parag     6     1.000000
83        J Searles     6     1.000000
84         FY Fazal     6     1.000000

[85 rows x 3 columns]

In [119]:
Bowler_extraball= kkr_rr_del.groupby("bowler")["extra_runs"].agg(lambda x: (x>0).sum()).reset_index().sort_values(by="extra_runs",ascending=False).reset_index(drop=True)
Bowler_extraball.columns=["bowler","No_of_balls"]
Bowler_extraball.iloc[:15,:]

             bowler  No_of_balls
0         SR Watson           18
1         YK Pathan           15
2           SW Tait           11
3       JP Faulkner           11
4         JH Kallis           10
5          I Sharma           10
6             B Lee            9
7          Umar Gul            9
8   Shakib Al Hasan            9
9         SP Narine            9
10      Kamran Khan            8
11         L Balaji            8
12         SK Warne            7
13       SK Trivedi            6
14        P Krishna            6

In [120]:
Bowler_Runs= kkr_rr_del.groupby("bowler")["total_runs"].sum().reset_index().sort_values(by="total_runs",ascending=False).reset_index(drop=True)
Bowler_Runs.columns=["bowler","Total_runs_given"]
Bowler_Runs

              bowler  Total_runs_given
0          SP Narine               342
1         SK Trivedi               239
2          SR Watson               227
3           SK Warne               184
4          YK Pathan               176
..               ...               ...
80  RN ten Doeschate                14
81         J Searles                13
82       T Henderson                11
83           R Parag                 7
84          AJ Finch                 5

[85 rows x 2 columns]

In [153]:
Bowler_economy= pd.merge(Bowler_Runs,Bowler_over,on="bowler")

In [154]:
Bowler_economy=Bowler_economy[Bowler_economy["No_of_Overs"]>20] # taking only bowler with minimum 20 ov
Bowler_economy["Economy_rate"]=Bowler_economy["Total_runs_given"]/Bowler_economy["No_of_Overs"]
Bowler_economy=Bowler_economy.sort_values(by="Economy_rate").reset_index(drop=True)
Bowler_economy

            bowler  Total_runs_given  ball  No_of_Overs  Economy_rate
0  Shakib Al Hasan               156   141    23.500000      6.638298
1         SK Warne               184   166    27.666667      6.650602
2       SK Trivedi               239   191    31.833333      7.507853
3         R Bhatia               165   130    21.666667      7.615385
4        SR Watson               227   176    29.333333      7.738636
5        SP Narine               342   264    44.000000      7.772727
6        YK Pathan               176   134    22.333333      7.880597